[2015-04-06 17:50] pixelr0 commented on #2330
same here (using PPA)
nvim --version
NVIM 0.0.0-alpha (compiled Apr  6 2015 00:50:10)
Commit: ?
Build type: RelWithDebInfo
Compilation: /usr/bin/x86_64-linux-gnu-gcc -g -O2 -fstack-protector-strong -Wformat -Werror=format-security -Wconversion -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=1 -Og -g -Wall -Wextra -pedantic -Wno-unused-parameter -Wstrict-prototypes -std=gnu99 -DINCLUDE_GENERATED_DECLARATIONS -

[2015-04-06 18:29] philix commented on #731
Much of the useful glib functionality (useful to Neovim) is already covered by `libuv` (e.g. platform-independent threads, filesystem) or implemented by us (e.g. memory allocation functions). Glib would be very redundant. C strings are good:tm: and Pascal strings (struct with buffer and length) are used where they seem more appropriate.

@aktau proposed [sds](https://github/antirez/sds) https://gi

[2015-04-06 18:51] kaukas commented on #2230
Works for me! Thank you all for the effort! :)

[2015-04-06 19:02] treed opened #2364 "Segfault During Build (helptags)"
I'm getting a segfault during build:

[code]

This is on a fresh build for a Docker container. The Dockerfile is at https://github.com/treed/dotfiles/blob/master/Dockerfile.neovim, which derives from https://github.com/treed/dotfiles/blob/master/Dockerfile

Is there an extra log file that would have details of the segfault I can pass along?

[2015-04-06 19:24] starcraftman commented on #2258
@janko-m I've got the resolution to this bug!!! It appears to be a local user $HOME file. I made a new user just now to check, & it is bug free. Then I looked in my home for anything with nvim and I found `..nvimr-rplugin~`. I believe this is used by remote plugins & updated with the `UpdateRemotePlugins`. I forgot I had installed floobits & it was crashing cuz the plugin was long gone.

This migh

[2015-04-06 19:31] philix commented on #2358
This problem is affecting all tmux users. I had to work around this as well and it took me some time to find that issue. @justinmk what can be done to fix it or to at least inform users?

[2015-04-06 19:46] Pyrohh commented on #2364
Are you absolutely sure that you're running the latest version of nvim? This sounds just like the issue that was fixed by https://github.com/neovim/neovim/pull/2263.

[2015-04-06 20:07] Pyrohh commented on #2020
The assert isn't thrown... do I need to pass something like DEBUG_LEVEL to the build?

[2015-04-06 20:28] mauke commented on #2266
I don't care about keypresses. I need a log of neovim starting up to see if/how this is related to libunibilium.

[2015-04-06 21:01] treed commented on #2364
After you asked that, I thought maybe I was getting bit by Docker's build cache, but I just tried again with --no-cache and watched it clone a fresh copy:

[code]

and it still fails in the same way.

I've pasted the entirety of the docker build output here: http://sprunge.us/NUET

[2015-04-06 21:04] fwalch commented on #2364
There's also some problems with generating helptags on Arch Linux, but only with certain AUR helpers (doesn't work with pacaur, works with packer and plain makepkg).

[2015-04-06 21:21] janko-m commented on #2258
That's it!! I was playing with floobits a month ago, but I totally forgot about it. `rm ..nvimrc-rplugin~` solves my problem. Thank you for resolving it!

[2015-04-06 22:24] hkupty opened #2365 "Can't remap tab change"
For some time now I cannot bind window change commands, such as `<C-w> j` to `<C-j>`.

None of the below would work:
[code]
Hopefully I'm doing something wrong.. :smile:

[2015-04-06 22:24] splinterofchaos commented on #2359
Tried running this through valgrind, but it didn't find any problems. Just to be clear, you say it's "possible" as in it *may* cause an invalid dereference, but not definitely or not always?

[2015-04-06 22:31] splinterofchaos commented on #2335
@yshui, could you try #2348 and confirm that it fixes this for you?

[2015-04-06 22:33] hkupty commented on #2365
Well, I was making some tests and it looks like its related to `tmux`and to https://github.com/christoomey/vim-tmux-navigator.. I'll keep on checking, if it turns out to be a defect with the plugin, I'll close the issue..

[2015-04-06 22:41] hkupty commented on #2365
Yep.. Plugin stopped working for some reason after TUI. Should I close this issue?

[2015-04-06 23:02] starcraftman commented on #2258
@janko-m Even the same plugin eh? Man the simplest things some times!

[2015-04-06 23:20] splinterofchaos commented on #2365
You mean after the TUI got merged? Sounds like a regression so the issue should stay open, but a little more detail is necessary. If the problem can be replicated without the plugin, or it can be narrowed down to a specific function or part of the plugin, that'd help.

[2015-04-06 23:25] tarruda commented on #2258
@starcraftman thanks for tracking this problem down, hopefully we'll be able to automate the remote plugin setup to reduce the chance of errors like this one

It prepends a dot to the filename(`.nvimrc`)

[2015-04-06 23:45] starcraftman commented on #2258
@tarruda Sounds good, is that an active issue being done or on the roadmap?

[2015-04-06 23:48] tarruda commented on #2258
My plan is to give the remote plugin infrastructure some attention after the job control/terminal issues are fixed(possibly by the end of the week)

[2015-04-07 00:02] starcraftman commented on #2258
@tarruda Ok then, sounds good.

[2015-04-07 00:43] waldyrious commented on #1692
FWIW, the single most efficient and pleasant system I have ever experienced to teach new users how to use an unfamiliar program can be described as a learn-as-you-go system. No "tips" popups on startup, no tutorials / tours, no cheatsheet modal dialog, no help menu, etc. The program simply let me use it normally as I would expect, and when I did an action which had a better way to do it, a tooltip

[2015-04-07 00:59] hkupty commented on #2365
Well, I tested some possibilities and here's what I got:
The issue happens when I'm using tmux. On tmux I have `<C-[hjkl]>` mapped to the respective panel switches.

I'm using the configuration as follows on the plugin README, so it should pass the keys correctly either to neovim, to vim or to tmux to handle.

I tried to manually rebind the keys as stated above, but looks like the plugin does this

[2015-04-07 01:07] hkupty commented on #2365
If needed, my configuration files are at https://github.com/hkupty/dotfiles/.

Please note that I start neovim as an aliased `vim`, which is exactly what tmux shows me as the running program for the panel.

[2015-04-07 02:16] yshui commented on #2335
@splinterofchaos Yes, this fix the problem.

[2015-04-07 02:23] asgeo1 commented on #997
The ZoomWin error messages mentioned above can be avoided, by setting a custom list of options for ZoomWin to save when it saves the window state:

    if has('nvim')
        " removed 'key', 'oft', 'sn', 'tx' options which do not work with nvim
        let g:zoomwin_localoptlist = ["ai","ar","bh","bin","bl","bomb","bt","cfu","ci","cin","cink","cino","cinw","cms","com","cpt","diff","efm","eol","ep

[2015-04-07 03:20] #2335 closed

[2015-04-07 03:36] philix commented on #2020
`ELOG` should be enabled by default on a debug build. Can you `printf` right before `preserve_exit()`?

[2015-04-07 04:16] splinterofchaos commented on #2365
Doesn't that mean those key presses will never reach nvim? It just gives me pause that you say before the TUI, this didn't happen.

[2015-04-07 04:30] Pyrohh commented on #2020
Hmm, that doesn't seem to work.

[2015-04-07 04:47] mikeyjk commented on #2266
strace -s300 -o blah.log nvim:
https://gist.githubusercontent.com/mikeyjk/e210cc4c50f7fa253c6f/raw/blah.log

I hope I have done this correctly. I couldn't paste the content here as it exceeds github's limit of 262144 characters.

[2015-04-07 06:04] mauke commented on #2266
Yes, thank you!
It's detecting your terminal as `xterm-256color` and finding the corresponding terminfo entry in `/usr/share/terminfo/x/`, so it doesn't look like the same issue as #2028 (that issue was caused by nvim not finding any terminfo entries at all).

Digging deeper, `/usr/share/terminfo/x/xterm-256color` says your home key sends `"\eOH"` and your end key sends `"\eOD"`. But your other tr

[2015-04-07 06:48] oni-link commented on #2359
We read after the the string pointed to by `p`, so that could cause problems. I tried to reproduce
a crash with ASAN activated.
I used htop, positioned the cursor on the end of a long line, changed into terminal mode, changed into normal, back into terminal mode, quit htop and switched back into normal mode. This is the result:
[code]

[2015-04-07 08:21] fwalch commented on #2068
Ping @tarruda

[2015-04-07 08:55] mikeyjk commented on #2266
Ahhhhhh. This is probably a self-created issue. How embarrassing. I'll check this later and post a confirmation. Thank you so much.

[2015-04-07 09:09] marlun commented on #997
I'm not sure how ZoomWin solves the problem but using a tab seems like the perfect use of tabs since it's there to create alternative "views" in vim?

[2015-04-07 09:57] elmart commented on #1908
@bfredl Works perfectly. Thanks!

[2015-04-07 09:57] #1908 closed

[2015-04-07 09:58] elmart commented on #2105
Works for me. Thanks!

[2015-04-07 09:59] elmart commented on #1860
Works for me. Thanks!

[2015-04-07 10:48] michaeljones commented on #2364
I am seeing this as well using this very similar docker file:

    https://github.com/FelikZ/docker-neovim/blob/master/Dockerfile

I'm not deep into either docker or neovim but it seems like a nice set up for playing around with neovim & different GUI options.

[2015-04-07 11:22] hkupty commented on #2365
Yep, it didn't. Actually they will reach nvim because of tmux's config. If the active pane is (n)vim, send the keys, else handle.

[2015-04-07 11:23] EJahren commented on #731
sds seems lik a reasonable choice, although since the string type is only defined by `typedef char *sds`
you wont get a compiler warning if you use a regular string as a sds string. Additionally coverety might
get a lot of false negatives and false positives on determining whether a given string is safe to use as a sds string. Is it really that bad to have to grab the \0 terminated buffer from a s

[2015-04-07 12:31] languitar opened #2368 "Do not deleted terminal buffers when the associated window is closed"
With a master build from a few days ago, terminal buffers seem to be deleted when the windows showing them is closed. This seems to contradict the usual usage patterns where buffers live until they are explicitly deleted by the user. Moreover, I'd like to be able to use a terminal session for some time, put it into the background, an reload it into a split once I need it back.

[2015-04-07 12:32] tarruda commented on #2266
@mauke great explanation, I will direct future $TERM related issues to your comment. Thanks.

[2015-04-07 13:50] zachariahreed commented on #2105
I still see the behavior originally reported using the current head ( 5f3eeadd037e111e8ba5b04d39ff69806899ed6c)

[2015-04-07 14:44] hkupty commented on #2365
Here is the config section that allows tmux to pass the bindings to vim:
[code]

[2015-04-07 15:16] hkupty commented on #2365
Ok, I just arrived at work and tried some more tests..

It looks like I had a configuration problem on my `.tmux.conf` and now I'm able navigate  with `<C-[jkl]>`, but not with `<C-h>`. Sorry for the noise. As far as I could see, this is not a plugins problem, since the behavior is the same if I disable the plugin.

Also, I switched the bind line on my tmux to send `:echo "test"<CR>` everytime I p

[2015-04-07 15:50] splinterofchaos commented on #2365
I just found #2048 -- looks like this is a duplicate. Please continue the discussion there if you feel you have anything to add.

[2015-04-07 15:50] #2365 closed

[2015-04-07 15:52] splinterofchaos commented on #2330
@ysdlm, do you by any chance use urxvt? Also, please respond if `'+syntax on'` doesn't turn the color on.

[2015-04-07 15:59] elmart commented on #2105
Must be X11 related. I can confirm it works for me on OS X 10.10.2.

[2015-04-07 16:11] hkupty commented on #2365
Thanks!

[2015-04-07 16:19] splinterofchaos opened #2370 "No color in the urxvt terminal since "Add support for true color terminals"."
To reproduce:

1. Start urxvt
2. `$ nvim -u NONE +'syntax on' <SOME FILE>`

Display is monochromatic.

I did a git bisect and found 8dd415e to be the first commit where this can be observed.

[2015-04-07 16:43] tarruda commented on #2370
I can only reproduce this if `NVIM_TUI_ENABLE_TRUE_COLOR` is set, but it's expected since urxvt doesn't support true color codes. Perhaps you have a `$TERM` override in your .Xresources?

[2015-04-07 17:03] splinterofchaos commented on #1574
`jobstart()` no longer waits for newlines. Please re-open if this is still an issue.

[2015-04-07 17:03] #1574 closed

[2015-04-07 17:23] splinterofchaos commented on #2370
The entirety of my `.Xresources`:
[code]
You're right, actually unsetting `NVIM_TUI_ENABLE_TRUE_COLOR` does fix this, but setting it to `0` doesn't. Perhaps the code could check not just that the env variable exists, but is also non-zero, but I was mistaken so I'll close the issue.

[2015-04-07 17:23] #2370 closed

[2015-04-07 18:22] trusktr commented on #997
ZoomWinTab is nice, but still a hack of sorts. The nicest solution will be
when windows zoom natively inside a tab (without making a new tab and
hiding the tab bar).

But :+1:! I'm using ZoomWinTab for now. :D

On Mon, Apr 6, 2015 at 7:23 PM, Adam George <notifications@github.com>
wrote:

[2015-04-07 18:57] philix commented on #2020
@Pyrohh it's weird. Does `fflush(stdout)` help?

[2015-04-07 18:58] ZyX-I commented on #999
I think I have a good option:

1. Rename viminfo to shada. Everything, but &viminfo option name must be also renamed. Default file name will become `~/.nvim/shada/main.shada`
2. Move all viminfo-related code to src/nvim/shada.c. Currently main code lives in ex_cmds.c for whatever reason and local code for writing history, registers, variables, etc lives in local files.
3. Format of the ShaDa file:

[2015-04-07 19:48] tarruda opened #2371 "Getting rid of `os_breakcheck` and friends."
A major obstacle currently blocking Neovim from achieving a better asynchronous model is the `os_breakcheck` function and its friends(`line_breakcheck` and `fast_breakcheck`). These functions are used extensively in the code and have one purpose only: Check if the user typed ctrl+c while running some task that may take too long to complete.

The `*_breakcheck` functions are the biggest reason for

[2015-04-07 20:53] jalvesaq commented on #1574
Thanks for having worked on this! The new `termopen()` solved all issues that I was having.

[2015-04-07 20:54] splinterofchaos commented on #2371
If I understand this issue, `os_breakcheck()` just calls `event_poll(0)` because without running the uv event loop, we can't know if a `ctrl+c` has been received. If we processed input in another thread that set `got_int` to `true` the moment it read `ctrl+c`, then we wouldn't need to run `event_poll(0)` in many places. That would improve the efficiency in many places, like `file_search.c`, `tag.c

[2015-04-07 21:09] ZyX-I commented on #2371
What about lock-free queues if you think this is likely? (Though I as well don’t know why this should happen.)

[2015-04-07 21:24] tarruda commented on #2371
This is good, it means the program state is more predictable

Yes. `K_EVENT` is a temporary hack that I hope to get rid of sooner or later

Yes. We still need to separate api/*.c functions that should be handled by the IO thread from those that need to be handled by the main thread. `vim_input` is the only example that comes to mind, since it's what fills the input buffer and sets `got_int`. I wil

[2015-04-08 00:17] equalsraf commented on #1749
Back, sort of. Trying to rebase against master, almost through, but I'm bumping into some changes:

- [ ] terminal emulator and libvterm - I feel tempted to disable this in Windows, IIRC libvterm requires glib-2.0
- [ ] pty_process.c seems UNIX specific (termios.h)
- [ ] job.c, waitpid(-1, ...) equivalent for Windows

[2015-04-08 02:31] pdf commented on #2092
Overriding pastetoggle really seems like the wrong way to handle this.  If you want to support bracketed paste, I'd think it should be handled in addition to explicit paste, though I understand the appeal of the approach you've taken as the cheap hack to get it in.

I would also note that currently if I *do* `set paste` and then paste something in, paste mode doesn't appear to actually be in effec

[2015-04-08 02:39] justinmk commented on #2092
@pdf There are plans to rework it. Most likely with some new events, e.g. ClipboardPaste, ClipboardYank.

[2015-04-08 06:27] fwalch opened #2372 "TUI bug when building Arch Linux package"
@tarruda

I think #2025 (or more specifically, bbcddc5; previous revision 20f52f4 works) caused a problem that, at the moment, I can only reproduce when building the Arch Linux package (ref https://github.com/rmarquis/pacaur/issues/325). It might be that an extra character is pushed to the terminal, causing the final "Proceed with installation? [Y/n]" to abort.

Without bug (20f52f4): prompts for

[2015-04-08 06:43] mikeyjk commented on #2266
This is what I get for mindlessly using the same $TERM value irrespective of environment!
My .bashrc wasn't handling this correctly.
Setting:
    TERM='putty-256color'
Resolved this issue.
Also good supplemental reading for noobs such as myself: http://vim.wikia.com/wiki/256_colors_in_vim

Closing as resolved :).

[2015-04-08 06:43] #2266 closed

[2015-04-08 12:59] bfredl commented on #1690
I don't think this should be done. `getreg()`/`p`and `getreg('"')`/`""p` are not synonymous. the later pastes `y_previous` even if `clipboard=unnamed`.

[2015-04-08 13:00] aktau commented on #1690
So is this a flaw in vim-unimpaired's assumptions? At any rate, it seems to work differently from vanilla Vim.

[2015-04-08 13:01] bfredl commented on #1690
yes, it is not entirely correct in `nvim` right now.

[2015-04-08 13:01] bfredl commented on #1690
the later I mean, haven't checkt `vim-unimpaired`

[2015-04-08 16:27] #2301 closed

[2015-04-08 16:27] #2317 closed

[2015-04-08 16:35] bfredl commented on #2105
I think I have fix for the `ddp` issue (will push PR later), but `YankRing` + `clipboard=unnamed` doesn't work with unnamed paste (from external copy) with nvim for me...

[2015-04-08 16:53] rustushki opened #2377 "nvim -d and git difftool"
I'm having an issue with "nvim -d" as a difftool for git.  Here's a summary:

    $ git difftool

    Viewing (1/2): 'build.xml'
    Launch 'nvimdiff' [Y/n]: Y
    2 files to edit

    Viewing (2/2): 'pom.xml'
    Launch 'nvimdiff' [Y/n]: 2 files to edit     // I did not actually get a chance to say Y, N or Ctrl+C

With just 2 files, it's not a big deal, but when many files are to be displayed, I

[2015-04-08 17:01] justinmk commented on #2377
Does it work if you change it to vim?

    cmd = "vim -d -u ~/.vimrc \"$LOCAL\" \"$REMOTE\""

[2015-04-08 17:22] rustushki commented on #2377
I made that change and it appears to work as expected... here's the output:

    $ git difftool

    Viewing (1/2): 'build.xml'
    Launch 'nvimdiff' [Y/n]:
    2 files to edit

    Viewing (2/2): 'pom.xml'
    Launch 'nvimdiff' [Y/n]:
    2 files to edit

[2015-04-08 17:46] fortes opened #2379 "Binding <M-S-Tab>?"
I'm trying to do the following for easy tab traversal in NeoVim. I've stripped my `.nvimrc` to the following:

[code]

`<M-t>` and `<M-tab>` work beautifully, but `<S-M-Tab>` does nothing. Am I missing something obvious?

This is NeoVim inside of iTerm2. Here's the `--version` output

[code]

[2015-04-08 18:29] Bilalh opened #2380 ":set nowrap in a :terminal does not work"
Setting nowrap in a  terminal does not work.

On the left pane below  (a python file)  using `:set nowrap` worked as expected. In the right pane with the terminal in it the lines are still wrapped even when `:set nowrap` has been used.

![screen shot 2015-04-08 at 19 24 55](https://cloud.githubusercontent.com/assets/171602/7052230/3419116c-de25-11e4-9caf-ea7b5865aa4a.jpg)

[2015-04-08 18:30] Pyrohh commented on #2020
Unfortunately, no. I'm using reallocarray calls in syntax.c here:

[code]

I assume the screen is being flushed before the UI closes, but I don't know from where...
If it's any consolation, a malignant xreallocarray call prints the error message if it's in main.c:early_init() :smile:

[2015-04-08 18:34] critiqjo commented on #2068
Searching around, it seems this can't be resolved. The eighth bit set by the alt key cannot be distinguished from that of normal UTF-8 characters. And the other way is for alt key to be processed as a prefixed esc key. Both are kinda hackish ways of dealing with it, unfortunately inherent to the current implementation of terminal emulators (or consuming input in shell), I think. Close the issue?
R

[2015-04-08 18:41] ZyX-I commented on #2380
This is correct. Buffer on the left is *not* using usual wrapping mechanizm. Lines are wrapped by the library that manages terminal screen and it has a perfect reason to work the way it does work: software like zsh calculates where terminal will wrap and issues cursor positioning commands accordingly. You *cannot* make a terminal emulator which does not wrap and works correctly in different applic

[2015-04-08 18:49] Pyrohh commented on #2068
Yes indeed, as these mappings work fine using pangoterm.

[2015-04-08 18:49] #2068 closed

[2015-04-08 18:50] justinmk commented on #2377
Possibly we're sending a spurious newline after exit?

[2015-04-08 18:56] blueyed commented on #2068
With the new use of `libtermkey` this should be possible / better now: http://neovim.org/doc/user/vim_diff.html#nvim-features-new

(via http://neovim.org/news/2015/april/)

[2015-04-08 19:23] Bilalh commented on #2380
That make sense,  but  there is a  terminal emulator that does no line wrapping   https://code.google.com/p/jessies/wiki/Terminator

I tested it with vim, tmux and REPLs (ghci) and it works.

![screen shot 2015-04-08 at 20 21 23](https://cloud.githubusercontent.com/assets/171602/7053414/e0dcfa7e-de2c-11e4-99c7-76f9000c9891.png)

[2015-04-08 19:38] splinterofchaos commented on #2326
Shells and programs run through `:term` may want to change the shape of the cursor so nvim should not interfere, ideally. However, the fallowing command should change the cursor shape on xterm-compatible terminals:
[code]
but it does not.

I've looked into this a bit, but I guess I don't understand how the code works yet. Even when I try to force changing the cursor shape in terminal mode in vario

[2015-04-08 19:50] tarruda commented on #2326
libvterm supports cursor shape customization, but `:terminal` uses a virtual cursor which is simply a set of highlight attributes applied to a cell, so it doesn't support the bar shape. Cursor blinking could be implemented with a libuv timer.

[2015-04-08 20:03] bfredl commented on #1690
No, there was no flaw in `vim-unimpaired` (at least not the snippet you posted), it relies on `v:register` which was broken in `nvim` when `clipboard=unnamed`.  #2381 might fix it.

[2015-04-08 20:09] bfredl commented on #2105
@zachariahreed could you try #2381 ? It fixes some issues with `YankRing` in my testing.

[2015-04-08 20:24] ZyX-I commented on #2380
@Bilalh Wondering how shells behave there (especially those with both prompt and right prompt): with DEC “no wraparound” mode supported by libvterm and xterm zsh behaves badly, clearing first line with user input and positioning cursor on the line *above* the prompt.

(I leave a possibility though that terminal can be queried about whether it performs line wrapping.)

Though in any case this is qu

[2015-04-08 20:30] ZyX-I commented on #2380
@Bilalh Note: you need to use REPL with complex cursor management like bash, zsh or fish have (in order of rising complexity): in “no wraparound mode” they all clearly show that when it is time to wrap they are telling terminal to do something. Simple readline (or something with similar capabilities)-based REPLs do not do anything like this, at maximum you will have undesired behaviour on `<C-u>`

[2015-04-08 20:45] Bilalh commented on #2380
@ZyX-I  Could you give more example of complex cursor management?  I added a right prompt  and tried C-u on a wrapped line. Both  worked for me.   How do I use test `DEC “no wraparound” mode`?

![screen shot 2015-04-08 at 21 37 14](https://cloud.githubusercontent.com/assets/171602/7054863/82bb075a-de37-11e4-9401-17c51d125704.png)

[2015-04-08 21:02] #1753 closed

[2015-04-08 21:15] justinmk commented on #1753
@fwalch Thanks for doing that, it was quite a bit of work, and well done.

[2015-04-08 22:01] Bilalh opened #2382 "Visual Selection with mouse does not work with multiple tabs"
with `mouse=a`.

If the there more then one tab  visual section with the mouse breaks.
Works correctly in vim.

No other config in .nvimrc/.vimrc.

neovim version
[code]

vim version
[code]

[2015-04-08 22:12] mhinz commented on #2377
FFIW, with the same settings in the gitconfig I can't reproduce it with iTerm2 and git 2.4.0.rc1.

[2015-04-08 22:36] mhinz commented on #2382
Confirmed.

Steps for reproducing:

1) `:set mouse=a`
2) `:tabnew` some times
3) Now something interesting happens: you can still use visual selection, if you switch between tabs via `gt`/`gT`, but not anymore if you clicked on a tab at the top.

I'll investigate.

[2015-04-08 22:38] fwalch commented on #2377
This problem seems similar to #2372 (dialog "answered" without user interaction).

[2015-04-08 22:39] gdrooid commented on #2377
This is what it looks like on my system with sakura and git 2.0.5:
[code]

[2015-04-08 22:39] fwalch commented on #2372
Possibly the same problem as #2377.

[2015-04-08 23:03] justinmk commented on #2377
@rustushki @gdrooid Can you run it with GIT_TRACE like this:

    GIT_TRACE=1 git difftool

[2015-04-09 00:27] rustushki commented on #2377
@justinmk @gdrooid
Here's my output with "cmd = "nvim -d -u ~/.vimrc \"$LOCAL\" \"$REMOTE\"""

    $ GIT_TRACE=1 git difftool
    20:23:35.009697 git.c:554               trace: exec: 'git-difftool'
    20:23:35.009794 run-command.c:341       trace: run_command: 'git-difftool'
    20:23:35.119948 git.c:349               trace: built-in: git 'diff'
    20:23:35.125107 run-command.c:341       trace:

[2015-04-09 02:36] bohrshaw opened #2384 "Docs of "shell-window" is outdated"

[2015-04-09 03:12] splinterofchaos commented on #2368
This should do what you want:
[code]
However, unless the user explicitly defines `bufhidden` for the buffers they want, or `hidden` (the global version of this option), I think it would be inconsistent to always hide terminal buffers.

When the window of a buffer not shown in any other window is closed or switches to a different buffer, the buffer can be hidden, unloaded, deleted, or wiped, howeve

[2015-04-09 03:14] jzelinskie commented on #2093
I'm getting this on iTerm2/OSX/showmatch and no tmux. :crying_cat_face:

[2015-04-09 03:19] #2286 closed

[2015-04-09 03:19] #2321 closed

[2015-04-09 03:19] #2339 closed

[2015-04-09 03:19] Pyrohh commented on #2384
Added to #2245, thanks for the report.

[2015-04-09 06:20] lazywei commented on #2219
Is there anyway to find the cause? I'd really like to use NeoVim to replace Vim as long as this issue can be solved ... :D

[2015-04-09 06:59] Shougo commented on #2219
@lazywei
Please create minimal .vimrc with airline.
I will test it.

[2015-04-09 07:13] lazywei commented on #2219
@Shougo Please check this gist: https://gist.github.com/lazywei/2cbcb9afb9dd49b77c7d
There is only one plugin included. And I'm using https://github.com/junegunn/vim-plug for install plugin.
Thanks!

[2015-04-09 07:42] Shougo commented on #2219
Thanks.

My tested configuration:

[code]

Result:

[code]

Unfortunatelly, I cannot reproduce your problem.

[2015-04-09 07:45] Shougo commented on #2219
* Python loading is too slow in current neovim implementation.
I improved the problem in https://github.com/neovim/neovim/pull/2208.

* Please add runtimepath manually without vim-plug like this:

[code]

[2015-04-09 08:06] lazywei commented on #2219
My nvim version `NVIM 0.0.0-alpha+201504082319`

[code]

I've added the runtimepath and remove vim-plug. However `Open Buffer` is still very slow.
Am I using the same version of NVIM as yours?

[2015-04-09 08:14] Shougo commented on #2219
I updated neovim version to latest.

But...

[code]

[2015-04-09 08:15] Shougo commented on #2219
It seems same scripts are loaded.  But the time result is different.

[2015-04-09 08:18] Shougo commented on #2219
@lazywei Please tell me your tested environment.
And please re-build neovim by release mode.

[code]

[2015-04-09 08:19] renstrom opened #2386 "Pasting unicode characters from clipboard doesn't work"
Basically pasting unicode characters from the clipboard produces some kind of escape sequence (or garbage?).

This is what it looks like in Neovim when I try to paste → for example:

![screen shot 2015-04-09 at 10 15 12](https://cloud.githubusercontent.com/assets/177685/7062829/57211c64-dea1-11e4-9462-5d0a72a4e51d.png)

And this is what regular Vim does:

![screen shot 2015-04-09 at 10 18 14](http

[2015-04-09 08:43] lazywei commented on #2219
It's very weird ...
I originally used homebrew to install the `--HEAD` version on OS X 10.10.2.
After trying to rebuild the nvim with the special cmake flag, it works!! Super fast!!
Thank you so much.

However, I'm wondering ... I thought in #1362, the homebrew building should automatically be optimized mode?

Here are two versions of my nvim, the former comes from homebrew (the slow one), the lat

[2015-04-09 08:51] Shougo commented on #2219
It is homebrew maintainer problem.
But I think it should be built in optimized mode, too.

@lazywei I think this issue should be closed.

[2015-04-09 08:58] lazywei opened #2387 "Homebrew build should be in Optimized mode"
Please ref to: https://github.com/neovim/neovim/issues/2219#issuecomment-91152775 and https://github.com/neovim/neovim/issues/2219#issuecomment-91155782

Currently homebrew version doesn't build neovim in optimized version, which causes a little confusion.
I'm wondering should we build the neovim in optimized mode in homebrew formula?

Thanks.

[2015-04-09 08:58] lazywei commented on #2219
Sure. Many thanks for helping me out @Shougo. I'm going to try to replace vim with neovim now!
I'll open a new issue for the homebrew problem.
Thanks again.

[2015-04-09 08:58] #2219 closed

[2015-04-09 09:07] demonking commented on #2387
Hello @lazywei  you are wrong here ;)
Try it here https://github.com/neovim/homebrew-neovim

[2015-04-09 10:05] syswow opened #2388 "Enhance jobsend() ? send EOF to the stdin of the process."
Hi,
If we run `clang -cc1 -fsyntax-only -code-completion-at -:1:1 ` in terminal, to end input , we have to press `ctrl+d` to send EOF to clang.

let's try to use `jobstart()`, `jobsend()`.
short example:
[code]
output:
[code]
 it seems jobsend() cannot send EOF to clang, clang still wait more data from itself stdin.

Do I understand this correctly?

[2015-04-09 10:08] Shougo commented on #2388
You cannot use `"\<C-d>"`?
You may have to use pty though.

[2015-04-09 10:08] bfredl commented on #2388
You need jobclose(jobid) for this
Den 9 apr 2015 12:05 skrev "syswow" <notifications@github.com>:

[2015-04-09 10:15] syswow commented on #2388
@Shougo  I have try `"\<C-d>"`, it doesn't work. I will try pty late.
@bfredl  jobclose(jobid) just close job, it doesn't end the input of stdin.

[2015-04-09 10:25] syswow commented on #2388
@bfredl  @Shougo  jobclose(id, 'stdin') do it. thanks

[2015-04-09 10:25] #2388 closed

[2015-04-09 10:29] bfredl commented on #2388
@syswow you mean you tried jobclose after jobsend and it didnt work?
Den 9 apr 2015 12:16 skrev "syswow" <notifications@github.com>:

[2015-04-09 10:29] bfredl commented on #2388
Sorry didnt see your last message
Den 9 apr 2015 12:28 skrev "Björn Linse" <bjorn.linse@gmail.com>:

[2015-04-09 10:31] syswow commented on #2388
@bfredl nevermind, thankyou.

[2015-04-09 12:38] mhinz commented on #2386
I can't reproduce with the latest neovim on neither 10.10.2 nor 10.10.3.

1) If you copy something to the clipboard, what does the output of `:reg` for `"*` and/or `"+` look like?
2) I'm not sure if this can be an issue, but what's the output of `:echo &clipboard`?

[2015-04-09 12:39] shemerey opened #2389 "E484 for profile file unless it was in /tmp dir"
Getting E484 for `profile` when try to start `:profile` with file not it `/tmp` for instance

* `:profile ~/Desctop/test.txt'
* `:profile func *`
* `:profile file *`

when you exit `Neovim` you are getting the error like so

`:E484 Can't open file ~/Desctop/test.txt`, however it works fine when you define `/tmp/text.txt` as target file for output

current `Neovim` version is

[code]

[2015-04-09 12:46] lazywei commented on #2387
@demonking plz check https://github.com/neovim/homebrew-neovim/blob/master/Formula/neovim.rb#L55

[2015-04-09 12:50] mhinz commented on #2389
Confirmed. I'm looking into it.

[2015-04-09 12:58] rustushki commented on #2377
Another note about this issue...  I rebuild nvim each morning using linuxbrew.  I first noted this issue some time in the last couple of weeks.  Prior to that nvim -d worked correctly.

[2015-04-09 13:15] fwalch commented on #2387
I guess @demonking meant you should report the issue over at the `homebrew-neovim` repository where the formula is hosted.

I can't really reproduce your problem, though.. Homebrew does in fact compile in optimized mode (`RelWithDebInfo` just has additional assertions), as you can also see from the compiler flags shown in `--version`. Even when compiled in debug mode, I have no performance problem

[2015-04-09 13:16] renstrom commented on #2386
I guess I forgot to mention that I used <kbd>cmd</kbd><kbd>v</kbd> to paste or clicking via the "Emoji & Symbols" menu (see screenshot).

Here's part the output of `:reg`:

[code]

So actually pasting with `"*P` or `"+P` works as intended.

![screen shot 2015-04-09 at 15 14 21](https://cloud.githubusercontent.com/assets/177685/7067391/3fc7ff22-decb-11e4-8ce1-47e060a1ef42.png)

[2015-04-09 13:20] fwalch commented on #2377
If it's really the same problem as #2372, the bug was introduced with 20f52f4 (previous revision 20f52f4 should work).

[2015-04-09 13:27] yagebu commented on #2386
I can reproduce this with the latest homebrew-built neovim on OS X; on Arch Linux I can't reproduce it. This also happens when I type Unicode characters directly (using a non-US keyboard). Typing € or ß for example produces garbage.

[2015-04-09 13:46] tarruda commented on #999
I have nothing against what you proposed, it's not like changing the format will have serious implications. In fact, using a standard serialization format such as msgpack means it can be parsed more easily by other programs

Have you thought about how to synchronize access to the file?

BTW where does the "ShaDa" name comes from?

[2015-04-09 13:54] tarruda commented on #1749
libvterm has no dependencies. It's pure C99 so maybe microsoft compiler will have trouble.

For now pipe_process.c can be used(disable pty_process.c compilation and #define pty_* functions as pipe_*. Later I will try to implement a winpty_process.c on top of [winpty](https://github.com/rprichard/winpty)

SIGCHLD handling can simply be removed(through #ifdef?), it only exists to support processes s

[2015-04-09 15:06] mhinz commented on #2386
Hmm, pasting via `"+p` and just double-clicking an emoticon in that dialog inserts it in Vim just fine for me.

@renstrom How did you install neovim?

[2015-04-09 15:09] renstrom commented on #2386
I installed using Homebrew as described in [neovim/homebrew-neovim](https://github.com/neovim/homebrew-neovim).

I'm also getting this, I'm using a non-US keyboard as well. Typing € prints â¬

[2015-04-09 15:15] fwalch commented on #2386
Just as an idea if you want to try, does it work with https://github.com/rogual/neovim.app? Or with a different terminal emulator?

[2015-04-09 15:27] mhinz commented on #2386
As far as I see it, 2 people can reproduce it only with neovim built using that homebrew recipe.

Bruteforce method:

`$ cd /tmp && git clone https://github.com/neovim/neovim.git && cd neovim && make && VIMRUNTIME=/tmp/neovim/runtime build/bin/nvim`

Does it work there?

[2015-04-09 15:30] kopischke commented on #2386
I cannot reproduce this on OS X 10.10.3 with *NVIM 0.0.0-alpha+201504082319 (compiled Apr  9 2015 16:29:30) Commit: bae1da3f74ec91b8a79c764aa0277d96c932b2aa*, using both a German locale and a German keyboard map. Both using the character picker and inserting extended characters via the usual `alt+<char>` mechanism work just fine in Neovim running in Terminal.app.

[2015-04-09 16:07] yagebu commented on #2386
I have found the culprit (at least in my setup). The locale was not fully set. Apparently the setting "Set locale variables automatically" doesn't do enough for neovim. It only sets `LC_CTYPE=UTF-8` in iTerm2 (same for a similar setting in Terminal.app). Setting `LC_ALL` to some sensible locale fixed it (More precisely `LC_MESSAGES` did the trick)

I'm not really sure which of the two is the right

[2015-04-09 16:15] renstrom commented on #2386
It seems you're correct. This is the locale I had before.

[code]

To get stuff running I had to change `LANG`:

[code]

[2015-04-09 16:22] kopischke commented on #2386
@yagebu

Nitpick: Terminal.app seems to do the right thing in non-English locales. My `locale` output confirms the diagnosis, BTW:

[code]

[2015-04-09 16:23] renstrom commented on #2386
I guess a takeaway from this is that currently Neovim and Vim differ in how they handle locale settings.

[2015-04-09 16:52] yagebu commented on #2386
@kopischke: after some testing it seems Terminal.app does the right thing if and only if it can set all locale variables to the same locale. If region and language (in OS X prefs) are set to different things, instead of setting the locale accordingly, it just doesn't set it (except for `LC_CTYPE`). The behaviour of iTerm seems to be identical...

[2015-04-09 17:17] kopischke commented on #2386
@yagebu yikes, that sucks, I’d have expected OS X to be smarter about that. Good research!

[2015-04-09 18:11] dhruvasagar opened #2392 "Native ins-completions seem sluggish"
Hi guys,

I have been playing around with neovim recently and I am in love with :terminal! However for some reason I notice that the native ins-completions seem significantly slower in neovim than vim. Now I do have a lot of buffers open so that makes things a bit hard I am sure, however the same completions (<C-n> and <C-X><C-L>) much much slower in neovim as compared to vim.

I think this needs

[2015-04-09 19:02] ZyX-I commented on #999
Since this is merely a log I was originally going to just take code from zsh. (Though *just* taking code means that you now only control shada length in term of top-level item concats: can’t say “1000 lines of history” (for each history kind), only “100 000” elements in shada file whatever elements will be.)

At the first stage this will be simple “read shada -> merge -> write shada.tmp -> rename”

[2015-04-09 19:13] Pyrohh commented on #2386
This is the third issue I've seen related to LANG not being set to a UTF-8 locale, so perhaps it should be mentioned under "Troubleshooting" wiki section.

[2015-04-09 19:30] Pyrohh commented on #2387
Indeed, I don't see this is relevant to Neovim. I'll close this, but feel free to reopen if I've missed something.

[2015-04-09 19:30] #2387 closed

[2015-04-09 19:33] renstrom commented on #2386
@Pyrohh or changed to behave like Vim?

[2015-04-09 20:04] dumblob commented on #999
I have a positive experience with this simple approach (and it should be pretty fast in this case as the whole file won't need to be read through due to time stamps).

Btw nice format specification, I looking forward to using it :)

[2015-04-09 20:06] Pyrohh commented on #2386
@renstrom I initially thought that that Nvim should respect `LANG` if it's set, but I'm not so sure after reading http://pubs.opengroup.org/stage7tc1/ (section 8.2). It looks like `LC_ALL` should take precedence over `LANG`, which doesn't seem to be the case according to  https://github.com/neovim/neovim/issues/2386#issuecomment-91278430.

@splinterofchaos @mhinz what do you think?

[2015-04-09 20:39] splinterofchaos commented on #2386
I think you meant this page: http://pubs.opengroup.org/onlinepubs/9699919799/utilities/locale.html

I know next to nothing about locals, but it does say of `LC_ALL`,

I noted that `LC_ALL` is not set on my machine, but running various commands with `$ env LC_ALL=C <cmd>` does change the behaviour vs just having `LANG` set.

:+1:

@bfredl, I think this is your territory.

[2015-04-09 21:02] Pyrohh commented on #2386
I was referring to the general specification on environment variables, but that's informative as well.

[2015-04-09 21:23] bfredl commented on #2386
Looking at the docs it looks like the order of precendence should be `LC_ALL > LC_CTYPE > LANG` , and yes `LC_ALL=C` does break vim but doesn't break nvim. I thoght that the C library (or some other system library) was handling the interpretation of all these variables? (At least, every application handling all these itself sounds quite fragile and duplicated work)

[2015-04-09 21:32] bfredl commented on #2386
And `LC_CTYPE` seems also ignored by nvim, so it won't see a terminal setting a custom encoding, as noted above.

[2015-04-09 21:33] yagebu commented on #2386
I know practically nothing about the neovim codebase but from greping it seems that a lookup of the locale happens which might be responsible for this happens here (in libtermkey): https://github.com/neovim/libtermkey/blob/master/termkey.c#L392. There, the order in which they are checked is to quite off (and using `LC_MESSAGES` instead of `LC_CTYPE`): `LANG > LC_MESSAGES > LC_ALL` while it should

[2015-04-09 21:35] Pyrohh commented on #2386
To have a clean slate, I'll open another issue.

[2015-04-09 21:35] #2386 closed

[2015-04-09 21:44] justinmk commented on #999
@ZyX-I  Your shared-data spec looks something like a subset of the editor "state". What do you think about generalizing this concept as the main (only) serialization format for the Neovim editor state? This would be useful for spawning child `nvim` processes for parallel execution (e.g. for a `:vimgrep` search). And, the C data structures that arise from this general concept could potentially be p

[2015-04-09 21:50] bfredl commented on #2386
The glibc manual claims this is the POSIX way:
[code]
where `LC_ALL` means "take all environment variables into account" and not just `LC_ALL` . It seem to use the `LC_ALL > LC_CTYPE > LANG` order, at least.

[2015-04-09 21:51] Pyrohh opened #2393 "Locale issues"
refs #2386

It doesn't seem like Nvim ([or libtermkey?](https://github.com/neovim/neovim/issues/2386#issuecomment-91361973)) follows POSIX 2013 regarding environment variables, as [said here](https://github.com/neovim/neovim/issues/2386#issuecomment-91359820) by @bfredl:

[2015-04-09 21:51] Pyrohh commented on #2386
@bfredl could you repost your comment in the new issue?

[2015-04-09 21:51] bfredl commented on #2393
moving my comment over here:

The glibc manual claims this is the POSIX way:
[code]
where `LC_ALL` means "take all environment variables into account" and not just `LC_ALL` . It seem to use the `LC_ALL > LC_CTYPE > LANG` order, at least.

[2015-04-09 21:52] bfredl commented on #2386
done!

[2015-04-09 21:56] splinterofchaos commented on #2393
@leonerd, is there a reason libtermkey works this way?

[2015-04-09 21:58] bfredl commented on #2393
And I don't understand libtermkey's notion of "raw" and "utf8" terminals? What if the terminal is latin-1 ? (which IIRC is the default on PuTTY, for instance )

[2015-04-09 22:07] bfredl commented on #2393
I think I see, libtermkey needs to just special case for the variable-length nature of utf8 (and leaves decoding to the user). But if `nvim` is already reading the locale elsewhere (for messages etc), it could just pass this information (utf8 or not) to libtermkey as a flag to `termkey_new`.

[2015-04-10 00:35] zachariahreed commented on #2105
@bfredl I didn't run through all possible commands but #2381 looks like it does correct the reported behavior

[2015-04-10 01:13] Shougo commented on #2392
Please check your neovim is already optimized.

https://github.com/neovim/neovim/issues/2219

[2015-04-10 01:17] dhruvasagar commented on #2392
@Shougo the problems aren't in starting neovim, the problems are that the completions are taking much longer in neovim. When I hit `<C-n>` or `<C-x><C-l>` it's much slower in neovim than in vim.

[2015-04-10 01:18] mtglsk opened #2394 "Highlight NONE not working properly"
[code]

Screenshot:

![bug](https://cloud.githubusercontent.com/assets/10101321/7080296/2a53ed9e-df30-11e4-872b-cad2b156d39e.png)

[2015-04-10 01:18] Shougo commented on #2392
Yes.  But if the neovim is not optimized, it may be slower.

[2015-04-10 01:22] dhruvasagar commented on #2392
@Shougo I understand, but startup time isn't my problem so #2219 doesn't help me...

[2015-04-10 01:29] Shougo commented on #2392
Please create minimal .vimrc and upload reproduce ways.
I will test it.

[2015-04-10 01:31] mtglsk commented on #2342
Works for me...

[2015-04-10 01:31] dhruvasagar commented on #2392
@Shougo you need a large number of loaded buffers to replicate the issue. Once you have a large number of buffers open, he completions take a lot of time in neovim as compared to vim. I could try removing all my plugins and try the same I suppose but I doubt that is the problem since I am talking about the native completions here and I am not using any autocomplete plugins or anything.

[2015-04-10 01:38] Shougo commented on #2392
Please create reproduce ways.  You can create it(the large number of loaded buffers) by using neovim sources.

[2015-04-10 01:43] Pyrohh commented on #2354
@tarruda do you think it could be related to what was mentioned here? https://github.com/neovim/neovim/pull/2263#issuecomment-87281290

[2015-04-10 09:00] strokirk opened #2396 "JobActivity autocommand missing"
Using `NVIM 0.0.0-alpha (compiled Apr 10 2015 00:50:14)` from the Unstable PPA.

`JobActivity` doesn't seem to have any help information. `:helpgrep JobActivity` references it in two places, but the actual tag is nowhere to be found.

Also, the `JobActivity` autocommand itself seems to be missing. Running `neovim -u NONE -c ':au JobActivity` reproduces the error.

I use the [Neomake](https://githu

[2015-04-10 09:08] strokirk commented on #2396
It seems this was removed in commit 6e7757a by @tarruda.

[2015-04-10 09:23] Pyrohh commented on #2396
There's also an entry in `{fileio,terminal}.c`

[2015-04-10 09:29] Pyrohh commented on #2396
And assuming you haven't done so already, try updating your plugins. Neomake should work fine due to this: https://github.com/benekastah/neomake/pull/75

[2015-04-10 10:19] tarruda commented on #2354
@Pyrohh no, this error is a basic sanity check from the `tty-test` program. It's simply saying that the process is not the session leader, a requirement for programs spawned by a terminal emulator

[2015-04-10 10:21] tarruda commented on #2354
@Pyrohh are you experiencing this error on master?

[2015-04-10 10:24] Pyrohh commented on #2354
Yes, I just tried it again.

[2015-04-10 10:35] tarruda commented on #2354
So if you apply this patch all tests pass?

[code]

[2015-04-10 11:07] tarruda commented on #999
@justinmk it should already be possible to run vimscript in parallel after #1446 is merged, there's no need to restore editor state. In fact, I think spawning with `-u NONE` is preferable when you only want to run a script in parallel.

Besides, saving the editor state is much more complex than what @ZyX-I is proposing, it would involve not only refactoring every global variable, but also static v

[2015-04-10 14:55] blueyed opened #2400 "Dynamically change `undofile()` / multiple undo trees per file"
I often see that undofiles are not being taken into account anymore, which is likely to be caused by changing branches in Git etc, where the file contents then does not match anymore the expected contents - which then causes the undo information to be discarded.

A good workaround for this might be to use additional information in the undo filename, like the current Git branch.  This could be done

[2015-04-10 15:27] tarruda commented on #2277
shift-tab also isn't being passed to the terminal

[2015-04-10 18:15] mhinz commented on #2394
Confirmed. I'm looking into it.

[2015-04-10 18:22] cacplate opened #2401 "cursorline and latex files"
When setting cursorline and opening a LaTeX file, the UI become sluggish and slow. This is a known problem in vim as well but I figured out maybe the UI refactoring that is going on makes it a good time to check it out. If it's not in its place, please let me know and I'll close.

[2015-04-10 18:35] ZyX-I commented on #999
Timestamps come into the action when it needs to be deduced which of the items need to be kept during merging. Items in the file are not going to appear sorted because I have no intention in keeping the whole file contents in memory, twice (three times considering that shada file needs to be read back).

For this reasons I will either have to add file size and some offsets into the header (works o

[2015-04-10 18:41] ZyX-I commented on #999
@tarruda About static variables: I usually omit them as long as possible, keeping only `const` ones. This refactoring is also going to get rid of at least one other global. I hope that during all the refactorings many of them will vanish.

[2015-04-10 18:52] dumblob commented on #999
Still, external merge sort should be easy enough to implement to avoid this issue of keeping the whole file in memory ;)

[2015-04-10 19:16] justinmk commented on #999
@tarruda If some state is not sent, the results of `:vimgrep` and other potential use cases will not be correct. E.g., `'path'` and `'magic'` affect vimgrep.

[2015-04-10 19:37] Pyrohh commented on #2354
@tarruda yes, and quite quickly.

[2015-04-10 19:41] ZyX-I commented on #999
I am wondering how is this supposed to help?

1. I want to have temporary files anywhere even less then having file in memory trice.
2. NeoVim instances run in parallel. But shada files are written at exit. So new items will appear *between* already read ones and the whole file will still be needed to read.
3. Viminfo files are read only once at startup as well.
4. It goes directly against the fea

[2015-04-10 19:58] dumblob commented on #999
@ZyX-I right, it seems I completely misunderstood your intent. E.g. I didn't assume shada won't be shared among parallel neovim instances (I thought, that after adding a single new item, the one shared shada file will get updated and the new parts automatically re-read by other neovim instances as long as monotonic time source is used for time stamps).

Regarding the concat, this shouldn't be an i

[2015-04-10 20:05] ZyX-I commented on #999
It is never going to happen by default. Even zsh with sharehistory option is not *that* intrusive: shada not only contains history, but a jumplist and file-local and global marks as well. So even if option like SHARE_HISTORY will be added this will be a list showing what exactly will be read back.

And I explicitly said that I am not going to do this in first PR regarding the issue.

I am not goin

[2015-04-10 20:37] dumblob commented on #999
Let me clarify some bits. By *history* I meant everything done/saved in the past. I'm not much familiar with the way how *zhs* does it under the hood, but I'm using my own setup for shells having the non-POSIX *history* command and thanks to it, I'm doing it exactly the "intrusive" way and it works well (even on different systems with different shells and configurations). But of course, such centr

[2015-04-10 20:39] #2384 closed

[2015-04-10 21:13] ZyX-I commented on #999
By history I mean only lines (commands, searches, etc) typed in command mode. Zsh history files have *only* this and thus are not intrusive with `SHARE_HISTORY`. Viminfo (and thus shada) contains things like jumplist. I do not think any person is going to be happy in case he had done “go to tag” in one NeoVim instance in one project, same in another (instance and project) and found out that in fir

[2015-04-10 21:14] splinterofchaos commented on #2354
Yeah, that patch is similar to what I've been doing manually.

[2015-04-10 21:53] splinterofchaos commented on #2401
Can you post an example of (or link to) a LaTeX file that causes sluggishness? If possible, can you compile nvim with `-pg` to enable profiling support, run nvim, then `gprof build/bin/nvim gmon.out > latex.prof` and post the output in a gist? Either would go a long way in investigating this problem.

[2015-04-10 21:57] dumblob commented on #999
Thanks for explanation of the terms you use. Now I see your point and agree with your conclusions.

And yes, the last pseudo code had nothing to do with external merge sort as it was a different situation than I originally understood.

[2015-04-11 00:46] choco opened #2403 "Lines and columns initialized too late?"
Hi I have a plugin that during its initialization uses the value of both lines and columns variables to performs some calculations.
Unfortunately both these value are initialized only after the first redraw (I think), since when I try to access them during the initialization phase they're still holding the default values 24 and 80.
Vim isn't affected by the same problem.
### Steps to reproduce:
-

[2015-04-11 01:24] elyscape commented on #1749
That might be a mistake.  winpty introduces latency and doesn't give you a raw bytestream.

[2015-04-11 02:09] cacplate commented on #2401
https://www.dropbox.com/s/fnarzeq88c7vdig/example.tex?dl=0
Here is a file that does it pretty badly but it's standard file and you should be able to replicate with any file that is medium size. For the rest I'm on it, posting in another comment.

[2015-04-11 03:24] cacplate commented on #2401
No matter what I do I don't seem to be able to produce a gmon.out. This is the first time I use this tool so I probably do something wrong but I don't find what.
I tried adding `-pg` to the list of flags in the makefile and calling `make -pg`. Could someone give me a hint?

[2015-04-11 05:23] splinterofchaos commented on #2401
To my understanding, you have to run `env CFLAGS=-pg cmake .` to regenerate the makefile, then `make VERBOSE=1` (verbose so you can verify the `-pg` flags got added). You may have to remove `CMakeCache.txt` if this doesn't work. If successful, `gmon.out` will be produced after having run the generated binary through whatever tests you try.

No sweat. Any intel you can provide will be very helpful.

[2015-04-11 08:01] mtglsk opened #2407 "XTerm doesn't properly resize neovim"
This happens only sometimes, when resizing window nvim stays the old size.

This doesn't tend to happen with a terminal multiplexer though.

Edit: It seems to get triggered on maximize, ie. you can spam maximize button and you will see the old size flashing and nvim resizing to proper size.

[2015-04-11 08:08] equalsraf commented on #1749
For some reason I thought it depended on glib, maybe I checked the wrong libvterm - anyway I a have recipe for building using CMake. It still needs perl to generate code, but maybe that can be solved by including the generated source in the libvterm repo.

This works for now, minus the pty_process close master.

[code]

Ok on this front too, just guarded those blocks with a define FEAT_PTY_PROCESS

[2015-04-11 10:46] cHoco commented on #2403
Took a look to see what the problem was, in vim
[code]

Instead in neovim we just call
[code]
load plugins and then attach the ui layer and update the size.

Maybe i should access columns and lines after VimEnter but just wanted to point out the difference, if it's something you may want to take a look into

[2015-04-11 10:57] #2105 closed

[2015-04-11 11:06] bfredl commented on #1396
There is so many places where register names are manually checked and special registers  treated specially in different ways, some of which must be kept for compability I guess (like `normal @@` and `let @@` are referring _different_ "default" registers) but here we could  just allow any writeable register I think.

[2015-04-11 11:14] bfredl commented on #2105
#2381 is now on master. Please reopen if there still is some issue.

[2015-04-11 11:16] tarruda commented on #1749
Do you have an alternative? Windows has nothing close to the master/slave terminal API, so  console programs must be spawned in builtin console window. In fact, a quick research suggests that custom terminal emulators such as [Console2](http://sourceforge.net/projects/console/) are implemented using the same approach as winpty(hidden console window with polling through the win32 API)

[2015-04-11 12:33] tarruda commented on #2298
@jszakmeister I've fixed some other tests in #2405, are you still seeing random failures?

[2015-04-11 13:02] tarruda commented on #2372
I just reproduced this locally after reinstalled the bundled dependencies

[2015-04-11 13:34] mtglsk opened #2408 "termopen() inside nvimrc returns E315: ml_get: invalid lnum: 41"
Adding to my .nvimrc:

    nnoremap <C-t> :new | call termopen('bash') | startinsert

Returns a bug:

    E315: ml_get: invalid lnum: 41
    E315: ml_get: invalid lnum: 41
    E315: ml_get: invalid lnum: 41

Works ok when run from the command line.

[2015-04-11 13:40] tarruda commented on #2364
Are you sure this is a SEGFAULT? I had a similar problem, but debugging with gdb showed that `:helptags` is failing due to a duplicate tag. Removing the installation directory and reinstalling everything fixed for me.

[2015-04-11 13:41] tarruda commented on #2372
Actually my problem was this: https://github.com/neovim/neovim/issues/2364#issuecomment-91845325 , sorry for the confusion

[2015-04-11 13:53] noahfrederick commented on #2408
Do you mean

[code]

?

[2015-04-11 13:58] michaeljones commented on #2364
I'm not well qualified to comment but the docker file approach I reported above does a fresh build and I get the error in the original post above which includes `Generating helptags failed: - Segmentation fault`. (It did this for me a couple of minutes ago with the latest `master`.)

It builds fine for me outside of docker. Or it did last time I double checked anyway. I thought it might be somethi

[2015-04-11 13:59] mtglsk commented on #2408
Ok that works, thanks :+1:

I don't know if this still a bug with `|`, most nnoremaps work fine with them.

[2015-04-11 14:00] tarruda commented on #2408
In any case, you should never see messages like `E315: ml_get: invalid lnum: 41`

[2015-04-11 14:05] noahfrederick commented on #2408
@mtglsk

You can't use `|` in a mapping, because it signals the end of the mapping. Your original example is equivalent to:

[code]

I assume calling `termopen('bash')` directly in your vimrc, which is the result of the above is triggering a bug.

[2015-04-11 14:06] tarruda commented on #2354
`forkpty` man page says the forked process should be a session leader, I wonder if archlinux's libutil is bugged. Does this patch helps?

[code]

[2015-04-11 14:10] mtglsk commented on #2408
My bad, thanks for the explanation.

[2015-04-11 14:12] tarruda commented on #2408
@mtglsk can you update the title so it reflects the real bug?(`termopen` inside vimrc)

[2015-04-11 14:27] tarruda commented on #2364
Then it is a different problem. @treed do you get a core dump from the segfault? You use this command to save a backtrace of the crashed program: `gdb -q -n -ex bt -batch ./build/bin/nvim core > backtrace.txt`

If no core dump is generated, then you may need to enable it with `ulimit -c unlimited`

[2015-04-11 15:13] mtglsk opened #2409 "Garbled screen after :set laststatus=0 | vnew | new | botright 20new"
Use this as an example:

[code]

Screen gets garbled. I've noted this when using FZF.

Not a big issue, because most people use `laststatus=2`, nevertheless it seems like a bug.

[2015-04-11 15:40] cacplate commented on #2401
I did what you proposed but still no gmon.out. Do you have another idea?

[2015-04-11 16:10] michaeljones commented on #2364
No luck I'm afraid, I need more experience but this is my docker file attempt:
[code]
I get a `Segmentation fault (core dumped)` in the output but the find command doesn't find a core file. Altering it to find all files created in the last 5 minutes doesn't seem to reveal anything either. Googling docker & core-dump suggests that it isn't necessary a given that they are created.

I've tried someth

[2015-04-11 16:18] splinterofchaos commented on #2403
Confirmed. 24 is the default value, but vim is able to print the correct value on startup.

This probably happens because one's `.nvimrc` is sourced well before the ui boots up. This is necessary because `.nvimrc` can be used to configure the gui, but if a plugin needs to know the screen size at boot, this will cause problems.

[2015-04-11 17:05] splinterofchaos commented on #2401
I forgot, sometimes regenerating the makefile with `cmake ,` causes the binary to be generated at `bin/nvim` instead of `build/bin/nivm`.

So here's the profile data of the top ten functions we spend time in, running `nvim` in `CMakeLists.txt` as the control experiment. (Heavy syntax highlighting, but not "sluggish".)
[code]
And here's latex:
[code]
The function `in_id_list` jumped from almost no

[2015-04-11 19:14] Pyrohh commented on #2396
Closed by #2398

[2015-04-11 19:14] #2396 closed

[2015-04-11 20:48] gdrooid commented on #2364
I had a similar issue today. I removed neovim from the system completely and started over and it worked.

[2015-04-11 21:03] treed commented on #2364
I'll check to see if I can get a core file later, but I should note that every time I build, it's a completely fresh build from master and completely fresh OS root, so any approach that involves removing anything and starting over won't work here, since that happens on every build anyway.

[2015-04-11 22:32] mtglsk commented on #2409
It seems to be a VIM bug after all. Closing.

[2015-04-11 22:42] splinterofchaos commented on #2401
I spent some time looking at `in_id_list` and there are two problems: It's called very, very frequently and it's recursive (with a maximum depth of 30). Limiting the depth to 1 does not solve the problem, so it's not excessive recursion going on. My current thought is that maybe we can somehow cache the results, but I'm not familiar enough with the code right now to propose how.

[2015-04-12 00:00] elyscape commented on #1749
Yeah, I suppose that's a fair point, and I unfortunately don't have an alternative other than just using pipes, which introduces its own issues.

[2015-04-12 13:51] rustushki commented on #2377
@fwalch @justinmk I can confirm that the problem is not present in 20f52f4, but is present in bbcddc5.

[2015-04-12 14:20] fwalch commented on #2372
Closing as duplicate of #2377.

[2015-04-12 14:20] #2372 closed

[2015-04-12 17:13] splinterofchaos commented on #2408
This relates to the use of a static variable in `syntax.c`, `current_lnum`, which does not get updated when we open a terminal. This causes it to repeatedly attempt to call `ml_get_buf()` with a line number greater than the number of lines in the terminal buffer.

This this does not happen when I call `termopen()`  in  `.nvimrc`, but does happen when I go to a file larger than my screen size and c

[2015-04-12 18:08] raichoo opened #2416 "`make install` fails on Archlinux"
Hi,
I get the following error message when running `make install`:

    CMake Error at cmake/GenerateHelptags.cmake:25 (message):
      Generating helptags failed:

      - 1
    Call Stack (most recent call first):
      cmake_install.cmake:516 (include)

    Makefile:85: recipe for target 'install' failed
    make: *** [install] Error 1

Previous to that I'm doing `make` to get all the dependenc

[2015-04-12 18:10] tarruda commented on #2416
Some old tags in the runtime directory are causing the `helptags` command(called during install) to fail. If you remove nvim runtime directory and reinstall it should work.

[2015-04-12 18:12] raichoo commented on #2416
Less then 5 minutes! Thanks for the awesome support. That fixed it ^^

[2015-04-12 18:12] #2416 closed

[2015-04-12 18:14] tarruda commented on #2408
The attribute information is stored by libvterm. screen.c will ask the terminal module for the attributes directly: https://github.com/neovim/neovim/blob/fb6e9312684b0f1bd60822d7da04ba6901b1e48b/src/nvim/screen.c#L2599

I think your patch is correct, can you open a PR?

[2015-04-12 18:56] orbisvicis opened #2417 "Idea: TagSearchPre/TagSearchPost Auto Commands"
Commands and maps that require the presence of a tag file should emit TagSearchPre/TagSearchPost events. This would include:

[code]

But not:

[code]

Plug-ins can hook into these events to (for example):

* Set the 'tags' option by
  * searching recursively upwards for matching files
  * searching for current file in vim-specific tag-file database
* Automatically generate the tag file if none fo

[2015-04-12 19:48] splinterofchaos commented on #2409
Do we not consider bugs in vim bugs in neovim too?

Been looking into this. This patch seems to fix it...
[code]
but doesn't fix `:set laststatus=0 | vnew | vnew | botright 20new<CR>`.

[2015-04-12 19:54] Pyrohh commented on #2409
Yes, I think we do: [CONTRIBUTING.md#reporting-problems](https://github.com/neovim/neovim/blob/master/CONTRIBUTING.md#reporting-problems).

[2015-04-12 19:57] fwalch commented on #2409
cc @chrisbra

[2015-04-12 20:15] chrisbra commented on #2409
Isn't that the same as that one:
https://groups.google.com/d/msg/vim_dev/fNq8tHTcKfA/7yg4GZ1h8agJ

Best,
Christian
--
Man erkennt den Irrtum daran, daß alle Welt ihn teilt.
		-- Jean Giraudoux

[2015-04-12 21:33] splinterofchaos commented on #2409
@chrisbra thanks, I missed that.

I can't replicate it in vim, so maybe we changed something, but there's still a problem in neovim:
[code]
The screen fails to redraw and every time I enter insert mode the status line creeps up. Maybe I missed it again if there's an existing vim patch...

[2015-04-12 22:03] splinterofchaos commented on #2408
Openned #2419. I thought I remembered another instance where this message would appear related to terminal buffers, but I just can't remember.

[2015-04-12 22:24] bfredl commented on #1396
I will try to fix this in #2411

[2015-04-13 01:06] equalsraf commented on #1749
It throws about a dozen errors with Variable Length Arrays, and an unsupported escape sequence \e.

@tarruda I ended up adding a def FEAT_TERMINAL to enable/disable support for the terminal emulator in  	8365c93.

AppVeyor builds are back up :D

[2015-04-13 01:20] equalsraf commented on #1749
- [ ] busted is disabled for Windows because of lubyk/xml#2, the fix is merged into master though

[2015-04-13 01:24] elyscape commented on #1749
`\e` isn't supported by MSVC.  If we replace it with the literal `\x1B`, it should work fine.

[2015-04-13 01:36] elyscape commented on #1749
This is still a problem, though.  A possible, albeit suboptimal, fix might be to patch the code that uses VLAs to instead allocate on the heap with `new whatever[len]`.

[2015-04-13 08:35] ditsing commented on #2364
I'm not sure if it's the same issue with mine, but I was compiling neovim from master on Ubuntu 14.04 and got the following error while running `make install`:

In the (messy) message we can see `if_pyth.txt` and the `script-here` tag is mentioned. I tried to rename the tag `script-here` in `runtime/doc/if_pyth.txt` to something else and the error was gone.

I have absolutely no knowledge of cmake

[2015-04-13 09:47] HiPhish opened #2420 "Supporting non-English keyboards properly"
Hello, NeoVim team

I am a Vim user with a non-English keyboard layout and I wonder if it would be possible to fix things in NeoVim. I've described the problem and my proposition in a pastebin:
http://pastebin.com/QeLFUGA1

Is this even possible? I don't know if a terminal is able to register ctrl + key as two different keys, or if they get lumped into one control character. I know that at least m

[2015-04-13 11:59] blueyed commented on #2364
@tarruda
I've seen the same problem, where removing `/usr/local/share/nvim` fixed it:

    -- Generating helptags in /usr/local/share/nvim/runtime/doc.
    CMake Error at /home/daniel/Vcs/neovim/cmake/GenerateHelptags.cmake:25 (message):
      Generating helptags failed:

      - 1
    Call Stack (most recent call first):
      cmake_install.cmake:516 (include)

It would be nice if this could be m

[2015-04-13 12:14] tarruda commented on #2364
@blueyed @ditsing error can be fixed by removing the existing runtime directory, but I think @treed is experiencing a different error, I need a backtrace from the core dump to determine the cause

[2015-04-13 12:24] blueyed commented on #2364
@tarruda

Yes, that worked for me.  But I only found the workaround when seeing this issue here, so making the `:helptags` more verbose / less silent might have helped already.

[2015-04-13 12:25] tarruda commented on #1749
@leonerd would it be ok to remove \e and VLAs from libvterm? It would allow compilation with visual studio.

[2015-04-13 12:40] tarruda commented on #650
jemalloc is now used by default(#2415), reopening as I don't know if this issue is caused by a poor malloc implementation

[2015-04-13 12:56] leonerd commented on #1749
Replacing the `\e` with `\x1B` should be simple enough.

As to the VLAs, I did spend a while staring at those some time ago and came to the conclusion that a few of them at least are nontrivial to hack at. I'll take another look and see what I can manage.

[2015-04-13 13:07] tarruda commented on #2364
:+1: Created #2421 for this

[2015-04-13 13:29] Hettomei commented on #2382
Hi,

It is same as issue #2119 , should I close it ?
I confirm : You have to click on tab but gt gT works (with ```nvim -u NONE```).

[2015-04-13 13:32] Hettomei commented on #2382
And if after it breaks you do

[code]

mouse works well.

[2015-04-13 14:15] splinterofchaos commented on #2354
Sorry I didn't try this sooner. That patch doesn't trigger an assertion, but I still need to comment out `owns_tty()` for the tests to work.

[2015-04-13 14:17] tarruda commented on #2354
Ok, I think I have an idea. What is the value of your &shell?

[2015-04-13 14:29] elmart opened #2422 "18 new coverity issues"
Probably introduced by #2415.
@tarruda Please have a look.

[2015-04-13 14:35] splinterofchaos commented on #2354
Just sh. But functional tests shouldn't read the users `.nvimrc`, right? (My login shell is fish.)

[2015-04-13 14:38] tarruda commented on #2422
A first look doesn't tell me how #2415 could have caused that, the big change introduced was replace `free` by `xfree`.

Could this be an old bug that was only discovered now?

[2015-04-13 14:44] tarruda commented on #2354
Terminals will spawn the program with `&sh -c 'CMD'`, so this assumes the -c flag will exec the program  making it the session leader. if the shell forks and waits, the forked program won't be the session leader.

I think `f_termopen` needs to be refactored so it wont use the shell to run commands(and receive argv like `f_jobstart`)

[2015-04-13 14:46] tarruda commented on #2422
Is there a way to test if this would fix the problem?

[code]

[2015-04-13 15:05] strokirk commented on #2068
@Pyrohh So Swedish users using other terminals should just be left in the open?

[2015-04-13 15:09] elmart commented on #2422
Sorry, I'm away from my computer now. Yes, I can test it. Will do when I get back home.  Thanks.

[2015-04-13 15:56] critiqjo commented on #2068
It is possible to manually map, for example, \<M-j\> in any mode (urxvt, gnome-terminal and xterm).
But, if what you want vim-like behaviour (all meta combinations are treated as Esc prefixed keys), you have to map everything manually (which is not a big deal, btw)

[2015-04-13 16:39] tarruda commented on #2422
I've added the commit to #2421, if you confirm it fixes I will merge it

[2015-04-13 16:57] oni-link commented on #2422
Did not see any calls to `xfree()` in the coverity report, so I would be suprised, if the patch would help.
This is the first warning in the coverity report.
[code]
If we follow the function calls for `ga_append()`, we end up at a call `xrealloc(...)` that uses `gap->ga_data`. At this point `gap->ga_data` should be assigned a `NONNULL` value. So I would assume coverity has some problems with the u

[2015-04-13 17:14] justinmk commented on #650
@aktau Are you able to reproduce this (with vim-eastytags?) after https://github.com/neovim/neovim/pull/2295 ?

[2015-04-13 17:27] Pyrohh commented on #2068
Do you mean to say that the whole Swedish alphabet must be mapped to work "normally", e.g.

```inoremap <M-[en alphabet] [swe alphabet]```

[2015-04-13 17:30] tarruda commented on #2422
makes sense, maybe if we je_realloc is marked wtih FUNC_ATTR_NONNULL_RET?

[2015-04-13 17:31] justinmk commented on #2420
This is the *abridged* version?

Also, instead of pastbin, just post the whole thing in the issue description, please.

[2015-04-13 17:32] hoschi opened #2423 "Tnoremap doesn't execute <plug> commands"
I try to replace some tmux panes with these new terminal buffers and it works really nice. But I don't get new 't' version of the mapping commands to work. I tried to remap some commands, so I can use the same keys to trigger a plugin command with the same binding, in normal or terminal mode:

[code]

But this only works on the second press of <c-e> ... on the first press in a terminal buffer the

[2015-04-13 17:35] tarruda commented on #2422
Actually, this one might fix it:

[code]

[2015-04-13 17:37] justinmk commented on #2423
That's by design, neither with `nnoremap` and friends. This is because `<Plug>Foo` is itself a mapping. So you must use the non-`nore` variants:

    tmap foo <Plug>bar
    nmap foo <Plug>bar
    ...

[2015-04-13 17:37] #2423 closed

[2015-04-13 17:42] hoschi commented on #2423
Ahhh, thanks this worked!

[2015-04-13 17:51] elmart commented on #2422
`xrealloc` is already marked that way and it's not working.
Coverity is not taking function attributes into account.

So, I think the problem is that Coverity doesn't know that je_malloc and family are malloc and family substitutes. That can be solved by adding function models to coverity project. I can't do it right now, but I'll do it soon. I've already added models before.

[2015-04-13 17:58] elmart commented on #2422
Also, sorry for not having looked into proposed fix more carefully. As I said, I was away from my computer. Now that I've looked a bit at it, I do agree with @oni-link that problem seems to be in not detecting allocation, and not in freeing.

BTW, doesn't je_free() accept NULL, as free does? It could pose other problems if not.

[2015-04-13 18:03] critiqjo commented on #2068
No! What I mean is that the following works fine:
[code]
which will give you vim-like behaviour for \<M-j\> in insert mode...
Sorry for the confusion.

[2015-04-13 18:07] Pyrohh commented on #2068
Ah, my mistake.

[2015-04-13 18:09] tarruda commented on #2422
It does accept, I proposed that patch because I assumed coverity would report error when passing NULL to a unknown function

[2015-04-13 18:25] #2275 closed

[2015-04-13 19:06] HiPhish commented on #2420
OK, I didn't want to bloat the post with too much text, but I have edited it now.

[2015-04-13 19:26] splinterofchaos commented on #2407
This sounds like a duplicate of  #2322, or possibly #2026. Please continue the discussions in those issues, or reopen if I have made a mistake.

[2015-04-13 19:26] #2407 closed

[2015-04-13 19:29] splinterofchaos commented on #2322
I have this problem on ubuntu with gnome-terminal and st. Renamed the issue because it's not OSX-specific.

[2015-04-13 19:31] splinterofchaos commented on #2354
I'll take a stab at this if you're not working on it currently.

[2015-04-13 19:43] tarruda commented on #2354
Please :smile:

[2015-04-13 19:52] ZyX-I commented on #2420
Usually in GUI apps the solution is to use scancodes translated to some default layout (I highly suggest taking “some default layout” from OS, not blindly use `us`). This thing is done by X11 when you use Control mappings (but not for Alt). I also see that fluxbox has this behaviour even when using Alt mappings.

Note: I do not know how they actually implement this. What I know are the following f

[2015-04-13 19:56] ZyX-I commented on #2420
(And one more note: when I select `us` as the second layout fluxbox still responds to `<A-r>` in dvp2, no matter the layout; xev though uses whatever the current layout is for `<C-…>`.)

[2015-04-13 21:34] splinterofchaos commented on #2354
This was pretty trivial to implement (minus a few tests that needed editing), but is it absolutely necessary to be the session leader? The tests now pass for me, but things like
[code]
now become
[code]
Just a sanity check: is this worth it? It looks like `jobstart()` has already switched from using `p_sh`, so at least consistency isn't an issue.

[2015-04-13 22:02] tarruda commented on #2354
I meant to only change `termopen` API. `:terminal` and editing `term://` should still use shell. This is how it should translate internally:

- `:terminal ls *` -> `call termopen([&sh, '-c', 'ls *'])`
- `edit term://python` -> `call termopen([&sh. '-c', 'python'])`

`jobstart` never used `&sh`, it was always a lower level function. Ideally `termopen` would be the analogous to `jobstart` that spawn

[2015-04-13 22:34] splinterofchaos commented on #2354
That makes much more sense.

[2015-04-13 23:28] tarruda commented on #2354
@splinterofchaos just one note about `f_termopen`: It currently uses the first argument as the command string in the buffer title `term://{CWD}/{CMD}:${PID}`. With this new API we'll have to be a little hacky to maintain compatiblity with the current behavior:

- If argv has 3 items, with the first being `p_sh` and the second being `-c`, use argv[2] as the command string
- In all other cases use `

[2015-04-14 02:44] Pyrohh commented on #696
#1749 has been open for a while, so I'll close this. My apologies if I missed something.

[2015-04-14 02:44] #696 closed

[2015-04-14 06:31] Pyrohh opened #2425 "Build fails while fetching dependencies"
[code]

I assume it's because of https://github.com/Olivine-Labs/busted/pull/401. The following patch stops cmake complaining about the new dependencies:

[code]

However, the build still fails:
[code]

(already did `make distclean` if that matters)

[2015-04-14 07:09] Hettomei commented on #2364
I had the same problem  yesterday.

And today after ```make install``` fail, I read " Remove "/usr/local/share/nvim/runtime/doc" and try again" and it worked :)
Thank you.

[2015-04-14 09:06] marlun commented on #2425
I'm getting what I think is the same problem except I'm not using ninja?

[code]

[2015-04-14 09:20] bfredl commented on #2425
I get same error as @marlun

[2015-04-14 09:31] jszakmeister commented on #2425
I believe the problem is Olivine-Labs/busted@feb5adbe2eb2979bdc65557fe0e3817b19849417.  Luarocks is failing to install correctly from that rockspec for some reason.

[2015-04-14 09:35] bfredl commented on #2425
Indeed, downloading the rockspec file and reverting that change manually seems to fix the build.

[2015-04-14 09:43] jszakmeister commented on #2425
I left more information [here](https://github.com/Olivine-Labs/busted/pull/409#issuecomment-92722202).  The short form is that you're supposed to use a url of the form `git+https://`, but that doesn't actually work because there is no git_https module in luarocks.  So it appears we have a series of failures across several projects. :-(

[2015-04-14 09:50] bfredl commented on #2425
`git+http` seems to work, or I suppose one could download a master tarball from github over pure https if the "s" is important.

[2015-04-14 09:52] jszakmeister commented on #2425
@bfredl I should mentioned that here, but I did in the busted issue.

[2015-04-14 10:01] jszakmeister commented on #2425
Fixed for now in d22f2f94047a5ed1e930ee46d0d2e8d6aacfa104.

[2015-04-14 10:01] #2425 closed

[2015-04-14 10:02] kopischke commented on #2420
Just want to chime in and say that, having run into all the problems @HiPhish describes with a German keyboard layout, I have had to resort to the kind of system level remapping @ZyX-I describes (possible in OS X, albeit not out of the box, you have to install [Karabiner](https://pqrs.org/osx/karabiner/)).

My key takeaway from all that was that `langmap` is near useless for such usage cases (I’d

[2015-04-14 11:29] babygau commented on #2048
@lambdahands, @adambiggs
Just in case you couldn't get it worked with `vim-tmux-navigator`, try this
[code]
It works for me

[2015-04-14 11:29] justinmk commented on #2420
@kopischke does the new `nolangremap` option solve anything for you?

[2015-04-14 11:52] kopischke commented on #2420
@justinmk it removes one wart among many. Lack of chord support, wonky command line mode support and issues with Unicode characters all remain.

[2015-04-14 12:44] HiPhish commented on #2420
Langmap uses Greek as an example, so when I type

    :set langmap=ηhξjκkλl

I can use the home row with a Greek keyboard. Furthermore, using `ctrl` and the home row works as well, so it appears that `langmap` is working just the way I want it, right? Then I reset my `langmap`

    :set langmap=

and the Greek home row was still working with the `ctrl` keys. My uneducated guess would be that `ctrl

[2015-04-14 18:35] norcalli opened #2428 "Neovim gets progressively slower and slower in insert mode"
Over time, my neovim instance will take longer and longer to type characters in insert mode over the span of about 30 minutes. This seems like a relatively new problem (as of about 1-2 weeks ago). I am using it on Mac OS X, but mostly I was wondering if anyone else has noticed this problem, or if it's my .vimrc or a plugin causing problems.

[2015-04-14 18:36] HiPhish commented on #1692
I'm going to chime in as someone who learned Vim only a few months ago (after being fed up with Xamarin Studio).

The first thing any new user has to realise when starting out with Vim is that Vim is a fundamentally different editor than what they are used to. Expecting Vim to be like Notepad is like expecting a car to be like a bicycle. Sure, both are contraptions with wheels to drive around, but

[2015-04-14 18:43] Pyrohh commented on #2364
I'll close this, but please feel free to reopen this @treed if the issue isn't fixed.

[2015-04-14 18:51] Hettomei commented on #2428
Did you notice any change when running nvim without vimrc or plugin ?

[code]

[2015-04-14 19:20] shmup commented on #2024
Using neovim nightly on Ubuntu with Gnome Terminal this still happens.

[2015-04-14 19:33] Pyrohh commented on #2024
@shmup what's the output of `--version`? I remember @fwalch saying those nightlies were outdated, but I'm not sure that's still true.

[2015-04-14 21:54] justinmk commented on #2428
@norcalli Please report:

[code]

[2015-04-14 22:20] brettanomyces commented on #2170
I'm still sometime getting this problem using version:

 (NVIM 0.0.0-alpha+201504131025 (compiled Apr 14 2015 08:29:20)
Commit: d60ae3159ecb2906e53a44241a51dada359d38f0

Unfortunately I haven't been able to find a way to reliably reproce it

[2015-04-15 00:05] adambiggs commented on #2048
@babygau I found that vim mappings only fix `vim-tmux-navigator` *inside vim*. As soon as you navigate to a Tmux pane that isn't running vim, you can no longer navigate left.

@tarruda's [fix](https://github.com/neovim/neovim/issues/2048#issuecomment-78045837) is the only complete solution I've found so far.

[2015-04-15 00:09] mhinz opened #2430 "`server_requests_spec.lua` hangs"
676133a added new tests that hang for me.

The culprit is this line: https://github.com/neovim/neovim/blob/master/test/functional/api/server_requests_spec.lua#L131

I can reproduce it with:

[code]

[2015-04-15 00:13] fmoralesc commented on #1692
@HiPhish Good ideas! If we assume we'll go ahead and include my vim-tutor-mode plugin to replace the old vimtutor in nvim, as per #2351 (I'll make a PR bundling it once I'm done with #2041), perhaps someone could help writing those tutorials in the new format? ;) (vim-tutor-mode also allows plugin writers to provide interactive tutorials, btw).

[2015-04-15 00:31] justinmk commented on #2379
Alt-tab is a bit of an edge-case, at least on Windows.

[2015-04-15 02:07] fortes commented on #2379
This is on a Mac, where alt/option-Tab does nothing by default.

[2015-04-15 03:19] splinterofchaos commented on #2430
@mhinz, could you apply this patch and tell me if nvim outputs anything?
[code]

[2015-04-15 07:50] HiPhish commented on #1692
I could write the first two tutorials, but I'm still too unexperienced to write about more advanced topics. Interactive tutorials sound like a good idea. If others agree we can start properly planning the tutorials series.

[2015-04-15 09:15] dbellavista commented on #2329
@verandaguy I'm experiencing some problem installing neovim using `brew`, however the installation from source worked perfectly. I'm using OS X 10.10.3 x64

[2015-04-15 12:39] norcalli opened #2434 "ZB: command to delete buffer without closing the window"
All other solutions I know of are hacks that kinda work (usually by creating a new split and then deleting the buffer in that window, and attempting to cover all possible cases for this), but intrinsic support for this would be greatly appreciated.

[2015-04-15 13:46] justinmk commented on #2434
That isn't necessary at all. The hack I use switches to the next valid buffer (or creates a new empty one), then deletes the original.

[2015-04-15 13:49] norcalli commented on #2434
@justinmk I think you'll find [it's](http://vim.wikia.com/wiki/Deleting_a_buffer_without_closing_the_window) [been](https://github.com/moll/vim-bbye) [done](https://github.com/rbgrouleff/bclose.vim) [already](http://stackoverflow.com/questions/4465095/vim-delete-buffer-without-losing-the-split-window) [in many different ways](http://stackoverflow.com/questions/4298910/vim-close-buffer-but-not-spli

[2015-04-15 13:55] justinmk commented on #2434
Yes, I know. But the idea of adding a new core command for this doesn't sound appealing. Details would be welcome though.

[2015-04-15 13:58] splinterofchaos commented on #2434
`:enew!`?

[2015-04-15 14:01] norcalli commented on #2434
A whole terminal was added along with autocommands, a command, and a Terminal class. This is incredibly light weight in comparison. And surprisingly, `bclose` is not taken AFAIK, so that would be a valid name, and upon using it, it would destroy the buffer and move to the next available buffer while maintaining the split window or moving to a scratch buffer if it is the last buffer. It is meant to

[2015-04-15 14:07] tarruda commented on #2434
Why not simply implement this as a buffer option?

[2015-04-15 14:08] justinmk commented on #2434
I'm talking about the UI, not the technical cost, and in *proportion* to the benefit. The technical and UI cost of `:terminal` in relation to its benefit is worth it. Adding `:bdelete_but_leave_my_window_alone` may not be.

So what about someone who wants to `:bwipe` or `:bunload` without closing the window?

Users will still need to wrap that option in a command, so it doesn't gain anything over

[2015-04-15 14:11] justinmk commented on #2434
But this does:

[code]

[2015-04-15 14:16] norcalli commented on #2434
@justinmk I guess `set bufhidden=delete | bnext | set bufhidden=hide` (or a function which uses a variable to save the value instead of using `hide`) does what I want pretty well. I can see how this would be difficult to add now without breaking anything.

[2015-04-15 14:24] justinmk commented on #2434
`set bufhidden=hide` should not be necessary because it's a buffer-local variable :)

[2015-04-15 14:24] norcalli commented on #2434
@justinmk good to know.

[2015-04-15 15:00] tarruda commented on #2434
Really simple, no need for a separate option just to achieve that :smile:

[2015-04-15 15:31] HarmtH commented on #2434
Not entirely true, when you have two windows open displaying the buffer you want to delete, 'bd' deletes the buffer (and both windows), while 'setl bufhidden=delete | bnext' only goes to the next buffer in the current window and nothing more.

[2015-04-15 15:32] norcalli commented on #2434
@HarmtH I've realized this as I've been writing this plugin for the past 20 minutes. It seems it's more nuance than I thought. You have to make sure no windows are pointing at the buffer.

[2015-04-15 15:37] norcalli commented on #2434
@HarmtH I initially thought `vim-bbyte` was using a different method, but after using it, I see that it covers all the cases. It may be that such a thing would have been useful in the core, but I suppose the plugin...will do.

[2015-04-15 15:58] HarmtH commented on #2434
Where can I find vim-bbyte? I've looked at multiple plugins that try to do this, but they all have their problems.

In my opinion this should also be a core option of (N)Vim too. New commands would be nice, so it doesn't break plugins that rely on bd/bw/bun to close a split window (do they exist?), but probably an option like 'keepwindow' will suffice too.

[2015-04-15 16:17] athaeryn opened #2435 "E518: Unknown option: term=$TERM"
I've got `set term=$TERM` in my `.nvimrc`. When starting neovim, it throws the error:
[code]

. I'm a bit confused, as the `h 'term'` lists:
[code]

[2015-04-15 16:56] splinterofchaos commented on #2435
I believe we no longer support `term`. Please use `cterm` instead. However, I'm hesitant to close this issue because (1) the docs need updating, and (2) should we silently ignore `term` or suggest that users use `cterm` instead? Ignoring it might provoke people to make bug reports like "term not respected".

Are there reasonable circumstances where someone will not have access to a color terminal?

[2015-04-15 16:58] ZyX-I commented on #2435
@athaeryn What’s the point in doing `set term=$TERM`? This is the default.

[2015-04-15 17:01] splinterofchaos commented on #2435
Ignore my comment, I got confused by `:help term` when I should have read `:help 'term'`.

[2015-04-15 17:04] splinterofchaos commented on #2435
Weird, `:echo &term` outputs `nvim` (so `$TERM` is not the default and the docs still need updating), but `:set term=anything` indeed produces this error.

[2015-04-15 17:08] athaeryn commented on #2435
@ZyX-I It's quite possibly something I thought I needed a while back, but I don't need it anymore (and possibly didn't ever). I can probably remove it.

[2015-04-15 17:24] justinmk commented on #2435
`&term` is still returned for backward compatibility, but setting it is an error because it serves no purpose in Neovim.

[2015-04-15 17:24] #2435 closed

[2015-04-15 17:26] Pyrohh commented on #2435
@splinterofchaos coincidentally, I'm updating the docs right now. I think it also make sense to bring back the removed options as no-ops, as the state of things having no-ops is inconsistent.

[2015-04-15 17:42] Pyrohh commented on #1692
Small reminder that it might be a good idea to build off of @dahu's LearnVim as a starting point, or at least as a point of reference (he mentioned above that attribution should be given). Apologies if I'm missing something, I just don't someone to waste their time unnecessarily writing a tutorial from scratch.

[2015-04-15 17:49] fmoralesc commented on #1692
I already started porting learn in to vim-tutor-mode, as mentioned above
and elsewhere. It would be nice if someone helped me finishing porting it.
Just saying...  ;)

[2015-04-15 17:54] Pyrohh commented on #1692
I'd love to help out, just message me on gitter.

[2015-04-15 17:56] fmoralesc commented on #1692
Will do.

[2015-04-15 17:58] justinmk commented on #2435
Where is it inconsistent? We make it an error in cases where our behavior would not match the behavior expected by the act of setting the option. E.g.,

- `set cp` is an error because the no-op behavior would be totally broken.
- same with `set edcompatible`
- For `set term=xterm` it depends on what is actually looking at `&term`. `set term=$TERM` is *not* a valid argument in favor of making `set

[2015-04-15 18:07] raichoo opened #2436 "Behavior of `*`"
Hi,

I've been thinking about this for quite a while now and thought "what the heck, let's see what people think".
`*` always kind of bothered me because it essentially does 2 things at once, it highlights the word under the cursor and jumps to the next occurrence. I don't consider that to be really composable in fact I've seen a lot of people, including myself, mapping `*` to `*N` to just highlig

[2015-04-15 18:14] Pyrohh commented on #2435
I was going to list them off, but I got lazy :grin:. Anyways, here's what I've noticed:
- ttyscroll
- weirdinvert
- cryptmethod
- key
- :shell
- ttymouse does nothing at all, regardless of what it's set to (not sure if we should warn about this).

Oops, I didn't mean to imply that, in fact I haven't really thought much if it should be a no-op.

[2015-04-15 18:19] weaksauce commented on #2436
I don't think that ```*``` highlights anything unless I am mistaken about your definition of highlights. perhaps you have a mapping that highlights when you press ```*```?

Anyway, the search feature of ```*``` and ```#``` are one of the most widely used search shortcuts imo. This would be a bad addition to something that aims to be vim "out of the box" so to speak because it would break a long st

[2015-04-15 18:21] raichoo commented on #2436
Ah yeah, let me clarify. I also use `hlsearch`. Thinking about that this would require `hlsearch` to be on by default which is not desirable…

[2015-04-15 20:16] michaeljones commented on #2364
I'm still getting:

[code]

So the error has changed. This is running on a clean docker container with `--no-cache` to make sure it is super clean. I'm totally clueless about the build procedure but it looks like it must be creating that folder and then complaining that it is already there? Not sure.

I hope this helps a little.

[2015-04-15 22:42] blueyed commented on #2364
@michaeljones
Can you enter the container and run the command manually?
Then you could emit the `-s` (https://github.com/neovim/neovim/pull/2421#issuecomment-92352934) and also use it through `gdb`.

[2015-04-15 22:43] blueyed commented on #2364
@michaeljones
Can you provide the Dockerfile, so others (@tarruda) could reproduce it?

[2015-04-15 23:15] splinterofchaos commented on #2430
@mhinz and I discussed this a bit on gitter. Posting here for documentation purposes.

From the [`.nvimlog`](https://gist.github.com/mhinz/e8617425c72efd018595) produced by running the above script (edited and annotated with my best understanding):
[code]
I think the child is stuck in an infinite loop, maybe due to `event_poll(0)`, and the parent is stuck, waiting on the child.

[2015-04-15 23:23] justinmk commented on #2435
@Pyrohh ttymouse and ttyscroll could be debatable, but the others should be errors.

[2015-04-16 01:49] lazywei opened #2437 "Loading python is slow when first start neovim"
Hi,

I notice that there is a notable delay when open neovim first time. That is, if I quit neovim and re-start neovim, the delay is gone. And if I don't use neovim for a while (maybe half of hour) and start neovim again, the delay will appear again.
### First time startuptime

[code]
### Second time startuptime

[code]

The loading time of `python.vim` is very difference between the above two.

[2015-04-16 01:51] Shougo commented on #2437
I think it is python loading overhead.

Please test https://github.com/neovim/neovim/pull/2208.

[2015-04-16 01:52] Shougo commented on #2437
It is (disk?) cache behavior.  It is not neovim related problem.

[2015-04-16 02:12] tarruda commented on #2437
:+1:

I also notice this, whenever I reboot the machine it takes a little extra time to load

[2015-04-16 02:19] Shougo commented on #2437
I improved the python loading in #2208.   And you can skip the check by `g:python_host_skip_check` variable.  If enabled it, the overhead is almost same with Vim.

[2015-04-16 02:21] lazywei commented on #2437
OK, got it. How is #2208 going then? Would it be merged soon?

[2015-04-16 02:29] Shougo commented on #2437
The code changes are done and it works.  I must rebase the codes though.
If #2208 is merged, it is closable.

[2015-04-16 05:10] xanderdunn opened #2438 "crash opening ~3mb text file with YouCompleteMe plugin"
Some script I ran generated a text file that was about 3mb.  I tried to open it up in neovim and I would see YouCompleteMe flash a message that the file was too large to process, and then immediately afterward neovim would segfault.

I got 4 crash logs.  You can find them [here](https://github.com/alexdunn/storage/tree/master/crashes/nvim_large_file).

Unfortunately, I no longer have that large te

[2015-04-16 06:45] FelikZ commented on #2364
@Blueyed https://github.com/FelikZ/docker-neovim/blob/master/Dockerfile

[2015-04-16 07:02] rstacruz opened #2439 "feature flag for terminal"
It would be nice to be able to do `has("terminal")` to conditionally check for terminal support.

This allows for configurations such as:

[code]

[2015-04-16 07:04] Shougo commented on #2439
Why don't you use `has('nvim')` ?

[2015-04-16 07:05] rstacruz commented on #2439
Ah! I was looking for that one myself, but it seems `:help feature-list` doesn't list `nvim` on there.

[2015-04-16 07:08] Shougo commented on #2439
Yes, it should be described in it and `:help vim-differences` like `TabNew` autocmd.

[2015-04-16 07:21] michaeljones commented on #2364
Thanks @FelikZ.

@blueyed if I enter the container and run the command manually then it works. I'm sorry for not including that information. I don't know the correct terminology but I assume it is something to do with access to the 'tty' perhaps? Related to that fact that the helptags step actually boots up nvim as far as I can tell.

[2015-04-16 07:24] michaeljones commented on #2364
Here is the content of a Dockerfile which separates out the failing command so that the rest is cached for quicker iterations:

[code]

I tried removing the `-s` flag but it didn't seem to have any impact on the output. Though with this Dockerfile the output is different to the output shown above as we're not running `make install` here.

[2015-04-16 07:26] yshui commented on #2364
I have seen a similar crash as well. It's at main.c line 1365, when calling fileno on stderr.

[2015-04-16 07:27] FelikZ commented on #2364
@Michaeljones can you provide your `docker run` full command?

[2015-04-16 07:27] treed commented on #2364
I've been unable to get an actual dump out of the build, but the dockerfile I linked above also reproduces this problem.

[2015-04-16 08:03] michaeljones commented on #2364
@FelikZ I'm on a different machine at the moment but I'm pretty sure it is:

[code]

In the same directory as the Dockerfile. I am quite new to docker though.

[2015-04-16 08:09] joshaw commented on #2439
You can always use `exists()`, interestingly, tpope's vim-fugitive is already making use of neovim features with [this](https://github.com/tpope/vim-fugitive/blob/master/plugin/fugitive.vim#L673).
[code]

[2015-04-16 09:19] FelikZ commented on #2364
@tarruda I have found a [commit](https://github.com/neovim/neovim/commit/5709181243536f0a9f23dc4a8d87fe75cc32537d) that introduced this build bug.

[Dockerfile](https://github.com/FelikZ/docker-neovim/blob/helptags-success/Dockerfile) for success with commit `5709181243536f0a9f23dc4a8d87fe75cc32537d^`
[Dockerfile](https://github.com/FelikZ/docker-neovim/blob/helptags-fail/Dockerfile) for success w

[2015-04-16 09:27] elyscape commented on #1749
@leonerd It should be possible to replace them with [`_alloca()`](https://msdn.microsoft.com/en-us/library/wb1s57t5.aspx).  Unfortunately, on basically everything that isn't MSVC, the function's called `alloca()`.  But that's easily worked around by just using `alloca()` and defining it around for MSVC:
[code]

[2015-04-16 10:25] dusans commented on #1749
Just as a note. I switched from Console2 to ConEmu.

ConEmu inject a dll: http://conemu.github.io/en/ConEmuHk.html

[2015-04-16 10:32] jszakmeister commented on #2364
That smells like stderr is somehow set to `NULL`. :-(

[2015-04-16 10:35] ajpaulson opened #2440 "meta/alt chords, function keys, shift-tab broken in :terminal buffers"
If I open a terminal buffer `:terminal` and attempt to use `Alt .` (to insert the last argument of the previous command) I get a unicode character instead (infact `Alt` with any key inserts a unicode character - thereby breaking many readline shortcuts that have become muscle memory)

`Ctrl` based readline chords work as expected.

OS: Debian Jessie
Nvim version: 0.0.0-alpha+201504141749 (compiled

[2015-04-16 10:37] #2436 closed

[2015-04-16 10:47] schickling commented on #2294
+1

[2015-04-16 10:48] mhinz commented on #2430
Is there any way to _leave out_ certain tests? This problem basically prevents me from using `make test`.

[2015-04-16 10:50] rogual commented on #2294
This should be possible in Neovim.app now.

[2015-04-16 10:51] schickling commented on #2294
I've built neovim yesterday and it doesn't seem to work by now (there are no new commits since two days, so I assume I have the newest version).

[2015-04-16 10:53] rogual commented on #2294
Just to clarify, we're talking about the OSX GUI here. https://github.com/rogual/neovim-dot-app/

[2015-04-16 10:57] schickling commented on #2294
My bad!

[2015-04-16 11:05] spacepluk commented on #2294
I'm not sure it's related but I have the same problem in a terminal but only while it's running in tmux.

[2015-04-16 12:48] noahfrederick commented on #2439
Or even

[code]

[2015-04-16 13:06] #2439 closed

[2015-04-16 13:10] splinterofchaos commented on #2430
Sorry, not that I'm aware of. (Maybe `TEST_FILTER` accepts negations?)  I've spotted some other problems this might be the source of.

@tarruda, any thoughts on this?

[2015-04-16 14:38] languitar opened #2442 "Crash recovering a swap file"
Neovim just crashed when recovering from a swap file. The backtrace can be found here: https://gist.github.com/languitar/739b46f544e714ce3a04

[code]

[2015-04-16 14:40] languitar commented on #2442
Ok, this seems to happen in case multiple swap files exist and in the selection dialog that opens up, you just press enter.

[2015-04-16 15:00] splinterofchaos commented on #2442
I looked at the backtrace, but it's inconsistent with the current state of the code. I believe this has been fixed since #2117 merged. Please make sure you have the most up-to-date version of nvim.

[2015-04-16 15:32] Pyrohh commented on #2435
@justinmk It seems I used the wrong word (no-op), which I now realize totally changed the intended meaning. What I mean is that I think that those mentioned options could have an e_unsupported trait, instead of just being unknown.

[2015-04-16 17:34] Pyrohh commented on #2442
I'll close this for now so we don't forget to later, but please reopen this if the issue still happens @languitar.

[2015-04-16 17:34] #2442 closed

[2015-04-16 20:46] tarruda commented on #1749
@dusans Console2 also injects a dll, I've seen in the code. They spawn the child process in paused state, inject some machine code to load the dll and create a thread to run the injected machine code.

I've read that injecting a dll is more reliable because polling the console window can result in lost data, but I've also read that in practice this never happens

[2015-04-16 21:29] trusktr commented on #2103
Understandably, you'd want vimscripts written by users to throw errors, but session files aren't written by users.

Also, sessions don't always get loaded properly after these errors.

[2015-04-16 22:13] liujoey commented on #2436
[code]

[2015-04-16 22:28] languitar commented on #2442
I can't even reproduce the faulty situation now. So I also assume this is fixed.

[2015-04-17 11:21] HiPhish commented on #1692
Me too. I have experience with teaching, so I'd be glad if I can help out.

[2015-04-17 12:55] fmoralesc commented on #1692
Added you both to a channel for vim-tutor-mode in gitter, so we can discuss things further.

[2015-04-17 13:16] fmoralesc commented on #1692
For anyone else interested in joining that, it' at https://gitter.im/fmoralesc/vim-tutor-mode

[2015-04-17 16:28] equalsraf opened #2445 "Neovim fails to build in OpenBSD"
Two minor issues:

1. nvim-client fails to install for OpenBSD
2. **TAB0** used in pty_process.c is not defined in termios.h for OpenBSD

Eventually I will be starting PRs in neovim/neovim and neovim/lua-client to fix the first issue. A minimal workaround is to disable the nvim-client and busted or patch the nvim-client rockspec with

[code]

Dirty fix for the second issue was to #define TAB0 as 0

[2015-04-17 17:07] equalsraf commented on #2445
Also jemalloc failed to build but that can be skipped with -DUSE_BUNDLED_JEMALLOC=FALSE and I am able to build it from master, so it should not be a problem.

[2015-04-17 21:07] bfredl commented on #1396
Should be fixed now, please reopen if still problems

[2015-04-17 21:07] #1396 closed

[2015-04-17 21:08] bfredl commented on #1427
Was fixed in #1182

[2015-04-17 21:08] #1427 closed

[2015-04-17 21:17] bfredl commented on #1780
I think this can be closed now, or anything you miss @justinmk ?

[2015-04-17 21:20] justinmk commented on #1780
Do we support `getreg()` with 3 arguments yet? I can't check any of this at the moment.

#2411 looks nice btw, great work.

[2015-04-17 21:32] justinmk commented on #1780
Couldn't help myself... Looking at `testdir/test_eval.in`, it seems to test:

   ...(getreg(a:reg, 0, 1)), getreg(a:reg, 1), string(getreg(a:reg, 1, 1)

which covers the first 2 variants in my linked comment. It also tests `setreg(..., 'c')` as well as `'l` and `'b'` variants.

However, it does not test clipboard, per this comment at the top:

    Note: system clipboard support is not tested. I do

[2015-04-17 21:57] bfredl commented on #1780
Sounds reasonable. BTW `test/functional/clipboard/clipboard_provider_spec.lua` suffers a bit from identity crisis: in order to test clipboard function, due to `clipboard=unnamed` it must actually test a lot of register functionality in general. A solution would be to refactor `basic_register_test` into a `describe` collection of tests of register functionality, and somehow rerun the entire `descri

[2015-04-17 22:05] bfredl commented on #1780
me for messing with clipboard.

Actually, in #2077 I would like to test the clipboard  between instances, using "system" clipboard. Perhaps this could only be done by default on ci, and on local systems with `Xvfb` (and `xsel` ) available. (Restoring old clipboard contents/ownership on X11 _kind_ _of_ works, but I dont think it can be done reliably)

[2015-04-17 22:56] mreed1 opened #2446 "runtime/doc/developing.txt"
Does anyone think we should keep ? It's wildly out of date, so I'm not sure it's worth it to update it, especially since we already have a bunch of docs on the Wiki.

Then again, having a page built in to the docs might be preferred over those in a Wiki, as it's easier to access while developing, and the wiki page could just link to the [generated documentation](http://neovim.org/doc/user/) so we'

[2015-04-17 23:02] justinmk commented on #2446
I've definitely thought about ways to navigate the wiki locally for this reason. But it might be better to move stuff out of the wiki and into developing.txt. E.g., [code differences table](https://github.com/neovim/neovim/wiki/Merging-patches-from-upstream-Vim#code-differences) would be much more useful if one could pull it up easily in the editor.

[2015-04-17 23:11] mhinz commented on #2446
:+1: for browsing a help page locally instead of navigating a wiki

[2015-04-18 04:31] justinmk commented on #2368
@languitar I cannot reproduce this. What are the steps to reproduce this? What is `:set hidden?` ?

If this is the only actual bug let's change the title of this issue.

[2015-04-18 04:33] justinmk commented on #2440
Yeah, I miss `M-.` too.

[2015-04-18 04:39] justinmk commented on #2379
Sorry if I'm missing something (I don't use iTerm) but I just downloaded the iTerm2 nightly (Build 2.9.20150417-nightly), and neither `<m-tab>` nor `<m-s-tab>` works for me. `<m-tab>` is sent as `<tab>`. Is there an iTerm preference that needs to be set or something?

OS X 10.10.3

NVIM 0.0.0-alpha+201504172305 (compiled Apr 17 2015 23:19:35)
Commit: a88e2f4fd4c3e10aabd41e758cc845332be013da

[2015-04-18 05:36] lazywei commented on #2408
I got this when using with [fzf](junegunn/fzf).
![image](https://cloud.githubusercontent.com/assets/2840571/7214147/d5f4c0e2-e5cf-11e4-88c3-9e21596ee54a.png)

[2015-04-18 07:03] aliev opened #2448 "*feature* open the file in current Vim session by using a Vim terminal"
came up with an interesting (in my opinion) an option. made a small script (for code quality not scold, wrote in haste). For example, if you are in a Vim terminal and want to open the file in the current session of Vim you can run "vopen filename" and the file will open in the current session. script source: https://gist.github.com/aliev/ab24f3db9f89bfb86917
demo: http://youtu.be/3cQC7CCSM2I

what

[2015-04-18 07:19] fwalch commented on #2448
See http://www.reddit.com/r/neovim/comments/30kvl3/ive_been_using_the_experimental_terminal_mode_and/ for more scripts that do something similar.

[2015-04-18 07:25] tarruda commented on #2448
It might be interesting to add some runtime/autoload/*.vim script that does the same using the features introduced by #1446, which don't depend on python.

[2015-04-18 07:37] fwalch opened #2449 "Build failure: undefined references to jemalloc"
Using a systemwide installation of jemalloc (USE_BUNDLED_JEMALLOC=OFF) does not work on Arch Linux because of "undefined reference" errors.

[code]

@tarruda on Gitter:

[2015-04-18 07:42] badeip commented on #2048
I am having similar issues with `:tnoremap <c-h>` on OSX.
This happens in `iTerm`, `Terminal` and (both with- and without) `tmux`, and regardless of what TERM is set to.
pressing `<c-h>` in one of the above mentioned terminal emulators, prints `^H`
pressing `<c-h>` in a regular nvim buffer prints  `<BS>`
pressing `<c-h>` in a `:terminal` buffer prints  `^?`

TERM is set to `xterm-256color`
stty er

[2015-04-18 07:46] badeip commented on #2294
This might be a duplicate of bug #2048

[2015-04-18 08:31] aliev commented on #2448
@fwalch wow! thank you!

[2015-04-18 09:14] Konfekt opened #2450 "bountysource"
I'd like to contribute to the NeoVim bountysource but have scruples backing a 7500$ monthly salary where the cost of comfortable living is below (and 200$ minium wage). Perhaps as an open source idealist, I think of it rather as a donation than a hire; just as the money Vim raises goes to Uganda.

Viewed pragmatically this is just fine, as the proposed salary is probably the programmer's current m

[2015-04-18 09:14] #2450 closed

[2015-04-18 10:14] tarruda commented on #2450
We have a mailing list and chat room where you can express your non-technical opinions about the project, the issue tracker is not the best place to do it.

But since this is not the first time I read about this, I will indulge your questioning of the campaign values and reference it to others who have similar concerns.

You can help with as little as $1/month, I don't see how the final amount is

[2015-04-18 13:33] alem0lars commented on #990
Is there someone interested in implementing @ZyX-I idea?

I'd love to have both gitgutter and marks visible in the lines..

Can we place a bounty on that? I can contribute economically

[2015-04-18 16:15] splinterofchaos commented on #2294
Yes, there have been several duplicates of this issue, but #2048 takes precedence for both being first and having much more detailed information and discussion. Thank you for reporting.

[2015-04-18 16:15] #2294 closed

[2015-04-18 16:29] splinterofchaos commented on #2448
Hmm, it looks to me like we also need a way of opening an RPC channel from a path

[2015-04-18 16:49] fwalch commented on #1749
@equalsraf Do you think we can start merging some of your changes into masters as small, individual PRs? Things that come to mind are a basic `appveyor.yml` (only enabled for `nightly` tag for now, to build once per day) and fixes for building the dependencies (to put them into `neovim/deps` with `bot-ci`). And then continue from there... what do you think?

[2015-04-18 18:15] jasonwilliams200OK commented on #1749
IMO: it will make sense to raise min required version here for VS to 2015, which is free for OSS projects: http://blogs.msdn.com/b/visualstudio/archive/2015/03/31/announcing-the-visual-studio-2015-product-line.aspx. The preview has many C99 features which VS2013 is missing. Also, C99 will be fully supported by the time 2015 will reach RTM.
Basically from cl.exe's perspective, the higher version nu

[2015-04-18 18:24] ZyX-I commented on #999
Found a problem with marks: I added timestamp field to mark definition (including local marks) and modified corresponding code in `undo.c` which saves marks within undo tree, but the result can’t be saved in undo file. Currently code is saving nothing and restoring zero timestamp, but I do not like the idea.

Persistent undo file is the next think which needs attention because it can’t be extended

[2015-04-18 18:51] fwalch commented on #2448
More scripts! http://www.reddit.com/r/neovim/comments/3312tu/manage_the_parent_neovim_instance_from_terminal/

[2015-04-18 20:17] equalsraf commented on #1749
@fwalch that is the general idea. I usually rebase #810 to keep the more stable commits at the start. Other than that I just prioritize based on what changes are likely to cause a conflict on the next rebase :D

- Next on my list is probably 554c62a464f4d7cce2cc1d47aefe3d406d7ba554, because it touches way too many files.
- Feel free to scanvenge #810 for any useful commit, e.g. c6f54071e143bea7368

[2015-04-18 20:25] cHoco opened #2453 "Bold text in bright color in terminal buffer"
Hello, really enjoy the terminal integration. Unfortunatly I don't get consistent colors between the terminal buffer and the terminal itself.
In particular the text in bold is colored with the "bright" colors. Here's a screenshoot showing the difference
![schermata 2015-04-18 alle 22 19 59](https://cloud.githubusercontent.com/assets/85527/7217117/808c9a68-e619-11e4-9d21-8bb259bb9a4c.png)

My setup

[2015-04-18 20:34] SirVer opened #2454 "NeoVim chokes on too fast input"
Repro steps:
- Start a tmux session:
  `tmux new -s tmuxsession`.
- In a separate terminal, feed the session with input:
  `tmux send-keys -t tmuxsession "vim -u NONE" Enter "iHi" Escape ':q!' Enter`

This will open a Vim session, enter insert mode, write "Hi" and exit vim. No problemo. Now replace vim with nvim:

`tmux send-keys -t tmuxsession "nvim -u NONE" Enter "iHi" Escape ':q!' Enter`

Resul

[2015-04-18 20:45] bfredl commented on #2454
nvim terminal ui interprets ESC + an immediate character as `alt-` combination. I think this is unavoidable if we want to fully support alt bindings in the terminal.

[2015-04-18 20:50] bfredl commented on #2454
An option to reliably emulate input in both vim and nvim might be to use `feedkeys("itext\<esc>") and so on. (though I haven't looked in ultisnips test suite, so don't know if its practical here)

[2015-04-18 20:58] splinterofchaos commented on #2453
Could you post your test script? Thank you.

[2015-04-18 21:01] cHoco commented on #2453
Yeah sure, using this https://github.com/blueyed/dotfiles/blob/master/usr/bin/colors-table

[2015-04-18 21:12] 3rdwiki opened #2455 "Create detailed wikipedia.org entry on major languages."
nm

[2015-04-18 21:26] Pyrohh commented on #2455
what?

[2015-04-18 21:26] #2455 closed

[2015-04-19 02:52] Pyrohh commented on #2428
Closing, feel free to open if you have more information.

[2015-04-19 02:52] #2428 closed

[2015-04-19 04:54] fwalch commented on #2446
If we'd manage to convert Markdown into Vim's help format, we could include the Wiki as a build dependency (it's just another Git repo).

[2015-04-19 05:08] codonnell commented on #567
I'll take a look at charset.c.

[2015-04-19 05:57] ChrisPenner commented on #1480
Interesting, I agree. I don't think there's anyone who uses Normal mode with Caps-lock on (though there are certainly use-cases in insert mode).

Honestly trying to do even a few simple commands with Caps-Lock on could cause some pretty serious damage to a file, (even as simple as a ZZ instead of a zz could accidentally overwrite important files).

A warning would be good.

[2015-04-19 06:09] ChrisPenner commented on #1960
I'd say this is unique from #1025 , that issue is about improving dot-repeat, this one is about adding an analogous function for MOTION-repeat. Currently dot-repeat ignores motions which don't edit text (<c-u>,  f_, 5j, etc). It would be handy to have a key that repeats generic motions like these.

As I think about it more, I'm not sure this would really have too many practical uses.

[2015-04-19 07:44] 3rdwiki commented on #2455
you need to put neovim on wikipedia !

[2015-04-19 07:59] Pyrohh commented on #2455
This seems low priority at the moment, as there's already so much to do. Given Wikipedia is after all a wiki, anyone is free to do it.

[2015-04-19 08:00] Pyrohh opened #2458 "Memory leak when g:python_host_prog=''"
Using nvim compiled from `639504894610361198447ddaaa557b4877136682`.

[code]

LeakSanitizer output, nvim built with Clang:
[code]

Valgrind output, nvim built with GCC:
[code]

[2015-04-19 08:12] Pyrohh commented on #2458
The issue doesn't come up after reverting edbc9e6538daab972058bb8a821330eabbba954f.

[2015-04-19 10:33] davydovanton opened #2459 "Neovim bug reports"
Hello and thanks for neovim :tada:
After using neovim I found some bugs:

1. Not working line compilation (`<C-x><C-l>`)
2. Not working windows switching mappings (`<C-w><C-j>`, `<C-w><C-h>`, etc)
3. When I open neovim in tmux session all my custom colorchemes work correct, but if I just open neovim in terminal (I use zsh) I will see that only standart colorchemes working correct (I use Vundle for

[2015-04-19 11:27] glts commented on #2459
1. Line completion with `<C-X><C-L>` works fine.
2. Switching to another window with `<C-W>l` or `<C-W><C-L>` etc. works fine.

Just tried it on master. Please always try to reproduce with no vimrc, `nvim -u NONE`. If some plugin is remapping your commands you can find out by running eg `:verbose map <C-X><C-L>`.

[2015-04-19 12:07] davydovanton commented on #2459
@glts thank you for comment.

My neovim version:
[code]

Mac OS 10.10.3

I tried to call line completion and window switching in default config (`nvim -u NONE`). It's work fine. After that I tried to call this methods with my .nvimrc file and this work fine :open_mouth:

[2015-04-19 12:09] dumblob commented on #2420
Thanks for bringing up this issue. I've come across this problem many years ago when I was learning Dvorak. In the end, I've realized, that I can quite easily switch between different layouts, because the vim abbreviations are usually bound to the semantics of commands, but not the key placement.

On the other hand, there are still issues and that's why the project [ULKL](https://github.com/dumblo

[2015-04-19 12:25] dwahyudi opened #2460 "Key problem <Esc>+o = ï, <Esc>+a = á"
I have this problem on nvim.
Esc key doesn't work as it supposed to be.

[code]

When I press <Esc> + o = ï
When I press <Esc> + j = ê
When I press <Esc> + a = á

This problem persists both on normal terminal or inside tmux.
vim doesn't have this problem, both in normal terminal or inside tmux.

Tried this on tmux.conf
[code]

Tried this on .nvimrc
[code]

The problem persists :(

my .nvimrc: http

[2015-04-19 14:03] zachariahreed commented on #2454
I see this behavior with human input too. I thought it was potentially my config (either nvim or tmux) and it's been on my list for a while to investigate what the cause is. I find myself contantly having to correct things because of this behavior and it's the main usability issue for me at this point. If support of alt bindings is mutually exclusive with correct handling of fast typing, I don't s

[2015-04-19 14:26] robinmoussu opened #2461 "Configuration file location"
Hi,
If I'm right, configurations files of nvim are in `~/.nvimrc` and in `~/.nvim`.
I think it can be a good think to use the opportunity of re-creating vim to move those file in `$XDG_CONFIG_HOME/nvim` (or in `~/.config/nvim/*` if $XDG_CONFIG_HOME in unset) like freedesktop recommendation suggest (http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html).

[2015-04-19 14:36] noahfrederick commented on #2461
See https://github.com/neovim/neovim/issues/78.

[2015-04-19 14:46] robinmoussu commented on #2461
Thanks. I've try to find similar issue before posting without success. Sorry for the nose.

[2015-04-19 14:46] #2461 closed

[2015-04-19 14:46] languitar commented on #2368
@justinmk seems that this behavior got fixed since I reported the issue. In a recent master version the terminal buffers won't vanish.

[2015-04-19 14:55] splinterofchaos commented on #2458
It's the check for `argvars[0]`'s type and non-emptiness happening right after allocating `argv`. I put that in the wrong place.

[2015-04-19 15:00] splinterofchaos commented on #2368
That's great. Though I still want to keep this open due to the other issues I noted.

[2015-04-19 16:22] splinterofchaos opened #2463 "rpcstart()'s API is inconsistent with jobstart"
@bfredl noted in #2424 that `rpcstart()`'s interface is rather inconsistent, and kinda odd, too.
[code]
In #2424, I could easily change this to have a unified interface with `jobstart`, `termopen`, and `systemlist` (strings get run through the shell, lists get run directly), but I wanted to check if anyone relies on the current interface, first, or if there's a specific reason it works this way.

[2015-04-19 18:22] rkannan82 opened #2464 "Support per window rendering for native GUIs"
In order to build a GUI client that does its own window management, we need Neovim to provide changes per window. It seems like today the server assumes the client has one big window/canvas and it tells what text to put where. This is not ideal if we want to create native windows. For e.g., let's say we have neovim.app (GUI for OSX) and user creates a vertical split to show the navigation tree on

[2015-04-19 18:40] kopischke commented on #2464
:+1: to that. Right now, all a Neovim GUI can provide is a totally pointless menu, slightly saner key code processing and some fancy window chrome, all at the expense of having to implement its own configuration mechanism. Truly decoupling the editor from the UI will require us to stop treating clients as one big cell based canvas.

[2015-04-19 18:44] tarruda commented on #2464
I'm aware of the problem and have plans to address it after the first release(even mentioned in the new bountysource campaign). Some other related discussion: https://github.com/neovim/neovim/issues/2224#issuecomment-84730773

[2015-04-19 20:06] elmart commented on #2422
Ok, they were 18 new defects that were introduced when changing to je_malloc.
I've just uploaded a model file teaching coverity about je_malloc functions being equivalent to malloc ones.
17 defects haven been eliminated by doing that.
So, I still have to find which one is the missing one, and why, but I will include solution for that in my next regular coverity fixes batch.
So, closing this.

[2015-04-19 20:06] #2422 closed

[2015-04-20 06:15] bigeagle commented on #2086
I'm suffering from this bug, too.

[2015-04-20 09:13] bfredl commented on #2463
:+1: I would guess that most occurences of `rpcstart` are currently in this repo (to start legacy providers and hosts) and could easily be changed togheter with `rpcstart` itself.

[2015-04-20 09:32] tarruda commented on #2463
:+1:

[2015-04-20 09:36] elmart commented on #2463
Some time ago there was some discussion about changing rpc family function names to something a bit more sensible and coherent with job family functions. See [here](https://github.com/neovim/neovim/pull/1515#issuecomment-63983230).

As changing these interfaces breaks existing plugins using async facilities, this kind of change shouldn't be done very often. I mean, we can do it (we're still in alp

[2015-04-20 09:43] equalsraf opened #2466 "Neovim aborts on exit when connected to a GUI"
I can't always replicate this, in Linux I need to call Neovim with `-u NONE`, in Windows it always happens. `abort()` is being called from `event_teardown()` because `uv_loop_close()` returns non zero.

1. Connect GUI client to Neovim through socket, or via stdin
2. :q
3. Neovim aborts

[code]

A bit more digging shows that uv_loop_close returns UV_EBUSY from the first if check.

[code]

@ping tar

[2015-04-20 10:27] bfredl commented on #2463
:+1: though I wonder if it should be `remotenotify` to make it obvious that it is a (msgpack) notification. It don't really correspond directly to `jobsend` as both `remotecall` and `remotenotify` will send data.

[2015-04-20 10:42] elmart commented on #2463
The fact that we use msgpack as transport protocol / transfer-format is an implementation detail that shouldn't leak to the interface. We could very well change that in the future (though that's improbable).

Also, calling it `remotenotify` doesn't change anything (you still have two functions sending data).
And, in fact, that's what we want: two ways for sending data: one synchronous (i.e., send

[2015-04-20 10:52] elmart opened #2467 "I don't like "vim out of the box" as main description of neovim"
This is admittedly a non-issue, but one that bothers me periodically, and I just wanted to know if others share my view.

The thing is that I don't like seeing the short, one line description of vim, both in github main page, but also in newsletters, being written as "vim out of the box".

I think that including by default many of the features that were optional in vim is only a secondary characte

[2015-04-20 10:57] bfredl commented on #2463
This is not true. All external plugin hosts / client libraries comminucate with nvim over a well defined (though not yet stabilzed) interface, which is based on msgpack-rpc. If we change this, all such hosts/clients (many of which are outside of neovim organization) need to change as well.

Of course, that was precisely my point. But yes you're right `send` conveys the asynchronous nature, so it i

[2015-04-20 10:57] fwalch commented on #2467
At least on the Github page, I think it would be better to have a real description instead of a "slogan". "vim out of the box", what does it even mean? Is it a Vim plugin, a "distribution" (like MacVim), ...?

FWIW, for the Arch package, I use "Fork of Vim aiming to improve user experience, plugins, and GUIs", which is certainly not perfect, but somewhat descriptive and still fits in a few charact

[2015-04-20 11:08] elmart commented on #2467
@fwalch
I do agree to that. :+1:
Maybe "Vim's fork aiming to improve user experience, architecture (plugins/GUIs) and code quality."?

[2015-04-20 11:25] dwahyudi commented on #2460
Just updated to:

[code]

the problem is gone now... thanks.

[2015-04-20 11:59] tarruda commented on #2463
@elmart Personally I don't mind changing the names, but the rpc functions don't have a 1-1 correspondence with the job functions, not only because the request/notification distinction, but because these functions can be also used with channels created via socket connections([here](https://github.com/lahwran/dotfiles/blob/651ae83665f4cb35e6d00df993b281c56e518690/bin/nvim-inner) is one example which

[2015-04-20 12:10] topaxi opened #2468 "Unable to paste in command mode with mouse=a"
I am unable to paste commands into command mode with `mouse=a`, I use this very often to open files through `:e <paste file path here>`

Now using `mouse=nvi` as a workaround (or even proper fix?) which works for me.

[2015-04-20 12:11] tarruda commented on #2466
Does the problem go away if you change the code in event_teardown to:

[code]

If so, this must be caused by the `uv_stop` call in `event_push`(an event is received while nvim is shutting down). When I added the `uv_run(uv_default_loop(), UV_RUN_DEFAULT)` call, the only way to stop the loop was if all handles were closed, this clearly is not the case anymore.

Even if the problem is fixed by the a

[2015-04-20 12:23] bfredl commented on #2393
Anyone that have had issues might test #2469, but please remove any work-around environment variables before this, as the whole point is that it should work Out of the Box™

[2015-04-20 12:28] splinterofchaos commented on #2463
In `runtime/doc/remote_plugin.txt`, we do talk about msgpack, and I think that's the only point one needs to start learning about msgpack. One doesn't need to know or understand msgpack in order to use the `rpc*` interface. Also, RPC is descriptive enough in that one could wiki it and at least understand that the communication undergoes some serialization/deserialization. I  think our naming schem

[2015-04-20 12:32] elmart commented on #2463
Ok, then. I just wanted to let you know there was this thing about renaming which was started but not concluded before. But, if there's no consensus on new names, better to leave it as it is and just do your original purpose of changing parameters. Thx.

[2015-04-20 12:42] bfredl commented on #2463
I'm fine with any naming really, my point was more, if you use these `rpc*` functions, you probably are in control of the messaging implementation of the other end as well. (or even use a non-nvim-aware msgpack-rpc program) If you communicate with an existing host/rplugin, you probably would use the highlevel host/rplugin interface that automatically wraps these in vimscript functions/commands. Th

[2015-04-20 13:24] equalsraf commented on #2466
Yes that seems to fix it. In fact one additional call to uv_run() seems to work too.

[code]

Confirmed! it was the event_push call to uv_stop. However terminal_teardown() -> tui_stop can also call uv_stop. This works too.

[code]

[2015-04-20 13:54] lazywei commented on #2467
@elmart I agree with you. I don't really like "vim out of the box" either. It is somewhat misleading to me.

[2015-04-20 16:11] fortes commented on #2379
Using the following `.vimrc`:
[code]

The following keystrokes work in iTerm2 & the Mac OS X terminal app if you make sure it is set to send Meta key on Option:

* `Tab`
* `S-Tab`
* `M-Tab`
* `p`
* `S-p`
* `C-S-p`
* `M-p`
* `M-S-p`
* `C-M-S-p`

The following don't work:

* `C-Tab`: Sends `Tab`
* `C-S-Tab`: Nothing sent
* `M-S-Tab`: Nothing on iTerm 2, `Tab` on Terminal
* `C-M-Tab`: Nothing
* `C-M-

[2015-04-20 16:48] carlosdcastillo opened #2471 "Windows: expand('%:p') returns inconsistent slashes"
On windows, with the latest binary on appveyor if you run :echo expand('%:p') it will say the current filename however all slashes will be back slashes except the last one which is a forward slash. Example:

C:\Users\carlos\atom\packages\vim-mode\lib/vim-state.coffee
(all back slashes except for the last one which is a forward slash)

If I ask normal vim it reports the name as:

C:\Users\carlos\at

[2015-04-20 17:29] justinmk commented on #2467
That's only one meaning of "out of the box". It has at least 3 meanings, explained here: https://github.com/neovim/neovim.github.io/issues/76

I waited a long time for comments on that issue...

Anything conjuring images of "birth" or "generation" should be discarded. It's a tired cliche which was *also* used by Xemacs.

That is *not* the msgpack tagline. Their tagline is: *It's like JSON. but fas

[2015-04-20 17:34] justinmk commented on #2467
If this issue is only in regards to the GitHub description, then, sure, it can be changed. The website and other user-facing materials are a separate matter though.

[2015-04-20 17:44] justinmk commented on #2463
I thought we settled on `rstart`, `rcall`, `rstop`, etc. If so I'm in favor of it, it's been on my to-do list.

[2015-04-20 17:55] elmart commented on #2463
Well, we didn't do it because, in fact, we didn't settle on anything.

[2015-04-20 18:11] elmart commented on #2467
I think we all agree that the GitHub description is kind of opposite to a marketing line. It's browsed by technical people looking for a short but precise description of what's there. So, I'd definitely change at least that.

Regarding user-facing materials, well, I understand what you say, and I don't pretend for that and the GitHub's description to be the same. It's just that the meaning that cu

[2015-04-20 18:14] justinmk commented on #2467
I'm all for a better tagline as long as it's "catchy" and has nothing to do with "next generation".

[2015-04-20 18:34] hotgloupi commented on #2467
@justinmk I agree with you, the "neo" prefix is enough for the "next-gen" stuff
@elmart I think a tag line should just be catchy (according to the targeted audience), I do like something nerdy things like "vim, improved"

My two cents:
 - neovim, eats your laundry
 - neovim, the chosen one
 - neovim, the new vim
 - neovim, what else ?
 - neovim, enlarge your editor
 - neovim is not unix
 - neovim,

[2015-04-20 18:39] jszakmeister commented on #2467
"vim reimagined"?

[2015-04-20 18:43] fwalch commented on #2467
Borrowing from msgpack : "It's Vim, but extensible and agile". Or any other two adjectives of your choice :grin:

[2015-04-20 19:09] bfredl commented on #2467
A concurrent vim for the multiprocessing age?
timeless vim ? (asynchronous == timeless if I know my Greek)

[2015-04-20 19:35] elmart commented on #2467
I do like that one, in fact.
My attempt at it: "It's Vim, polished and extended."

[2015-04-20 19:50] Pyrohh commented on #2467
I like that more than `extensible and agile`, because Vim is already very extensible (arguably).

[2015-04-20 19:53] verandaguy commented on #2329
@dbellavista what's the commit ID of the source you built from? (apologies for the late reply, it's finals season)

[2015-04-20 19:59] Pyrohh commented on #2329
@verandaguy Have you already tried building from HEAD? Just being sure, because you didn't say so.

[2015-04-20 20:01] Pyrohh commented on #2459
@davydovanton could you expand on number 3, specifically with screenshots? It sounds like that's your only remaining issue.

[2015-04-20 20:04] starcraftman commented on #2467
"Modern Vim" summarizes things best in my opinion.

The aims of this project are all about modernity. Applying new design idioms & practices on an older though still functional code base. To simple things like removing legacy features & making sane defaults.

[2015-04-20 20:04] verandaguy commented on #2329
Yup! Just retried a few minutes ago. Homebrew exists nonzero with this:

[code]

n.b. The `Failed compiling module nvim/loop.so` issue is the same as what shows up when building directly from source (still present as of `84891f2`).

[2015-04-20 20:22] Pyrohh commented on #2467
Or "Vim modernized", to keep with the current structure.

:+1:

[2015-04-20 20:32] davydovanton commented on #2459
@Pyrohh of course.
First image. I open neovim in my `~` directory with custom [colorscheme](https://github.com/davydovanton/dotfiles/blob/master/vim/vimrc#L40) (installed with Vundle)
![screenshot 2015-04-20 23 20 47](https://cloud.githubusercontent.com/assets/1147484/7239610/05906fbe-e7b4-11e4-8195-435a439c8337.jpg)

Next image. I open neovim in my `~` directory with defauld colorscheme(`desert`)

[2015-04-20 20:50] Pyrohh commented on #2459
In your `tmux.conf`, I see you have the environment variable `TERM` set to one with `256` in it. What's the output of `echo $TERM` in your terminal (no tmux)?

What happens if you run `export TERM=xterm-256color` in your terminal (no tmux), then launch nvim using the custom colorscheme?

[2015-04-20 20:53] Pyrohh commented on #2329
I assume you've already checked out `https://git.io/brew-troubleshooting`. Besides that I can't think of much else, as this is out of my depth :sweat:

[2015-04-20 20:54] Pyrohh commented on #2460
Perhaps the version you were using was quite old (IIRC the PPAs aren't updated too frequently, but not sure if you were using nvim from there).

[2015-04-20 20:54] #2460 closed

[2015-04-20 20:56] davydovanton commented on #2459
@Pyrohh
[code]

after `export TERM=xterm-256color` all works fine, than you so much!

[2015-04-20 20:59] verandaguy commented on #2329
My brew install's normal according to `brew doctor` and I update regularly. Since the issue's the same as in a non-brew build, it's probably safe to factor it out of what's causing the issue.

[2015-04-20 21:01] Pyrohh commented on #2459
Excellent, I'll close this and add that to the FAQ.

[2015-04-20 21:01] #2459 closed

[2015-04-20 21:03] verandaguy commented on #2329
Would it be possible to get test results from folks with similar setups (hardware and software)? As mentioned above, I'm on a box running OS X 10.10.2, and my `cc` is
[code]

[2015-04-20 21:06] Pyrohh commented on #1972
I'll close this I have not seen this issue in a while, but please reopen if I'm wrong.

[2015-04-20 21:06] #1972 closed

[2015-04-20 21:09] davydovanton commented on #2459
Thanks! :tada:

[2015-04-20 21:34] Pyrohh commented on #1198
@tarruda is this relevant anymore?

[2015-04-20 21:43] Pyrohh commented on #1795
Fairly certain this was fixed a while ago, hence #1954 being closed, so I'll close this as well.

[2015-04-20 21:43] #1795 closed

[2015-04-20 21:47] Pyrohh commented on #1705
Since this doesn't look necessarily related to Neovim (and because significant work has been done since this was filed), I'll close this. Please feel free to reopen if you think I'm wrong in doing so.

[2015-04-20 21:47] #1705 closed

[2015-04-20 21:57] Pyrohh commented on #1413
I'm pretty sure @bfredl fixed `:reg` a while ago, along with significant other work regarding the clipboard. We already have a few more specific issues open regarding clipboard problems, so I'll close this. Please reopen if I missed something.

[2015-04-20 21:57] #1413 closed

[2015-04-20 22:00] Pyrohh commented on #1881
The TTYM_* values look like dead code, and I can't reproduce the issues regarding `<M-[arrow key]` mappings mentioned above. Besides that, I'll close this as it's been inactive for a while.

[2015-04-20 22:00] #1881 closed

[2015-04-20 22:01] Pyrohh commented on #1172
It seems like this isn't going to be implemented, at least according to the few comment here. Closing, but please reopen @justinmk if I missed something.

[2015-04-20 22:01] #1172 closed

[2015-04-20 22:03] justinmk commented on #1172
:+1:  Thanks for going through these @Pyrohh

[2015-04-20 22:08] Pyrohh commented on #2119
@Hettomei does this still happen now that #2348 was merged? I'm not sure it's related. I'll close this, but please reopen if you can still reproduce the issue.

[2015-04-20 22:08] #2119 closed

[2015-04-20 22:09] Pyrohh commented on #1172
So many issues... :sob:

[2015-04-20 22:14] ryanmorillo commented on #2086
Here is a strace after I've written the message and getting ready to hit the 'p' key in mutt. We can see that mutt is trying to write the menu (it works the same with q), and every once in a while, you can see something pop up on the status line.   #2076 doesn't work.  Same behavior is exhibited. (Ends with me sending SIGHUP)

select(1, [0], NULL, NULL, {5, 0})      = 0 (Timeout)
rt_sigaction(SIGI

[2015-04-20 23:04] starcraftman commented on #2467
@Pyrohh Up to you guys, but I find "modern vim" to be more succinct and sound better due to one less syllable.

[2015-04-20 23:08] justinmk commented on #2467
Is any of these significantly more effective than "vim out of the box"? The tagline should also be something that is not nearly a rewording of the word "neo-vim".

[2015-04-20 23:11] justinmk commented on #2467
Also, yes, I understand that the "out of the box" phrase doesn't translate to all cultures, and that's unfortunate, but if we're going to say anything that has any personality or color to it, it won't translate universally. I'd rather confuse some people but delight others, than dull everyone.

[2015-04-20 23:17] dwahyudi commented on #2460
yes i install it from PPA :confused:

[2015-04-21 01:19] Pyrohh commented on #2445
Did you have no issues with having to define AUTOCONF_VERSION? I defined it manually, which works fine, but it might be a better idea to do [something like this](https://github.com/rvm/rvm/commit/dd5412583431402df1cfbdc55906171eb36f3789) in CMake.

[2015-04-21 06:38] fwalch commented on #2460
Just to clarify, the PPAs are updated daily (if the build doesn't break). From the version output, the previously installed version was from April 17, so not that old.

I'm a bit surprised that this has been fixed, maybe I missed a PR.. Anyway, if it comes up again, just post a new comment @dwahyudi.

[2015-04-21 07:19] critiqjo commented on #2467
How about "Vim unchained!" ?
'coz that is what I truly felt... More flexibility, more freedom...

[2015-04-21 07:41] equalsraf commented on #2445
Likewise I already had a export for AUTOCONF and AUTOMAKE_VERSION.

[2015-04-21 09:02] mhinz commented on #2119
It's probably https://github.com/neovim/neovim/pull/2383

[2015-04-21 09:28] Hettomei commented on #2119
Hi,

I just compiled master.

The issue is already present.

Should I reopen ? because it is exactly the same as #2382

step to reproduce :
[code]

[2015-04-21 09:31] mhinz commented on #2119
@Hettomei You don't need to reopen, I'll work at it. Updates will be in: https://github.com/neovim/neovim/pull/2383

[2015-04-21 11:16] antoinealb commented on #2127
I bissected it out today to this commit: e0e41b30c61922e099a067ac5c137e745699a1aa, but I don't have experience in the neovim codebase, so I cannot help much more.

[2015-04-21 11:44] lazywei commented on #2467
Come on', let's have a recursive naming :smile:
NeoVim Evolution Of Vim

[2015-04-21 11:47] doppioandante commented on #2467
As a non native speaker, "out of the box" sounds meaningless enough to me to be cool, moreover I associate it to the idea of software "just working".
For advertisement it surely works.

[2015-04-21 13:36] pacuna opened #2472 "segmentation fault after opening file"
After opening a ruby file with this content, nvim breaks and gives me a segmentation fault.
Can anyone see if it's only me or it's a nvim problem? I can open the file, but if try to edit or change file, I get the segmentation fault.

[code]
Thanks.

[2015-04-21 13:46] dwahyudi commented on #2460
:+1:

[2015-04-21 13:47] okket commented on #2472
The 3392 character ```long_desc``` line (please <censored> the person who created it) really manages to break nvim. Standard vim handles it fine.

[2015-04-21 14:42] splinterofchaos commented on #2472
I can't reproduce. Is there a specific edit that causes it? Does it happen when you open with `-u NONE`? Do you have syntax highlighting for this file? Do you have your `.nvimrc` file online?

[2015-04-21 14:47] crr0004 commented on #2472
Can you post your .nvimrc file and see if there is anything in your .nvimlog file. I couldn't reproduce it.

[2015-04-21 14:51] pacuna commented on #2472
@splinterofchaos it doesn't happen with the -u NONE option so it must be some plugin issue.

@crr0004 just have this error in the log
[code]
Here's my current nvimrc

https://github.com/pacuna/vimrc/blob/master/.nvimrc

Thanks.

[2015-04-21 14:51] okket commented on #2472
Ok. I take it back. With ```-u NONE``` nvim works like expected. Even ```syntax on``` does not break it with this file. It must be some plugin. Sorry.

(Standard vim had problems even with all plugins enabled, just for the record)

[2015-04-21 14:54] crr0004 commented on #2472
@pacuna Have you tried disabling your plugins and seeing if it happens again?

[2015-04-21 15:15] erf commented on #2322
Seems to work now - commit 84891f2802a0db1a257580f341d70a5fdb0f6c75

[2015-04-21 15:24] kopischke commented on #2467
Agreed, it sounds meaninglessly cool :). Considering how conservatively we approach default configuration, however, I’d say the actual experience does not really match the received meaning of “out of the box” (“works without customisation”), and the other meaning of that phrase (i.e. “unconventional, creative”) does indeed not translate very well across languages and cultural barriers.

Begone, fo

[2015-04-21 15:35] pacuna commented on #2472
@crr0004 yeah I disabled the plugins and works fine so I think this isn't nvim related. Although in vim I don't have the problem using the same plugin set.

[2015-04-21 15:59] drozzy opened #2474 "How to install neovim in Windows?"
I am thinking of returning to vim, and seeing as neovim is the future, I wanted to go with it instead.

I use Windows primarily, and it seems like neovim will support better GUI. How can I try it out on Windows? Did anyone have luck making it run?

I'm using Windows 7 64-bit and Windows 8 64-bit on my machines.
Thank you.

[2015-04-21 16:24] glts commented on #2467
'vim out of the box', it's ambiguous, it's got flair -- top marketing material.

Keep in mind that designing marketing fluff by techie committee is often not the best idea. There's a good chance the result will be something plainer than a glass of water at room temperature, at least that's what the suggestions here made me remember (no offence :P).

[2015-04-21 16:29] glts commented on #2474
This is still work in progress.
https://github.com/neovim/neovim/wiki/FAQ#when-will-windows-be-supported

[2015-04-21 17:03] doppioandante commented on #2472
I wouldn't close the issue then, if you can put here the plugins that make neovim crash maybe someone can try to reproduce your bug.

[2015-04-21 17:04] fwalch commented on #2472
If it's a compatibility problem, it's still interesting for Neovim.. Can you try to isolate which plugin causes it?

[2015-04-21 17:25] splinterofchaos commented on #2322
Still doesn't work for me.

[2015-04-21 17:29] DAddYE opened #2475 "Cursor Shape"
In vim right now I can change the cursor shape in insert mode with:

[code]

Is that possible in neovim?

[2015-04-21 17:36] glts commented on #2475
See https://github.com/neovim/neovim/wiki/FAQ#how-can-i-change-the-cursor-shape-in-the-terminal

[2015-04-21 17:41] DAddYE commented on #1551
When I do `set spell`:

[code]

[2015-04-21 18:09] pacuna commented on #2472
@fwalch I think vim-plug is the one causing the problem. I removed all plugins and the problem persisted. Then I commented the lines that loads vim-plug and everything was ok

[2015-04-21 18:33] #2475 closed

[2015-04-21 18:33] DAddYE commented on #2475
Thanks @glts

[2015-04-21 18:36] #2474 closed

[2015-04-21 18:43] DAddYE opened #2476 "NerdTree True Color"
When true color is enabled nerd tree seems is opening automatically.

[2015-04-21 18:44] tarruda commented on #2454
Terminals encode the alt modifier using the esc byte, which relies on timing information to distinguish between the alt modifier or the esc key. It's sad that things are this way but there's little we can do about the problem except bundling a GUI that wont suffer from these issues(which is definitely in my plans). Maybe I will revisit this later, and add a TUI option to always treat the esc byte

[2015-04-21 19:01] fwalch commented on #2472
Huh.. I can reproduce it (empty .nvimrc with just `. It also messes up the terminal (CTRL-C doesn't work anymore, but is printed to the screen).

`.nvimrc`:
[code]

[2015-04-21 19:46] okket commented on #2472
Recipe to make nvim crash with this file:

1. ```nvim -u NONE test.rb```
2. ```:syntax on```
3. ```:set encoding=utf-8```
4. ```i```

The order of ```syntax on``` and ```set encoding=utf-8``` do matter. Other way around it seems not to crash, or not so fast.

[2015-04-21 19:49] okket commented on #2472
[code]

[2015-04-21 20:11] GreenRaccoon23 opened #2477 "Undefined variable: a:1 (in autoload/vunde/scripts.vim)"
I'm running Linux (64 bit Arch Linux). When running `:PluginUpdate`, I get this error:

    Error detected while processing function vundle#installer#new:
    line    1:
    E121: Undefined variable: a:1
    E15: Invalid expression: (a:1 == '') ? g:bundles : map(copy(a:000), 'vundle#conf
    ig#bundle(v:val, {})')
    Press ENTER or type command to continue

The error is in `~/.vim/Vundle.vim/auto

[2015-04-21 20:43] glts commented on #2477
I don't see anything specifically about Neovim in your report. Unless I'm missing something, I think this is better suited for the [Vundle.vim bugtracker](https://github.com/gmarik/Vundle.vim/issues).

[2015-04-21 20:55] ahshah opened #2478 "neovim and perforce not playing nice when diffing"
I recently started using nvim at work, where we use Perforce for source control. Perforce has a handy tool for conflict resolution that is invoked via the following:

    $ p4 resolve ...

This causes the Perforce client program to iterate over each file, tagged as needing an integration, and asks how to manage conflicts, here is an example:

    $ p4 resolve
    /home/op/ws/hello_world.1.2/hello_

[2015-04-21 20:56] Pyrohh commented on #2476
Please see https://github.com/neovim/neovim/blob/master/CONTRIBUTING.md#reporting-problems

[2015-04-21 20:58] fwalch commented on #2478
I can't really read your post, can you use code blocks to [format your comment](https://guides.github.com/features/mastering-markdown)?

Anyway, I think this is the same as #2377.

[2015-04-21 21:00] fwalch commented on #2472
Confirmed; here's a backtrace:

[code]

[2015-04-21 21:07] Pyrohh commented on #2472
Building with clang and `-DSANITIZE=ON` it crashes after `:syntax on`, which says it's a use after free. Full log here:
https://gist.githubusercontent.com/Pyrohh/49e8a84aeef4857ba4a0/raw/e2e75501447baee02442a8ff5cc6750542a511da/crashlog

[2015-04-21 21:22] Pyrohh commented on #2477
Did you remove `~/.vim/Vundle` before cloning again?

I can't reproduce this given the sample of the `.vimrc` you gave us (I assume you have it symlinked to `~/.nvimrc`?), and besides that I'm not sure how this is related to nvim, so I'll close this for now.

[2015-04-21 21:22] #2477 closed

[2015-04-21 22:57] Pyrohh opened #2480 "Resizing terminal during `:PlugUpdate` aborts with "heap-buffer-overflow ... win_line""
Triggered using Clang's address sanitizer (ASAN) with nvim version 84891f2802a0db1a257580f341d70a5fdb0f6c75 and the following `.nvimrc`:

[code]

The choice of plugins doesn't matter, but I needed enough so that `:PlugUpdate` doesn't finish before I'm able to resize the terminal a few times. By resizing I mean repeatedly toggling the terminal between fullscreen and not (Mod + f in i3wm).

- [video

[2015-04-22 02:24] mikeyjk opened #2481 "SIGABRT on visual block selection + paste before cursor."
Hey all,

I tried searching but couldn't find anything directly related.
I have an issue where when I select a column of text, then paste before cursor, I get a core dump.

My rough key movements are:

    Ctrl+v
    j
    j
    j
    j
    j
    Shift+p
    (SIGABRT)

It only -seems- to happen when I yank a word prior to the paste. But I'm not 100% on that.
I can't re-create the issue on the firs

[2015-04-22 03:33] houshuang commented on #2092
I keep getting <F37> before and after every time I paste with Cmd+V in an iTerm2, very annoying.

[2015-04-22 06:44] traycerb commented on #2467
I was surprised to hear "out of the box" has a cool sound to foreigners, because for at least 10+ years in the US it's one of the many verbose, opaque, and substanceless phrases used because apparently simple clarity is outre.  A thousand apologies to justinmk or whoever came up with it; I value yours and everyone's hard work on NeoVim, but man, that phrase drives me crazy.

Anyway, it's not fair

[2015-04-22 10:14] tarruda commented on #2467
I wish I had put more thought in the project name :disappointed:

[2015-04-22 10:14] dkns commented on #2467
I know it's too late to rename the project but I'd like to point out missed opportunity to call it iVim (improved Vim). Think of all the free publicity that Neovim would get following the inevitable lawsuit by apple.

[2015-04-22 10:51] jszakmeister commented on #2467
Personally, I like it very much. :-)

[2015-04-22 10:57] tarruda commented on #2467
That could never have happened, I'm a hater of apple and all of it's products :laughing:

[2015-04-22 11:14] bfredl commented on #2481
The code dealing with visual paste was changed recently. Make sure you are on recent master. If you still can reproduce, please try to make a complete minimal exemple to reproduce (starting with `nvim -u NONE`, adding some text, yanking something and then pasting triggering this abort)

[2015-04-22 14:17] exhuma opened #2482 "Build fails on dependency of "busted"."
This is based on 84891f2802a0db1a25

What sticks out to me is:

      Failed downloading  ... Operation already in progress.

Thoughts?

Detailed error message:

    Warning: falling back to curl - install luasec to get native HTTPS support

    Missing dependencies for busted:
    penlight >= 1.3.2-2
    lua_cliargs >= 2.5-0

    Using https://rocks.moonscript.org/penlight-1.3.2-2.rockspec... swi

[2015-04-22 14:19] leonerd commented on #2445
Latest pangoterm source now just #ifdef-wraps the TAB0 issue.

[2015-04-22 14:21] ahshah commented on #2478
I've addressed your concerns on the formatting, thanks for taking a look!

[2015-04-22 16:09] Pyrohh commented on #2330
This has very little information, so I'll close this.

[2015-04-22 16:09] #2330 closed

[2015-04-22 16:10] Pyrohh commented on #2482
I assume you have `unzip` installed? I'm not sure if there actually is an operation already in progress, but I can't reproduce this locally. I'm guessing the server hosting that rockspec was temporarily down, not sure.

[2015-04-22 16:12] Pyrohh commented on #2342
@splinterofchaos can you still reproduce this? I can't using my nvimrc and with `-u NONE` (with nvim from master).

[2015-04-22 16:13] Pyrohh commented on #2389
@mhinz can this be closed?

[2015-04-22 16:14] fwalch commented on #2377
@tarruda Have you seen this? Any idea how to fix it? :-)

[2015-04-22 16:35] exhuma commented on #2482
Yes. Unzip is installed. I can reproduce this without fail every time. So I'm not sure if it's a remote server issue. I just tried again. Same error.

For what it's worth, it seems that the process hangs on

    Using https://rocks.moonscript.org/penlight-1.3.2-2.rockspec... switching to 'build' mode

Might be a timeout?

Note that this is behind a corporate proxy. However, manually running

    c

[2015-04-22 17:18] icholy opened #2484 "Build error"
I'm trying to build master.

[code]

[2015-04-22 18:05] equalsraf commented on #2484
@icholy can you provide more info? What system are building on, and what commands did you run to get that output?

Wild guess: do you have libncurses or libncurses-dev installed in your system?

[2015-04-22 18:19] mhinz commented on #2389
@Pyrohh Yup.

[2015-04-22 18:28] mattboehm commented on #997
I use `:tab split` when I want to 'zoom' and have not had any problems with this approach so far.

[2015-04-22 18:35] icholy commented on #2484
Ubuntu 14.04 64bit minimal install.

I just cloned and ran `make`.

Yes, I do have `libncurses-dev` installed.

[2015-04-22 18:38] AntoineD commented on #2482
Same situation and issue here.

[2015-04-22 18:39] fwalch commented on #2484
ncurses shouldn't be required, unibilium should be enough.. It looks like you ran make in parallel, can you try `make distclean && make -j1`? Maybe that will give a clearer log.

[2015-04-22 18:45] icholy commented on #2484
It compiled after I uninstalled `libncurses-dev`.

[2015-04-22 18:45] #2484 closed

[2015-04-22 19:04] #2389 closed

[2015-04-22 19:10] zachariahreed commented on #2454
I can see how opening up a new set of keys to bind is attractive. However, the introduction of functionality that could ptotentially make the TUI a second-class citizen in the future worries me. It also seems counter to the spirit of vi. In order to head of this possiblility, I would propose that users are allowed to bind keys with the Alt modifier in their nvimrc, but packages are explicitly forb

[2015-04-22 19:23] equalsraf commented on #2484
[code]
@fwalch Ah I see, seems something went wrong when building and libtermkey failed to detect unibilium. Still parallel make shouldn't be able to cause it, there is a dependency between the targets in the third-party CMake recipe.

[2015-04-22 20:16] srang commented on #2482
I've had issues installing busted on corporate network and had it work fine when tethering on phone.

[2015-04-22 20:23] srang opened #2485 "Support 'space' listchar"
The official vim repo recently added a patch supporting 'space' as a listchhars; 'space' corresponds to white spaces (including non-trailing/leading). This allows for more sublime-like behavior. ftp://ftp.vim.org/pub/vim/patches/7.4/7.4.710

[2015-04-22 20:28] glts commented on #2485
It's not done yet, one hunk from my original patch hasn't been included yet.

I can offer to port it as soon as it is complete, probably in patch 712 or so.

[2015-04-22 20:34] srang commented on #2485
Sounds good. Its not high priority, I just wanted to make sure to track it because it is a cool feature. Thanks for the response!

[2015-04-23 03:44] philix opened #2487 "Dead lock after tab to autocomple `!./li`"
I attached LLDB to a running nvim instance and tried to autocomplete `!./li`. This was enough to freeze the editor.

[code]

[2015-04-23 03:57] philix commented on #2329
That's very strange compilation problem. I use LLVM 6.1.0 without any problems.

[code]

[2015-04-23 03:57] ianks commented on #2467
Neovim: old dog, new tricks

[2015-04-23 04:12] Pyrohh commented on #2467
I like it, but I think it might be lost in translation (no clue).

[2015-04-23 06:49] exhuma commented on #2482
Unfortunately, tethering is not an option here. But this again makes me think that maybe something internally is ignoring the proxy environment variables.

[2015-04-23 07:43] akarl818 opened #2488 "Terminal title/buffer name"
I would like to be able to set the the buffer name for the terminal buffer. When I have more than one running it makes it unconvinent.

That is unless I start the command directly like so `:terminal mycommand`, which is not always what I want to do.

[2015-04-23 09:44] oni-link commented on #2487
A static allocated string is freed. This was introduced [here](https://github.com/mbainter/neovim/commit/a7e17de048b0791329cf1ad4d4c291290a99040a#diff-c0e00d2bd89b0443251856334519654cR3851) when refactoring `vim_getenv()` and removing a `bool` flag that prevented this.

[2015-04-23 10:08] elmart commented on #2487
@mbainter We did a mistake here. Can you take care of fixing this, please?

[2015-04-23 10:28] tarruda commented on #2467
very clever

[2015-04-23 10:39] RichardDooling commented on #2084
make CMAKE_BUILD_TYPE=RelWithDebInfo CMAKE_EXTRA_FLAGS="-DCMAKE_INSTALL_PREFIX:PATH=/usr/local/C

Yep, and still doing it. Does not inspire confidence.

[2015-04-23 10:56] jszakmeister commented on #2084
First, homebrew related issues should be filed [here](https://github.com/neovim/homebrew-neovim) where they'll get a little more visibility by those who know homebrew.

Second, have either of you tried uninstalling Neovim and re-installing?

[code]

It'd be nice to see which step it's hanging up on, and the `-v` option would help with that.  There also some extra troubleshooting tips [here](https:

[2015-04-23 11:02] equalsraf commented on #2471
I've been seeing similar issues, and :set shellslash doesnt seem to help

From :echo expand('%:p') if I try to edit a non existing file

    (...)\build-mingw/test\

Which is doubly weird because of that trailing slash.

The culprit seems to be append_slash. Here is a small fix

[code]

but I'm not clear on whether or not to change the slash in the if statement.

[code]

[2015-04-23 11:45] RichardDooling commented on #2084
Okay. I'm no programmer. I'm a writer and heavy MacVim user.

For instance. Trying your recommendation gives me

Error: neovim is a head-only formula
Install with `brew install --HEAD neovim`

So does that mean I'm supposed to try:

brew install -v --HEAD neovim   ?

On Thu, Apr 23, 2015 at 5:56 AM, John Szakmeister <notifications@github.com>
wrote:

--

rd

[2015-04-23 11:53] RichardDooling commented on #2084
Uninstalling did the trick!

Thanks for the tip.

[2015-04-23 12:41] justinnhli commented on #1508
Closed by #2208

[2015-04-23 12:41] #1508 closed

[2015-04-23 13:00] jszakmeister commented on #2084
Yes, that's what I meant for you to try.

Great!

I think this is due to a hang up in generating tags.  It might be interesting for us to remove the runtime directory before installing it, but alas, CMake doesn't provide a good way to do that. :-(

[2015-04-23 13:00] #2084 closed

[2015-04-23 14:03] athaeryn commented on #2460
I've been seeing `°w` a lot when I try and save. I've got it installed through Homebrew. `nvim --version` shows commit `401d738597a3e25319f988af49ec1cd7a5cb0980`.

[2015-04-23 14:08] justinmk commented on #997
@mattboehm Nice tip

[2015-04-23 14:34] mbainter commented on #2487
Absolutely

[2015-04-23 14:36] tarruda commented on #997
Zooming in/out would be the same as switching the current `frame_T` structure, which is already what happens when switching  to another tab, so there's no point in having another command just for this.

[2015-04-23 14:36] #997 closed

[2015-04-23 15:14] Arrowbox opened #2489 "Terminal buffers should have a filetype"
The quickfix buffer has a filetype of `qf` that allows other autocmds, like `WinLeave` or `WinEnter`, to run.  It would be helpful for the terminal to have a filetype as well. I have added `autocmd TermOpen * setlocal ft=terminal` to my vimrc, but I think it would be reasonable to add a default filetype to the terminal buffer.

[2015-04-23 15:15] mbainter commented on #2487
Okay - I may need some help with this.  Reviewing the stack, it's trying to expand the "PATH" env variable.  That should get a non-null result from os_getenv in env.c:418, and then return a copy (via xstrdup) on line 425, which would then need to be freed.

The only way it wouldn't is if the PATH env variable was NULL, and in that case, I think tracing it through vim_getenv() returns NULL which sh

[2015-04-23 15:24] Arrowbox commented on #2489
My mistake, autocmds go off of filename which can use `term:` as the pattern, however, I still think attaching a filetype to the buffer makes sense.

[2015-04-23 15:26] elmart commented on #2487
Problem is in all those places where path doesn't contain the result of `vim_getenv()`, but has been assigned string literals `(char_u *)""`, `(char_u *)"."`, etc. Those string literals are not allocated strings and can't be freed.

You can try two approaches:
- Make sure `path` only gets assigned an allocated string or NULL. This is, see if you can replace `(char *u)""` with `NULL` (or with `(cha

[2015-04-23 16:13] justinmk commented on #2489
It sets `buftype=terminal`

[2015-04-23 16:23] Arrowbox commented on #2489
Great! I missed that, sorry.

[2015-04-23 16:23] #2489 closed

[2015-04-23 17:46] trusktr commented on #997
@tarruda I disagree from a user experience perspective. Opening a new tab isn't conceptually the same as zooming a window inside of a tab and keeping all window layouts untouched when zooming back out.

In all current vimscript implementations I've tried, it's possible to do something or other to end up with a window layout that wasn't the same as you would expect when zooming back out. They are h

[2015-04-23 17:50] justinmk commented on #997
@trusktr `:tab split` *does* preserve the window layout. Simply close the new tab, and return to the previous tab, and the layout was not modified.

[2015-04-23 18:12] hoschi commented on #997
When you treat your tabs as a containers for a bunch of buffers which belongs to a task, you get a new anonymous task with `:tab split`. ZoomWin for example gives you more screen spacen without modifying your currated tab list. Unfortunately it breaks in several circumstances, and imo this issue was to come up with an idea to get the same benefits of ZoomWin without the negatives.

[2015-04-23 18:39] marlun commented on #997
I only used ZoomWin to temporarily get more viewing space and for that the `:tab split` solution works great and it works wherever you go since there's no need to install a plugin. As I understand it tabs are actually in vim to do this (not only this but this included). I much prefer learning to use something which is in n/vim by default instead of depending on a plugin.

I do however understand t

[2015-04-23 18:41] Pyrohh commented on #2460
@athaeryn That revision is quite old, could you try a newer one?

[2015-04-23 19:05] justinmk commented on #997
@hoschi What negatives? The tab is temporary. Once you close the tab your tab list is restored.

[2015-04-23 19:08] hoschi commented on #997
@marlun @justinmk Tabs are the only way to group buffers together in vim, hence I wouldn't want to use them for a cheap "solution" for zooming a window. I actually use `:tab split` all day, since ZoomWin has its problems and there is no other way at the moment, but it would be great if there is a solution for this which only works with windows.

[2015-04-23 19:12] justinmk commented on #997
@hoschi I use tabs to group buffers/windows as well. But I still do not understand your dissonance. `:tab split` is an elegant solution IMO.

[2015-04-23 19:17] trusktr commented on #997
A UX designer might not agree. :D Opening a new tab isn't the same as zooming, otherwise it wouldn't be called opening a new tab. x) Tmux has the "zoom" feature down.

[2015-04-23 19:17] hoschi commented on #997
@justinmk the negative is the additional tab itself. When you have 7 tabs and each of it has 3 windows, you get 14 tabs when you "zoom" one window of each original tab. This leads to additional negative points:
* tab list is very long and get cut because the neovim window is too small
* your tabline shows the active tab, so you don't know which tab holds your zoomed buffer and which tab holds the

[2015-04-23 19:19] trusktr commented on #997
@hoschi has it. We want to be able to zoom inside of as many tabs as we want, without duplicating the number of tabs. That'd be a nice actual "zoom" feature. :D

[2015-04-23 19:19] trusktr commented on #997
`:tab split` breaks spacial organization.

[2015-04-23 19:21] trusktr commented on #997
I can see that `:tab split` works for people who memory map their buffers, but other people like to have a visual representation of their workspace.

[2015-04-23 19:21] Pyrohh commented on #997
I think I understand, as I use tmux's zoom feature frequently and it's indeed very useful IMO

[2015-04-23 19:29] marlun commented on #997
@hoschi if you have 7 different views for the same project I do understand that it gets hard to work with. Isn't that kind of an extreme though? Out of curiosity, how come you have that many? I'm not against a feature like tmux zoom though.

[2015-04-23 19:30] justinmk commented on #997
I can't imagine why one would zoom more than *one* window at the same time, or longer than briefly--but at least now there are *details* which describe the shortcomings of `:tab split`. That's what was missing before.

[2015-04-23 19:33] marlun commented on #997
How does sessions fit in to this problem? Could one not use sessions for the different tasks?

[2015-04-23 19:48] g21michal commented on #2467
**N**ever **E**nough **O**f **Vim**

[2015-04-23 20:01] #2487 closed

[2015-04-23 20:05] justinmk commented on #2488
The buffer name is a unique identifier, potentially useful to scripts/plugins. I don't think introducing ambiguity here will be worth the trouble.

[2015-04-23 22:01] brettanomyces commented on #2482
I'm getting a similar error, also behind a corporate proxy.

[code]

[2015-04-23 22:28] #2458 closed

[2015-04-23 22:44] splinterofchaos commented on #2342
Actually it's like I'm getting stuck at a "Press Enter to continue" dialogue, but it's not being displayed until after I hit enter. Then I hit enter, see the message flash on screen just before starting up normally. Also, I get dumped into normal mode, where I expect insert.

This does not happen with `-u NONE`, so it's something with my configuration.

[2015-04-23 22:47] blueyed opened #2494 "terminal: ":debug norm i" hangs: 100% CPU for nvim and $SHELL"
I've tried to use `:debug norm i` in a `:terminal` window, and it hangs after the first `s` (step) command:

[code]

Both the shell (zsh or bash) and nvim then consume 100% CPU.

[2015-04-23 23:02] splinterofchaos commented on #2488
As a part of #2424, I'm adding a `'name'` option to `termopen()` so that you can specify what name you want. Though the name still has the `term://{pid}/{dir}/{name}` structure.

That's why.

[2015-04-23 23:28] jgkamat commented on #2408
I get the same issue with fzf, except my line number is 42.

[2015-04-23 23:30] justinmk commented on #2471
@equalsraf That looks like the right fix. Note that `append_path()` was mostly a new function introduced in Neovim, so there is no analog in Vim.

Based on usages of append_path and the fact that we introduced it, yes, it should compare `psepc` *and* `psepcN`.

P.S. Why don't we define `pseps` for all platforms and use it, instead of hard-coding "/" in places?

[2015-04-24 06:33] trusktr commented on #997
@marlun I've had ~90 windows in a single tab.

[2015-04-24 06:35] trusktr commented on #997
The problem is the vi sessions aren't really... sessions. They are just scripts that open a bunch of windows, tabs, and set options.

[2015-04-24 07:13] asgeo1 commented on #997
I'm with @hoschi and @trusktr - this is exactly how I work too:

I have multiple tabpages open at once.  Each tabpage has multiple split windows.  Sometimes the same buffer may be visible across multiple tabpages.

So each tabpage is effectively a "view" - a group of windows and buffers which I am currently working on, in a particular arrangement which makes sense for the task I'm working on.

I a

[2015-04-24 07:30] hoschi commented on #997
@marlun
* one tab for terminals, one terminal buffer for advanced git commands and others for long running programms e.g. `gulp server` or something
* one tab for project wide setting files, e.g. Grunt, .jshintrc, .git/config/exclude, ...
* one tab for a module, which has windows to show files which are used in this module and one window for the testfile

As it is really unusual that fixing a tick

[2015-04-24 08:34] marlun commented on #997
It makes sense and I can see how a more tmux like zoom feature could be really helpful for some people. Especially when neovim added the :terminal feature and people will start using it like tmux.

[2015-04-24 08:38] akarl818 commented on #2488
@splinterofchaos Yes, that's good. That will make it easier to switch to the terminal I wan't from the buffer list. Thanks!

[2015-04-24 08:46] Joushou commented on #2488
Wouldn't setting the filename with ":file" do the job? I name my terminal buffers "term-1", "term-2", "jenkins", etc., and that seems to me to essentially be what you are looking for.

[2015-04-24 08:46] hoschi commented on #997
Thats also right, I actually evaluate if neovim terminals could replace tmux and the missing zoom feature is one problem here.

[2015-04-24 08:52] akarl818 commented on #2488
@Joushou Yes, that's exactly what I want! Thank you!

[2015-04-24 09:00] Joushou commented on #2454
TUI will always be first-class, but keybinding support is, due to annoying old semi-standards, impossible to get right. A lot of ctrl-combos cannot be used, as they send terminal controls that cannot be distinguished from the "normal" generators of these controls, ESC needs to wait for a moment to see what comes after to verify... It's all a bloody mess. I always considered making a new command-se

[2015-04-24 09:53] lazywei commented on #2437
I think this issue is solved :+1:
Thanks @Shougo for the great efforts!

[2015-04-24 10:18] kopischke commented on #2454
These are not functionally identical: leaving insert mode with `Ctrl-C` bypasses abbreviation checking and does not trigger `InsertLeave` (see `:h i_CTRL-C`).

[2015-04-24 10:48] elmart commented on #2487
This should already be fixed on master. Please reopen if not.

[2015-04-24 10:53] marlun commented on #997
I'm still where I feel neovim replacing tmux is a bad thing but a lot of people are loving it.

[2015-04-24 11:05] tarruda commented on #997
Zooming more than one tab isn't really useful since you can only see one tab at a time, and even if you need that for your workflow, such thing would be achievable as a plugin. But it is not our goal to support every possible workflow as native commands/features, which is why vimscript exists.

It might not be conceptually the same, but it is the same from an implementation POV. Even if we were to

[2015-04-24 12:16] zachariahreed commented on #2454
Fair enough. Thanks for the explanation. I'm (obviously) not super
familair with some of the details of terminal keyboard handling.

On Fri, Apr 24, 2015, at 06:01 PM, Kenny Levinsen wrote:

Links:

  1. https://github.com/neovim/neovim/issues/2454#issuecomment-95858512

[2015-04-24 13:11] benwaffle opened #2497 "java 8 syntax highlighting"
Lambda arrows are highlighted as errors.

[2015-04-24 16:32] liujoey commented on #2475
Sorry to revisit this issue again, but I've tested it in Gnome-terminal and urxvt, neither works. Does it only work in iTerm2? At least from the document I didn't see any limitations. This is a very useful feature.

[2015-04-24 17:26] akarl818 opened #2498 "[bug] [terminal] Autocomplete segmentation fault"
This is what's happening:

    :terminal ./man<tab>

    :terminal ./man...[1]    78639 segmentation fault  nvim

I get a segmentation fault when trying to press tab for autocomplete.

It works well with normal commands but not with files.

My `shell` is set to `/bin/zsh`.

[2015-04-24 17:27] #2488 closed

[2015-04-24 18:06] qstrahl opened #2499 "Assertion `!(handle->flags & (UV_CLOSING | UV_CLOSED))' failed."
Hey, I don't have steps to reproduce or anything, but nvim suddenly froze up as I was working and I had to kill it from another terminal. Only happened once, not a recurring bug as far as I know. When it exited, it produced this message:

[code]

I figured someone might want to know about it. Please close this issue if it's not helpful.

[2015-04-24 18:23] justinmk commented on #2498
Please report `:version`. May have been related to https://github.com/neovim/neovim/pull/2491

[2015-04-24 18:26] justinmk commented on #2498
can't reproduce after building VIM 0.0.0-alpha+201504231827 (compiled Apr 24 2015 14:23:16)
Commit: d350d12a00518aa0d9e3a1d49c6815c3398d882f

[2015-04-24 18:26] #2498 closed

[2015-04-24 19:28] #1119 closed

[2015-04-24 21:17] Pyrohh commented on #2475
@liujoey perhaps you should open an issue for it, as it doesn't look like many people are subscribed to this issue.

[2015-04-24 21:23] Pyrohh commented on #2498
@akarl818 Feel free to reopen this if you do manage to reproduce it, but please see https://github.com/neovim/neovim/blob/master/CONTRIBUTING.md#reporting-problems before doing so (we try to keep that list not too long).

[2015-04-24 21:38] akarl818 commented on #2498
Building the latest version worked, the one I hade was from the 21:st, I will try with the latest the next time :)

[2015-04-24 21:51] noscript commented on #1029
So annoying to have that message for shell commands. When echoing two lines `:echo "line 1" | echo "line 2" ` with `cmdheight=2` the message is not displayed. How on earth it is enforced for shell commands, even if the output can perfectly fit into the command line.

Couldn't agree more.

[2015-04-24 22:51] equalsraf commented on #2499
It would seem the assert is there to check if uv_close is called twice on the same handle

[code]

[2015-04-25 02:36] ghost opened #2501 "The `'backupdir'` option doesn't support full paths."
The `'directory'` and `'undodir'` options support saving backup files based on the files full path. This functionality is missing from `'backupdir'` and this functionality has been sitting in vim's todo list for over 4 years:

Here's the forgotten [patch](https://groups.google.com/forum/#!searchin/vim_dev/backupdir/vim_dev/ZJdEbARbB4o/47c_4i6sul4J).

[2015-04-25 06:45] critiqjo opened #2503 "Vim-command output disappears when a terminal buffer gets updated"
**Issue:** Run a script in terminal which outputs something periodically. Now if you execute `:version` in vim, it shows up first, then gets blacked out as soon as terminal screen is updated (the cursor remains in the command line). This happens even if you are in a new tab where you can't see the terminal.

**Steps to reproduce:** Run this shell script in terminal:
[code]
Now, get back to normal

[2015-04-25 10:29] nagisa commented on #2377
More general and minimal way to reproduce:

`bash -c 'nvim -u NONE -i NONE -N --cmd q && read'`

`-u NONE -i NONE -N` args are not compulsory.

[2015-04-25 11:26] ZyX-I commented on #999
There is a question: &viminfo option contains such an interesting suboption `s` described as

I am going to extend this option according to its description (“Maximum size of an item in Kbyte”), except that it is ignored for buffer list + description is off by 3 unsigned integers (type, timestamp, length):

Another possible option is narrow it to registers only like it was in Vim, but make this beh

[2015-04-25 11:28] ZyX-I commented on #999
Note that one can still limit register size by using `<` (“Maximum number of lines saved for each register.”), but this limit is not that precise.

[2015-04-25 14:33] dumblob commented on #999
I would prefer the first solution with a minor change in wording - from `Maximum size of an item in Kbyte.` to `Maximum size of an item content in Kbyte.`

[2015-04-25 15:30] ZyX-I commented on #999
@dumblob I use `KiB`, not `Kbyte` (not sure what `Kbyte` is supposed to mean, but in current Vim and NeoVim sources it means 1024 bytes).

[2015-04-25 15:33] dumblob commented on #999
@ZyX-I correct, but the point with the word *content* stays the same.

[2015-04-25 15:41] ZyX-I commented on #999
@dumblob I have no objections to the word “content”, just to `Kbyte`.

[2015-04-25 18:37] vheon commented on #2497
As a workaround for the moment use https://github.com/vim-jp/vim-java

[2015-04-25 19:40] kopiczko opened #2512 "YAML file syntax highlighting is broken"
VIM 7.4.488:
![screen shot 2015-04-25 at 21 38 29](https://cloud.githubusercontent.com/assets/4608994/7334468/8970240e-eb93-11e4-9b35-3f987fd3fa95.png)

NVIM 0.0.0-alpha+201504231827:
![screen shot 2015-04-25 at 21 37 46](https://cloud.githubusercontent.com/assets/4608994/7334472/a011df7c-eb93-11e4-90b9-ef29e6d52f1e.png)

[2015-04-25 19:43] kopiczko commented on #2512
That was due to https://github.com/chase/vim-ansible-yaml enabled.

[2015-04-25 19:43] #2512 closed

[2015-04-25 22:19] jasonwilliams200OK commented on #1749
@equalsraf, here is a commit which brings VS2015 support to gyp https://code.google.com/p/gyp/source/detail?r=2013 (4 months old), corresponding mirror commit: https://github.com/svn2github/gyp/commit/21754fa1ffb12acc4782ad345055b6ad5bae79b0. Not sure if this fixes the issue to get the compiler working.

Also going by the progress here: http://code.google.com/p/chromium/issues/detail?id=440500, (s

[2015-04-25 23:10] equalsraf commented on #1749
@jasonwilliams200OK  Impeccable timing, libuv also has a snprintf replacement (libuv/libuv#329) in there :D

I was aware of the gyp commit, but I don't think it is working for libuv yet. I'll give it another shot when I get the chance.

FYI I'm getting a network timeout when downloading the vagrant box.

[2015-04-26 01:10] trusktr opened #2514 ":terminal reflow ("soft wrap")"
Terminal reflow (line wrapping) would be nice. Here's a video of what I mean in OS X Terminal and iTerm2: https://youtu.be/sFJtCBM00dg

[2015-04-26 01:29] trusktr commented on #997
But every attempt in vimscript has always been a hack. There's always some downside to the plugin, whereas a simple native zoom similar to tmux wouldn't have any such downsides.

I think you're not imagining exactly what we are. We want to be able to have the views of tab of any number of tabs to be able to contain a zoomed window, while not affecting tab layout. `:tab split` doesn't follow this r

[2015-04-26 03:18] justinmk commented on #997
Let's focus on making the API powerful and stable, so that plugins can implement these ideas.

[2015-04-26 03:22] trusktr commented on #997
:+1:

[2015-04-26 04:42] arteymix commented on #2090
GCC 5 has a new definition for `_Bool` in `stdbool.h`:

[code]

It looks like the lua script `scripts/gendeclarations.lua` ignore the functions that returns the `bool` type. Is it called after the preprocessing? If so, maybe the script does not handle `_Bool` type definition?

[2015-04-26 05:00] Pyrohh commented on #2090
Those definitions are exactly the same as the ones in `stdbool.h` on GCC 4.9.2 (at least in Arch Linux), which compiles nvim fine.

On April 26, 2015 12:42:28 AM EDT, Guillaume Poirier-Morency <notifications@github.com> wrote:

[2015-04-26 08:35] critiqjo commented on #2094
Fixed by #2208...

[2015-04-26 08:35] #2094 closed

[2015-04-26 13:39] mhinz commented on #2468
What system are you on?
Which terminal emulator?
What happens if you try to paste?

[2015-04-26 14:01] topaxi commented on #2468
Ubuntu 14.10
gnome-terminal (3.6.2); also tested xterm
term gets focus, but nothing happens

Tried with an empty profile, seems to work there.
If i have time next week, i will try to track down which setting / plugin this causes.

[2015-04-26 14:13] Numkil commented on #2430
Just wanted to let you guys know that tests aren't hanging for me any more since the latest commits.

[2015-04-26 14:57] justinmk commented on #2430
Guess it was the `-u NONE` issue that @mhinz noticed. Thanks for followup @Numkil

[2015-04-26 14:57] #2430 closed

[2015-04-26 16:00] mhinz commented on #2430
Actually it was fixed in: 42de617

If you didn't have the `neovim` module installed, nvim would prompt for it at start.. and that confused the tests, since they needed an addtional `<cr>`.

But yes, fixed. :]

[2015-04-26 17:03] niccnacc commented on #2514
Thank you for taking my suggestion seriously.
I don't really know how the terminal emulation works in nvim, but As a guess it could be possible to redraw the screen periodically, when a resizing event is detected. The size calculation is done at the moment only once, but the logic should stay the same as much as possible.

[2015-04-26 20:21] Pyrohh commented on #2380
This seems similar enough to #2360 and #2514, so I'll close this. Please reopen if that's incorrect.

[2015-04-26 20:21] #2380 closed

[2015-04-26 20:48] elmart opened #2519 "Travis failures."
It does nothing and fails because no output again and again for me.

Also, just for curiosity, when have we removed @jszakmeister's QuickBuild? I hadn't realized.

[2015-04-26 22:53] jszakmeister commented on #2519
The QB issue is probably mine.  I had to change my token, so there may be a spot that I forgot.  I'll look into it.

[2015-04-27 02:12] blueyed opened #2520 "Shift-mouse starts visual mode in terminal"
I am using urxvt / rxvt-unicode as a terminal, and have `set mouse=a`.

When I want to select text from the terminal window, I use "Shift" while clicking and dragging the text (or double-clicking it).

With Neovim, this can trigger/start the visual mode, while it gets ignored correctly by vanilla Vim. This appears to only happen after the mouse has been used once to trigger the visual mode.
In thi

[2015-04-27 02:47] justinmk commented on #2380
Actually @Pyrohh this issue seems more useful than #2360

[2015-04-27 04:55] Pyrohh opened #2521 "Gitter <--> IRC bridge"
Mentioned on gitter:

https://github.com/finnp/gitter-irc-bot -- `Bot that synchronises messages from gitter and irc`

[2015-04-27 04:56] justinmk commented on #2521
I could probably set this up on the same machine that runs the @marvim cron jobs.

[2015-04-27 05:26] SirVer commented on #1829
I think this is fixed through https://github.com/neovim/neovim/pull/2208 - can somebody close the issue?

[2015-04-27 05:30] #1829 closed

[2015-04-27 08:21] marlun commented on #2521
This would be an improvement, the move to Gitter has been hard on the freenode channel. :+1:

[2015-04-27 09:03] #2485 closed

[2015-04-27 09:07] fwalch commented on #2150
FWIW, I started a PR at weblate to support GitHub pull requests, if somebody wants to help: https://github.com/nijel/weblate/pull/723

[2015-04-27 10:22] fwalch commented on #1949
@justinmk Looks like they added two settings, "COVERAGE THRESHOLD FOR FAILURE" and "COVERAGE DECREASE THRESHOLD FOR FAILURE".

[2015-04-27 11:05] tarruda commented on #2521
This week I'm gonna rent a VPS for some neovim-related tasks and we can use it for this synchronization and even for marvim cron jobs

[2015-04-27 13:48] elmart commented on #2519
QuickBuild is working again.

BTW, I take the chance to congratulate you because of it. It has a bit old-fashioned interface, but it does a really good work, and it does it really quick. I'm curious how long it would take if we included everything Travis does now (maintaining the extra things it does now (freebsd, release)). Have you tried that, or is it there any roadblock? Travis is getting real

[2015-04-27 13:51] fwalch commented on #2519
@elmart FWIW, some of the Travis problems might be because they're phasing out support for non-containerized builds (ref #2340).

[2015-04-27 17:16] verandaguy commented on #2329
I can confirm that the build *fails* for me with the same CC, target, and thread model as you, @philix .

Are there any reasons at all why the build would be failing at `loop.so`? That seems to be the root of the problem.

[2015-04-27 17:39] verandaguy commented on #2329
Turns out that the whole issue was being caused by a bad `typedef` in a header file, `object.h` linked to `libuv`.

`nvim` now successfully builds under OS X using GCC 4.9.2 and Clang 6.1.0.

[2015-04-27 17:39] #2329 closed

[2015-04-27 18:43] elmart commented on #2519
@fwalch Yes, it's definitely something about their infrastructure that is gone rotten.
Now it has failed again for me. Build completes (I see the "ALL DONE." line meaning old tests have finished successfully), but whatever it tries to do after that, fails with:
[code]
No idea.

[2015-04-27 19:40] grtlr commented on #2519
According to their ([status page](http://www.traviscistatus.com/)) they are pretty much at their limit for current non-containerized open source builds. Maybe that is why the builds take longer at the moment. In the container-based setup on the other hand, there still seems to be some capacity.

[2015-04-27 19:42] simonweil commented on #2521
What is wrong with https://irc.gitter.im/?
I connect to the neovim chat via IRC using it and it work fine.

[2015-04-27 19:46] Pyrohh commented on #2521
Now I realize the title might be unclear. irc.gitter.im allows you to connect to a gitter room over IRC, but this synchronizes chat between a separate IRC channel (e.g., #neovim on freenode) with the gitter room. So anything said in the gitter room is said in #neovim and vice versa.

On April 27, 2015 3:42:48 PM EDT, Simon Weil <notifications@github.com> wrote:

[2015-04-27 20:00] dgmcguire opened #2522 "ruby match (%) operator does not work for def/end"
just upgraded to osx 10.10 and I don't recall it not working in 10.9
the match operator works fine using the same .vim and .vimrc on vim

[here is a gist of my entire vimrc, I use pathogen so all my plugins are neatly listed](https://gist.github.com/dgmcguire/fcbd8b37335de72fae1d)
### vim --version

[code]

### neovim --version

[code]

[2015-04-27 20:01] niccnacc commented on #2467
Neovim, even more powerful! (unleashed or other, which were mentioned are cool too).
Neovim, yet improved!
Actually marketing for something as neovim is kinda unconventional. I know at least 10 people studiying IT, who think vim in general is freaky and too much for them. What I'm saying is: potential users are a very specific class of people. And even more, since (if) you are refering to vim,.. y

[2015-04-27 21:35] trusktr commented on #2360
Ah, sorry, I posted a duplicate at #2514. I'll close this one and leave that one since that one has the video  that shows concisely the idea.

[2015-04-27 21:35] #2360 closed

[2015-04-27 21:42] Tranquility opened #2523 "Auto pastetoggle does not work in pangoterm"
I am using the latest version. Please tell me how I can help to fix this.

[2015-04-27 22:06] glts commented on #2522
Hm, that functionality is provided by the matchit plugin, which I don't see in your vimrc. Put the line `runtime macros/matchit.vim` in your vimrc.

Also note the difference `.vimrc`/`.nvimrc` etc

[2015-04-27 22:39] dgmcguire commented on #2522
perfect!  That did it, I guess matchit is in vim by default and not neovim?

[2015-04-27 23:03] #2522 closed

[2015-04-28 02:07] houshuang commented on #2302
This would be incredibly useful. Rather than save, I want it to go to normal mode whenever I come back to Vim - I never remember which mode I was in, and often start issuing commands while in insert mode.

[2015-04-28 08:58] elmart commented on #2519
Now it failed build for last commit I merged into master: https://travis-ci.org/neovim/neovim/builds/60342107.
Failure is because one of those non-deterministic tests. PR passed ok. But when I try to restart failed job, it doesn't really do it.

[2015-04-28 09:11] arames commented on #2330
I am also seeing issues with colors on a clean 15.04 install, with a neovim commit d9441444afa3e99c8116ad01b11614886aa53524 compiled from source.

Example test case:

~/.nvimrc:

    syntax on
    set nu

Edit a file. Then try

    :set t_Co=256
    :set t_Co
    E846: Key code not set: t_Co

System colors (1 to 15) work, but not other colours.

    " This works fine.
    :hi! LineNr ctermfg=2

[2015-04-28 10:48] fwalch commented on #2150
Weblate now has support for sending pull requests with updated translations (https://github.com/nijel/weblate/issues/723), which should be available on https://hosted.weblate.org eventually.

[2015-04-28 11:41] mlitwiniuk opened #2528 "Screen flickering when using neovim in tmux"
Whenever I run neovim in tmux it's no longer behaves smoothly, screen starts to be refreshed in a strange way.
Here's video of that behaviour: http://up.prograils.com/ml/nvim_tmux.mp4

Config files:
[nvimrc](https://github.com/mlitwiniuk/dotfiles/blob/master/vimrc)
[tmux.conf](https://github.com/mlitwiniuk/dotfiles/blob/master/tmux.conf)

I really have no idea what the hell is going on there.

[2015-04-28 12:18] mhinz commented on #2520
Maybe related: https://github.com/neovim/neovim/pull/2383

[2015-04-28 12:22] blueyed commented on #2520
Thanks, @mhinz.
I've tried your one-line fix, but is does not help - it's not related to the tabline also.
But the issue is similar indeed.

[2015-04-28 13:54] hoschi commented on #997
I'm a bit confused now.

from @tarruda

from @justinmk

So here is my question: Is it already possible to do a tmux like zoom feature (without creating new tab)  with the current API (by e.g. vimscript)?

[2015-04-28 14:07] justinmk commented on #997
No. Let's focus on making the API powerful and stable, so that plugins can implement these ideas.

[2015-04-28 15:14] justinmk commented on #2330
@arames Guessing your `&term` / `$TERM` do not contain the string "256color".

[2015-04-28 15:15] justinmk commented on #2330
https://github.com/neovim/neovim/wiki/Troubleshooting#colors-arent-displayed-correctly

[2015-04-28 16:25] glebtv commented on #2302
Saving was just my hack/example,
I think it should trigger FocusLost/FocusGained autocmd like it was in gui vim https://github.com/neovim/neovim/blob/9a363ca7a3174d8e278dee29bb8984909eeda693/runtime/doc/autocmd.txt#L678
so users can choose what they want to do

[2015-04-28 16:34] houshuang commented on #2302
Oh absolutely, I didn't mean to imply anything about neovim default functionality - with FocusLost/Gained, users can do what they want.

[2015-04-28 16:41] justinmk commented on #2302
The vim_dev link is useful, I definitely would like to see this.

[2015-04-28 17:31] arames commented on #2330
I'll give it a try tomorrow on that machine. But note that vim had no problems with 256 colors in the same terminal.

[2015-04-28 17:34] justinmk commented on #2330
That's because, based on your code above, you were tweak `t_Co` which is ignored by Neovim (as are all other terminal codes).

[2015-04-28 17:57] fwalch commented on #1949
Thanks!

[2015-04-28 17:57] #1949 closed

[2015-04-28 18:45] DAddYE commented on #2476
Here my version:

[code]

After adding true color with:

[code]

Nerdtree will always open automatically

Anything else?

[2015-04-28 19:29] Pyrohh commented on #2528
I experience a similar issue, but it's much less prevalent after disabling `lazyredraw`, although it still happens.

[2015-04-28 19:33] khalidchawtany commented on #2476
I have the following in my **.nvimrc** to avoid opening **NerdTree** automatically on startup.

[code]

OR

You can use the following to prevent **NerTree** startup only if ```$NVIM_TUI_ENABLE_TRUE_COLOR``` is set.
[code]

[2015-04-28 19:33] Pyrohh commented on #2150
Thanks @fwalch, that looks very promising. I assume we should put a link in our main README.md for translators once this is all ready.

[2015-04-28 19:36] DAddYE commented on #2476
Thank you very much! I didn't know nvim could be recognized as `gui` while having true colors!

Good catch!

[2015-04-28 19:36] #2476 closed

[2015-04-28 19:38] Pyrohh commented on #2382
@mhinz can this be closed since #2382 was merged?

[2015-04-28 19:42] doppioandante opened #2530 "Neovim errors when a file named "subprocess.py" is in the same directory where neovim is started"
Ditto with "logging.py", I couldn't find any other name.
I can reproduce with 158d26753371c9f9f14957b644c8f9bb9b938ef4
I'm not sure whether the bug is in the provider or the python-client.
This is what I currently get in .nvimlog, before pulling master it gave another error though:
https://gist.github.com/doppioandante/2b6530006693ea171a02

[2015-04-28 19:44] gdrooid commented on #2530
@doppioandante Check your message, you didn't paste the log.

[2015-04-28 19:57] fwalch commented on #2150
@Pyrohh It will probably take a while until PRs are supported on hosted weblate, but I'll try to keep an eye on it.

[2015-04-28 20:04] mhinz commented on #2382
@Pyrohh Oh, yes. Thanks.

[2015-04-28 20:05] #2382 closed

[2015-04-28 20:09] Pyrohh commented on #2480
I can still reproduce this, but instead of a heap buffer overflow I get this:

https://gist.github.com/5b93d7f051c3415d41d0

I'm not sure if it's the same issue.

[2015-04-28 22:20] Pyrohh commented on #2481
I'm closing this for now, but please feel free to reopen if you have more information. Most of the time, `strace` isn't nearly as helpful as using Clang's {address, undefined behavior, memory} sanitizer, or just valgrind. See [this link](https://github.com/neovim/neovim/wiki/Development-tips#debugging-program-errors-undefined-behavior-leaks-) for more information.

[2015-04-28 22:20] #2481 closed

[2015-04-28 22:20] therealvdeadline commented on #2090
I'm on arch with GCC 5.1 and I'm getting a similar error when trying to install using [yaourt](https://archlinux.fr/yaourt-en).

[code]

[2015-04-28 22:27] Pyrohh commented on #2090
@therealvdeadline I'm shooting from the hip, but try running this from inside the neovim source tree (preferably one you just cloned):

[code]

[2015-04-28 23:33] therealvdeadline commented on #2090
Gave it a shot and still getting errors.

[code]

[2015-04-29 00:39] cacplate opened #2531 "Build failing on Archlinux"
Since about a week, the build keeps failing from conflicting types in eval.c. I didn't change any behavior as to how I build. I only do `sudo make install`. I'm on Archlinux 64bit and I build from the github repo.

[2015-04-29 00:50] justinmk commented on #2523
Need more info. Are you talking about `'pastetoggle'` setting explicitly, or middle-click paste?

[2015-04-29 00:52] justinmk commented on #2531
Need the full log.

[2015-04-29 00:55] fmoralesc commented on #2531
@fwalch mentioned elsewhere there was an issue with `jemalloc` in Arch? I've been compiling from both the AUR and github without issue, though.

[2015-04-29 00:56] Pyrohh commented on #2531
(obligatory ` git clean -fdx && make`)

[2015-04-29 01:06] cacplate commented on #2531
I forgot to add the full log, sorry.
Also, I tried removing everything and recloning the git repo and nothing changed.
https://gist.github.com/cacplate/613f4fb617ff24065d80

[2015-04-29 01:07] Pyrohh commented on #2531
Are you using GCC-5? If so, see #2090.

[2015-04-29 01:10] cacplate commented on #2531
#2090 is the exact same thing. I will close so no duplicate.

[2015-04-29 01:10] #2531 closed

[2015-04-29 02:47] justinmk commented on #246
@ZyX-I Does this issue still make sense and is it still needed for VimL translator?

[2015-04-29 02:50] justinmk commented on #2128
I assume this is a dup of the reflow issue https://github.com/neovim/neovim/issues/2514

[2015-04-29 03:12] Pyrohh opened #2533 "fsanitize: Null pointer passed as argument 1, which is declared to never be null"
Do this to reproduce:
[code]

This should yield 20 identical logs in `$HOME`, each containing:

[code]

This is what is being referred to:

[code]

[2015-04-29 03:25] Pyrohh commented on #2530
very straightforward to reproduce:
[code]

[2015-04-29 04:17] trusktr commented on #2128
@justinmk It seems to be something different. After opening the NERDTree buffer, the width of the rendered part of the terminal buffer becomes the width of the NERD buffer despite the fact that window width of the terminal buffer is much larger.

See the video at about 0:22 where I open the NERDTree buffer, and the terminal content gets squished even though the terminal window is much wider.

[2015-04-29 04:21] Pyrohh opened #2535 "{Not in Vi}"
We don't care about Vi compatibility, so this seems redundant. Is there any reason to keep it?

If not, removing it shouldn't be too hard: there's 688 instances of it, the vast majority of which can be seemingly removed via search and replace.

[2015-04-29 04:23] justinmk commented on #2535
No, we always planned to remove it in 1 mega-commit. Go for it :)

[2015-04-29 04:24] Pyrohh commented on #2535
be back in 5 minutes... :D

[2015-04-29 05:12] ZyX-I commented on #246
@justinmk I did not look into the code, but new UI definitely has something for representing such input or it was not able to use `<C-S-n>`. I think this issue can be closed, but note #2345: `"\<…>"` should also use new representation.

[2015-04-29 05:12] #246 closed

[2015-04-29 06:18] gacha commented on #2024
I got the same issue on NVIM 0.0.0-alpha+201504270459