[2016-05-31 19:18] Doron-Behar commented on #4849
Thanks. in the meanwhile, I think it might be useful to create a mapping to sync the syntax. This is what I added to my `init.vim`:
[code]

[2016-05-31 20:30] jamessan commented on #4855
Maybe something like [CCAN]'s [rbuf] module would be useful.

[CCAN]: http://ccodearchive.net/
[rbuf]: http://ccodearchive.net/info/rbuf.html

[2016-05-31 21:08] justinmk commented on #4855
We have 2 ring buffer implementations, though one of them is rather specialized.

[2016-05-31 23:07] ZyX-I commented on #4855
That specialized (rbuffer.c?) implementation was what I would consider using for our buffered `fread()`. But one needs this `fread()` implementation at first, and current code does not (or I failed to find) have something like this.

[2016-06-01 00:05] ChickenNuggers commented on #4850
@Shougo the only problems listed was that the python doctor couldn't detect whether the Python package was installed because I installed it the OS-recommended way instead of via pip. It still exists; if I were to install it via pip it would be the exact same without errors. Also @bfredl this happens only when YCM is used. If I take YCM out, it works fine.

[2016-06-01 00:15] ChickenNuggers commented on #4850
@justinmk I followed the issues for `python-support-isnt-working` and got `/usr/bin/python2` and a blank line - just like running `-u NORC`.

[2016-06-01 00:30] justinmk commented on #4850
@ChickenNuggers Can you report the results here? There's no information here so far.

[2016-06-01 00:34] ChickenNuggers commented on #4850
Here's my Vim RC file:

[code]

I'm using the YouCompleteMe plugin and on startup, in `:messages`, I'm getting the error:

[code]

[2016-06-01 00:45] justinmk commented on #4850
So `:python print("test")` works? And `has('python')` returns 1?

[2016-06-01 00:47] ChickenNuggers commented on #4850
Yes, and yes.

[2016-06-01 00:50] justinmk commented on #4850
Can you confirm that you ran `pip2 install --upgrade neovim`? And, what version of the `neovim` python module does pip report?

[2016-06-01 00:53] ChickenNuggers commented on #4850
I can't confirm I've run `pip2`; running that makes me uneligible for support for my OS ("bla bla use pacman or gtfo bla bla"). I've found a dependency error that it depends on the `six` module which isn't included as a dependency when it should be. Error's with the OS.

[2016-06-01 00:53] #4850 closed

[2016-06-01 00:56] justinmk commented on #4850
@ChickenNuggers Thanks for followup.

[2016-06-01 10:09] bfredl commented on #4850
You can always use `pip install --user` to avoid messing with files managed by pacman.

[2016-06-01 12:29] dm1try commented on #4612
btw, this is related to [`netrw#CheckIfRemote()`](https://github.com/neovim/neovim/blob/master/runtime/autoload/netrw.vim#L5193-L5195) which returns `true` for terminals because of the terminal buffer name `term://something...`
If you rename the terminal buffer then all works fine.

[2016-06-01 13:02] josselin-c opened #4861 "Can't switch to "file explore" split"
- Neovim version:
Up to date nvim from http://ppa.launchpad.net/neovim-ppa/unstable/ubuntu xenial main
NVIM 0.1.5-dev
Build type: RelWithDebInfo
Optional features included (+) or not (-): +acl   +iconv    +jemalloc

- [x ] Vim behaves differently? Vim version:
- Operating system/version: Ubuntu 16.4 http://ppa.launchpad.net/neovim-ppa/unstable/ubuntu
- Terminal name/version: Konsole 15.12.3
- `$TE

[2016-06-01 13:08] jamessan commented on #4861
This looks like a duplicate of #4810.

[2016-06-01 13:28] #4861 closed

[2016-06-01 14:49] gngshn opened #4862 "nmap <C-F12> can not work."
- Neovim version: the newest to 1st June 2016.
- [ yes ] Vim behaves differently? Vim version:7.4
- Operating system/version: Fedora 23
- Terminal name/version:GNOME Terminal 3.18.3
- `$TERM`:xterm-256color
### Actual behaviour

Ctrl+Fx(x=1~12) key map can not work, but work well in vim.
### Expected behaviour

Ctrl+Fx can work in neovim

[2016-06-01 19:10] tkossak opened #4864 "installing through brew overwrites system python"
- Neovim version: 0.1.4
- [x] Vim behaves differently? Vim version:7.4
- Operating system/version: Linux Mint 17.3 x64 Cinnamon
- Terminal name/version: gnome-terminal 3.6.2
- `$TERM`: screen-256color

### Actual behaviour
I install neovim with `brew install neovim/neovim/neovim` and it also installs its own python in `$HOME/.linuxbrew/bin/python` clobbering system `/usr/bin/python` (because durin

[2016-06-01 19:12] jamessan commented on #4864
Shouldn't this be filed against homebrew's neovim formula (or homebrew itself) instead of neovim?

[2016-06-01 19:17] justinmk commented on #4864
Seems like a linuxbrew issue. Only mention of python in our formula looks pretty harmless:

https://github.com/neovim/homebrew-neovim/blob/master/Formula/neovim.rb

[2016-06-01 19:17] #4864 closed

[2016-06-01 19:23] tkossak commented on #4864
I'm sorry for posting in wrong place. I reposted it [here](https://github.com/neovim/homebrew-neovim/issues/159)

[2016-06-01 23:22] #1404 closed

[2016-06-02 02:51] gngshn opened #4866 "Use % to jump between #ifdef & #endif"
- Neovim version:0.15-349
- [ yes ] Vim behaves differently? Vim version:7.4
- Operating system/version:Ubuntu 14.04
- Terminal name/version:gnome-terminal
- `$TERM`:xterm

### Actual behaviour
when the cursor is on the text after #ifdef, the % can not jump to the #endif or #else
### Expected behaviour
% can do this, because vim can do this
### Steps to reproduce using `nvim -u NORC`

[code]

[2016-06-02 03:45] wsdjeg commented on #4719
which tools do you recommend to use? xclip or xsel or something else?

[2016-06-02 03:49] wsdjeg commented on #4719
@bfredl maybe it is same issue as
https://github.com/kfish/xsel/issues/13

[2016-06-02 08:14] AlexVKO opened #4867 "restore default cursor shape after exit"
- Neovim version: 0.1.4
- Operating system/version: osX El Captain
- Terminal name/version: zsh 5.2
- `$TERM`: iterm3
### Actual behaviour And Steps

When I leave from NEOVIM or when I change tmux panel from NEOVIM,  the cursor shape change
EDIT: It happens outside of tmux as well.

 1)  on terminal
![screen shot 2016-06-02 at 4 56 21 am](https://cloud.githubusercontent.com/assets/8848152/15737922

[2016-06-02 15:17] hakbra commented on #4866
This seems to be an issue with the matchit plugin.
Using nvim -u NONE it works as expected.
However, after doing `:source /usr/local/share/nvim/runtime/plugin/matchit.vim` it does not work anymore. This plugin is not enabled by default in vim which is why it works there.

[2016-06-02 15:48] mhinz commented on #4866
I can't reproduce this. It should work both ways:

1. `nvim -u NONE`: built-in `%` knows how to handle `#if` etc. by default

1. `nvim -u NORC`: loads the matchit plugin by default (opposed to Vim where `runtime macros/matchit.vim` or `packadd matchit` directly in recent versions is needed)

[2016-06-02 18:58] justinmk commented on #4867
@blueyed is https://github.com/neovim/neovim/pull/3165 relevant here?

[2016-06-02 19:08] hakbra commented on #4866
As expected, `nvim -u NORC` gives a matchit mapping when running `:verb nmap %`:
[code]

Vim does not source macros on startup, but the issue can be reproduced in vim also by running
`runtime macros/matchit.vim` proving that matchit is the culprit

[2016-06-02 19:09] blueyed commented on #4867
@AlexVKO
Does it only happen with tmux for you?

It happens also without it for me:

    % zsh -f
    % printf "\e[6 q"
    # Cursor is a bar
    % nvim
    # Go to insert mode and back to get a block cursor, then quit.
    # Cursor is a block now.

[2016-06-03 07:57] AlexVKO commented on #4867
@blueyed
No, it happens without tmux as well...

[2016-06-03 10:23] leomao commented on #4862
I can confirm this issue.
Two more observations:
- Ctrl+Fx **will** work in tmux. (`$TERM` is `screen-256color`)
- In insert mode, pressing Ctrl + F9 will get `<F33>` instead of `<C-F9>`.

[2016-06-03 15:25] justinmk commented on #4862
That indicates that this is a terminfo issue.

In tmux too?

[2016-06-03 15:36] leomao commented on #4862
No.
In tmux, it will be `<C-F9>` correctly.

BTW, I have `setw -g xterm-keys on` in my `.tmux.conf`.

[2016-06-03 16:10] gngshn commented on #4866
This is the result of the output of :verb nmap % after doing nvim -u NORC
[code]

[2016-06-03 16:34] mhinz commented on #4866
There you go, the matchit plugin, which overwrites `%` and gets loaded by default, doesn't do what you want.

If you don't want Neovim to load matchit, put `let loaded_matchit = 1` in your config.

[2016-06-03 16:50] justinmk commented on #4866
Please file against vim/vim or contact the maintainer of matchit.

[2016-06-03 16:50] #4866 closed

[2016-06-03 18:24] edrpls commented on #3115
I have a similar problem when resizing the terminal, I'm using:

NVIM 0.1.4, on iTerm2, Build 3.0.0

[2016-06-03 21:16] james2doyle commented on #1408
You can use ligatures in [rogual/neovim-dot-app](https://github.com/rogual/neovim-dot-app) right now actually.

![screen shot 2016-06-03 at 2 15 43 pm](https://cloud.githubusercontent.com/assets/1425304/15792958/b572e064-2995-11e6-926d-bf896208b846.png)

Looks hot!

[2016-06-03 23:15] blueyed commented on #4867
JFI: I did not notice this myself probably because I set the cursor shape in my shell itself: block when executing a command, and bar when coming back.

[2016-06-04 00:50] jszakmeister commented on #4867
I assume this is because NVIM_TUI_ENABLE_CURSOR_SHAPE is enabled, and the cursor shape feature assumes you're default terminal cursor is a block cursor.  Unfortunately, there isn't a way to query the terminal about the current cursor shape, which makes it impossible to restore correctly. :-(  So, if you don't like the behavior, the only real choice right now is to not enable NVIM_TUI_ENABLE_CURSOR

[2016-06-04 07:45] wsdjeg commented on #4719
@bfredl @justinmk I just test with `xclip`, it works well, so I switch to using xclip. and this issue is because xsel only can deal with less than 40000 chars.

so clossing.

[2016-06-04 10:19] awaiters commented on #3432
Same issue here with `xterm-256color`. If you're not thinking about adding `t_ti` and `t_te` options, I think `neovim` should at least _respect_ terminal settings in which I have removed `rmcup` and `smcup` just so to disable the feature.

In my case, `neovim` picks up terminal settings if I use `tmux` and set alternate-screen option OFF in `.tmux.conf`.

`less` does pickup my terminal settings. B

[2016-06-04 16:38] killtheliterate commented on #4810
May be writing too soon, but I was seeing this happen *every time* I opened a split. I just removed `set autochdir` from my `init.vim` for an unrelated reason, and `netrw` seems to be behaving again. Fingers crossed.

[2016-06-04 18:51] tecfu opened #4876 "No instructions for .vimrc in install docs"
There are no instructions pertaining to ***.vimrc*** on the [install page](https://github.com/neovim/neovim/wiki/Installing-Neovim).

Does neovim use a .vimrc? Is it called something else? Does it have any syntax changes? Will vim-based plugin managers like Vundle and Neobundle work with Neovim? Where is this documentation?

A how-to (or at least a link to a how-to) that explains the correct name

[2016-06-04 18:53] justinmk commented on #4876
It's in the user manual.

[2016-06-04 18:55] justinmk commented on #4876
I think we should automatically create init.vim if ran without arguments.

[2016-06-04 19:03] tecfu commented on #4876
While I see that the manual is available online, I don't think there's any compelling reason to exclude this information from the docs on github.

Its unnecessarily burdensome for a new user to have to consult the manual for this information, its unlikely to be the first place people look, and the 'manual' documentation online is formatted for a terminal and far less accessible than it could be.

[2016-06-04 19:30] tecfu commented on #4876
Reading through the [manual](https://neovim.io/doc/user/starting.html) under the section vimrc, there's no discussion on renaming .vimrc => .nvimrc or anything of the like.

[2016-06-04 20:34] KillTheMule commented on #4876
It's [here](https://neovim.io/doc/user/starting.html#initialization), also linked [here](https://neovim.io/doc/user/starting.html#$VIM), although the link in the latter does not work.

If you have a good idea, I think too that it could use a bit more exposure in the docs.

[2016-06-04 21:06] justinmk commented on #4876
It's right beneath FAQ on https://github.com/neovim/neovim/wiki

I suppose adding that link to FAQ and Install page isn't bad idea.

[2016-06-05 01:37] duganchen commented on #4128
I just searched the issue tracker. There were no previous issues relevant to this, as far as I can tell.

[2016-06-05 02:06] justinmk commented on #4128
Need more info than "cannot expand ultisnips".

[2016-06-05 02:10] duganchen commented on #4128
It's obvious that this issue is the same one logged on UltiSnip's tracker, where the response was "I can't support neovim".

https://github.com/SirVer/ultisnips/issues/512#issuecomment-221703009

Oh well...

Can you be more specific about what more info you need?

[2016-06-05 02:28] carlitux commented on #4128
I am using ultisnips and I can expand with this setup...

[code]

Now maybe the issue is on expand or jump... but you can split on many key maps

[2016-06-05 03:47] justinmk commented on #4128
That's useful information. I left a comment there.

[2016-06-05 03:57] justinmk commented on #4128
@dougcoates @duganchen Is python working? (`echo has('python')` should return 1). Did you try the steps in https://github.com/neovim/neovim/wiki/FAQ#python-support-isnt-working ?

[2016-06-05 04:03] duganchen commented on #4128
I just posted this update on the UltiSnips ticket. I'm going to reproduce it here.

While I cannot speak for @dougcoates, I just did a test with neovim 0.14 and init.vim that contains only the following:

    syntax on
    call plug#begin('~/.config/nvim/plugged')
    Plug 'SirVer/ultisnips'
    call plug#end()

And that did actually work for me.

@dougcoates, can you confirm?

[2016-06-05 04:07] justinmk commented on #4128
- It should work even without `syntax on` since Neovim does that by default. (Might be worth confirming that it still works in that case)
- If you can narrow down the plugin or setting that causes the problem, that will help a lot.

[2016-06-05 04:20] justinmk commented on #4876
Added more pointers on the wiki:

- https://github.com/neovim/neovim/wiki/Installing-Neovim
- https://github.com/neovim/neovim/wiki/FAQ#where-should-i-put-my-config-vimrc

[2016-06-05 04:20] #4876 closed

[2016-06-05 04:22] justinmk opened #4877 "extend :checkhealth to migrate vimrc"
If running interactively, we should:
- ~~create an init.vim automatically~~
- check if `~/.vimrc` exists and offer to import it (or link to it? one or the other, not both--keep it simple)

[2016-06-05 04:49] duganchen commented on #4128
I just tried the following. I restored my usual init.vim, erased ~/.vim/plugged (I use vim-plug, which I'd last updated yesterday), and then reinstalled the entire set with :PlugInstall. UltiSnips started working then.

Whatever plugin was causing the problem, I don't think I can be of any more help in finding it.

[2016-06-05 05:04] tecfu commented on #4876
Awesome. Thanks.

[2016-06-05 06:23] wsdjeg commented on #4877
@justinmk I think it is nice feature, but all the situation should be considered.for me
both` ~/.vim` and `~/.config/nvim` are linked to `~/Dotfiles/config/nvim`, and in `~/Dotfiles/config/nvim` I have two files `init.vim` and `vimrc`.
that means I do not use `~/.vimrc`,just use `~/.vim/vimrc` instead.

[2016-06-05 22:58] taecilla commented on #4867
I know which is the terminal cursor shape. Can I set it back to vertical bar on VimLeave?

[2016-06-05 23:41] jszakmeister commented on #4867
@taecilla I honestly don't know.  I'd say give it a try and see.  I think the terminal clean up is one of the last things to happen though, so I wouldn't be surprised if it fails.

[2016-06-06 03:56] sbdchd opened #4882 "Segmentation Fault with Terminal Switch & Certain Plugins"
- `nvim --version`:
[code]
- Operating system/version: OSX
- Terminal name/version: iTerm2
- `$TERM`: xterm-256color

### Actual behavior
`Segmentation fault: 11` when switching away from terminal window or closing neovim
### Expected behavior
No segmentation fault

`test.vimrc`
[code]
### Steps to reproduce using `nvim -u test.vimrc`

1. Split window with either `<Ctrl-v>` or `<Ctrl-s>`
2. Open t

[2016-06-06 09:31] BlackEdder opened #4883 "When opening multiple instances they all have the same working directory"
- `nvim --version`: NVIM 0.1.5-dev
- Vim (version: ) behaves differently?
Yes, each instance has the working directory of where it was opened
- Operating system/version:
Ubuntu (MATE) 14.04
- Terminal name/version: terminology
- `$TERM`: screen-256color

### Actual behaviour

Opening multiple nvim instances (from different locations) will all have the same working directory set

### Expected behav

[2016-06-06 09:48] BlackEdder commented on #4883
I thought nvim-qt was working as expected, but after opening a new file with :e the working directory was suddenly changed to another value.

[2016-06-06 10:33] KillTheMule commented on #4883
Are you sure you do not have `set autochdir` in your init.vim?

[2016-06-06 10:41] BlackEdder commented on #4883
autochdir is not in my init.vim.

My workflow is always that I go to the root dir of a project and then open nvim/vim there. This allows me to open files relative to the root dir. i.e.:

[code]

autochdir would then change the directory to source/, but that does not happen (and I'd hate that behaviour :) )

[2016-06-06 10:51] mikeys opened #4884 "redraw: nvim 'disappears' on tmux split"
- `nvim --version`: NVIM 0.1.4
- Vim (version: 7.3) behaves differently? Yes, the same bug doesn't occur in vim 7.3
- Operating system/version: OSX 10.11.3 (El Capitan)
- Terminal name/version: oh-my-zsh (zsh 5.0.8) + tmux 2.2
- `$TERM`: screen-256color
### Actual behaviour

As can be seen in the animated gif below, when I split the active nvim pane, nvim disappears completely.
It shows up again e

[2016-06-06 12:55] justinmk commented on #4884
If you focus back and press CTRL-L, it should "re-appear". It's a known redraw bug.

[2016-06-06 12:57] justinmk commented on #4883
Are they all connecting to the same NVIM_LISTEN_ADDRESS?

I can't reproduce this, it would be quite a noticeable bug...

[2016-06-06 12:58] mikeys commented on #4884
@justinmk thanks for the answer. It actually re-appears even without pressing CTRL-L, when focusing backing. Was just wondering if there's a solution for this bug at the moment.

[2016-06-06 13:04] BlackEdder commented on #4883
I haven't changed the NVIM_LISTEN_ADDRESS, so it uses the default behaviour.

I am using fish shell, so maybe the way the NVIM_LISTEN_ADDRESS is set in the front end does not work with fish?

[2016-06-06 13:22] justinmk commented on #4883
Can you provide more details. _Which_ directory do they always have? If you shutdown all instances, and start from a new directory, say `/home/foo/bar/baz` (something that is not a home directory nor root), you're saying every instance thereafter uses that same directory?

I see you deleted the `nvim -u NORC` part from the issue template... but that's important: we need to be sure plugins aren't g

[2016-06-06 13:55] BlackEdder commented on #4883
I seem to be unable to reproduce this at the moment.

I tend to not shut down my machine (just suspend) and always have multiple nvim instances open (one per project (different projects have different virtual desktops)). And this has been happening "randomly" on and off over the last couple of months.

Thinking about it it might well happen every time after I updated neovim, without restarting all

[2016-06-06 13:55] #4883 closed

[2016-06-06 14:02] justinmk commented on #4883
No problem, thanks for followup.

[2016-06-06 16:43] skattyadz commented on #3461
Can confirm @mong8se's findings

[2016-06-06 16:55] ZyX-I commented on #3461
You have outdated Neovim: NVIM_TUI_ENABLE_TRUE_COLOR was removed in master, after my guicolors patch was merged in Vim (and thus Vim received a setting which could be used in Neovim in place of NVIM_TUI_ENABLE_TRUE_COLOR). Though I am not sure whether anybody fixed this.

[2016-06-06 17:01] skattyadz commented on #3461
Thanks for the info.
I've updated to HEAD and can confirm that having `set termguicolors` also disables italic text

[2016-06-06 17:57] mnosefish opened #4886 "add serverlisten() function"
From  my post at /r/neovim:

My understanding is the addition of a `serverlisten()` function would allow this to be specified within init.vim, obviating the need for custom shortcuts or any such thing.

[2016-06-06 18:40] FuzzOli87 commented on #3875
Started using Terminix recently and it's showing the same issues.

[2016-06-06 18:55] timtadh commented on #3310
I can confirm that I have been experiencing this bug as well.

[2016-06-06 19:02] justinmk commented on #3310
If only a PR could be created with the patch given above ;)

[2016-06-06 19:07] mhinz commented on #4886
What is the actual problem and how is `serverlisten()` supposed to solve it?

[2016-06-06 19:07] jamessan commented on #3310
@timtadh What version are you using?  There was an upstream patch (7.4.857) that was supposed to solve this problem and didn't get merged until 0.1.3.

[2016-06-06 19:11] timtadh commented on #3310
I am using master but it was a few weeks old. I am trying this out now. Something, seems funky though so I am investigating.

[2016-06-06 19:12] timtadh commented on #3310
Things seem broken for me on master at the moment. I am trying regenerating the build from scratch.

[2016-06-06 19:13] justinmk commented on #4886
@mhinz The problem is that NVIM_LISTEN_ADDRESS cannot be set at runtime. So I suggested serverlisten().

[2016-06-06 19:19] timtadh commented on #3310
@jamessan on revision 4dcd19d9bc2417051ddbda177010ca8c0cb2cf73 which is tag v0.1.4 it is still broken and I can reproduce the issue. Applying the suggested fix from oni-link does indeed fix the problem. On master which is 999590b313ef32ca29c4ddba20c5b719730ee7ff there is strange behavior from the mouse in the terminal. For instance, if I open NerdTree I can't click on a directory to expand it as I

[2016-06-06 19:23] justinmk commented on #3310
The nerdtree issue might be lack of "release" event, pending PR exists.

[2016-06-06 19:26] timtadh commented on #3310
@justinmk If you know what PR that is I will apply it and test. If I can confirm that both issues are fixed I will create a PR for @oni-link 's patch.

[2016-06-06 19:29] jamessan commented on #3310
https://github.com/neovim/neovim/pull/4874

[2016-06-06 19:41] timtadh commented on #3310
#4874 Does not fix the mouse wierdness I was experiencing. I did not try re-applying the fix for this issue.

[2016-06-06 20:21] justinmk commented on #3310
@timtadh I'm confused. Are you saying oni-link's patch for this issue causes a different problem, or only that you have 2 problems and only 1 is fixed?

[2016-06-06 20:29] timtadh commented on #3310
@justinmk : I am saying that on the current master I have 2 bugs.

1. The bug in this thread. Also present in tag v0.1.4.
2. Another mouse bug present in master but not in tag v0.1.4.

@jamessan : indicated that #4874 fixed the 2nd problem I am experiencing (mouse clicks not being registered reliably in say NerdTree esp. double clicks). However, #4874 did not fix the issue when I applied it on top

[2016-06-06 21:23] apriendeau commented on #4754
This occurring for me as well in this verison.

[code]

[2016-06-06 21:33] apriendeau commented on #4754
I think my issue was introduced with this commit and is seperate from the above issue https://github.com/neovim/neovim/commit/8958863e2678fd038ae089f837fa46d19574f977

[2016-06-06 21:40] apriendeau opened #4887 "Double Click does not work in master"
- `nvim --version`: NVIM v0.1.5-386-g999590b
- VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Jun  6 2016 09:49:41)
- Operating system/version: OSX 10.11
- Terminal name/version: iterm2
- `$TERM`: xterm-256color

### Actual behaviour
Double click does not work after this release https://github.com/neovim/neovim/commit/8958863e2678fd038ae089f837fa46d19574f977

### Expected behaviour
Double click shou

[2016-06-06 22:08] justinmk commented on #4887
Thanks for bisecting. @sach1t would you be able to look at this?

[2016-06-07 05:08] justinmk commented on #4882
@sbdchd Thanks for the report. Can you post a backtrace? See https://github.com/neovim/neovim/wiki/Development-tips#backtrace-linux for instructions.

[2016-06-07 05:15] sach1t commented on #3310
Using the current code in master, I cannot seem to reproduce the bug. What oni-link said is correct, and the issue was fixed when adding the release event (pull request #4873) as `in_tab_line` then gets reset (line 2216 in normal.c).

[2016-06-07 05:22] sach1t commented on #3310
Also, pull request #4874 does include the code from #4873. So if applying that did not work... I am not sure what the issue is.

[2016-06-07 11:14] jalvesaq commented on #4450
It is working fine now!

[2016-06-07 11:14] #4450 closed

[2016-06-07 11:44] jalvesaq opened #4889 "mkdir() and writefile() expect different character encodings on Windows"
- `nvim --version`: 0.1.5-dev MINGW_64 (from https://ci.appveyor.com/project/equalsraf/neovim/branch/tb-mingw, build 926)
- Vim (version: ) behaves differently? No bug.
- Operating system/version: Windows 10
- Terminal name/version: Neovim-Qt
- `$TERM`: ""
### Actual behaviour

`writefile()` fails.
### Expected behaviour

`writefile()` should work in a directory with accented characters created by

[2016-06-07 13:21] timtadh commented on #3310
Tomorrow I will try and do a bisect and figure out what the issue is with
NerdTree. Real life is getting in the way of doing very much programming
today.

[2016-06-07 13:32] bnjmn commented on #3898
Thought I would share my experience for clarity since the op did not specify what issue/solution was. Thanks to @ZyX-I for pointing me in the right direction.

I had a similar issue using Ubuntu 16.04 and neovim 0.1.5-dev installed using the neovim-ppa. Turns out `~/.local/share/nvim/swap` was owned by `root`; all the other directories under `~/.local` were owned by my user. After updating the own

[2016-06-07 14:13] jamessan commented on #3898
This sounds like the same root cause as #4551.  If the first time the user runs nvim is via sudo (and sudo uses the user's `$HOME`), then the directory tree will be created as root.

I highly recommend using `sudoedit` or `sudo -e` instead of actually running the editor under sudo.

[2016-06-07 14:40] ZyX-I commented on #4889
What does `mkdir()` actually create? Also I see that in “if I manually create the directory …” directory name is spoiled, can you use ASCII-only (i.e. something like `n\u00F3` or `n\xC3\xB3`).

[2016-06-07 15:18] jalvesaq commented on #4889
Sorry, I forgot to say that `nÃ³` is how `nó` (UTF-8) is seen in an text editor that can only see Latin-1.
I am not on Windows now to test again with the escape codes, but the fact is that the second line of the code above does not work, and this is the bug.

The ASCII-only code of `nó` is `n\xC3\xB3` as @ZyX-I has typed.

[2016-06-07 16:03] sbdchd commented on #4882
Here is the backtrace:

[code]

[2016-06-07 16:39] nikitavoloboev opened #4891 "I can't edit my init.vim config because swap file in .local is created, how can I fix this?"
Every time I try to edit my init.vim of nevoim, I get this issue. I tried googling for it but couldn't resolve it. I also tried deleting nevim folder in .local/ but that did not fix it either, it just gets created again. What should I do? None of my programs are editing the file, is this some kind of bug? This is the error message I get :

![2016-06-07 at 18 37](https://cloud.githubusercontent.com

[2016-06-07 17:33] justinmk commented on #4810
Fixed by https://github.com/neovim/neovim/pull/4890

[2016-06-07 17:34] justinmk commented on #4775
Fixed by https://github.com/neovim/neovim/pull/4890

[2016-06-07 17:43] KillTheMule commented on #4891
You should really fill out that issue template

[2016-06-07 17:45] jamessan commented on #4891
[code]
You have another nvim instance editing your init.vim.  Neovim is behaving exactly like it's supposed to by telling you the file is already being edited.

[2016-06-07 17:48] nikitavoloboev commented on #4891
All right, thank you. I deleted the share folder again and it seems to be working well. It was quite strange to see that process there though.

[2016-06-07 17:49] #4891 closed

[2016-06-07 17:53] sach1t commented on #4887
Okay. I will take a look at it tonight.

[2016-06-07 20:25] ZyX-I commented on #4891
Neither Vim nor Neovim does not bother (and on some systems can’t) to check whether PID of the process belongs to the (Neo)Vim instance. So if swap file exists and it states it was created by PID 1, then (Neo)Vim will just check whether PID 1 exists and not whether it belongs to (Neo)Vim and not init. AFAIR this was briefly discussed in the Vim mailing list — me or somebody else suggested to check

[2016-06-07 21:36] equalsraf commented on #4889
Interesting, the call to mkdir seems ok in my system

- `call mkdir("nó")` creates `nó`
- bit try removing the slash and it succeeds `call writefile(["line 1"], "nócego")`, create a file named `nÃ³cego`

f_writefile uses mch_fopen, [which is a defined as fopen](https://github.com/neovim/neovim/blob/master/src/nvim/macros.h#L114), so in this case libuv is not handling it for us. I count \>40 uses o

[2016-06-08 06:11] wushuzh opened #4893 "Tutor section 4.2 search doc typo"
- `nvim --version`: 0.1.4
- Vim (version: ) behaves differently? NA
- Operating system/version: All
- Terminal name/version: NA
- `$TERM`: ""

### Actual behaviour
In Tutor, Lession 4.2 The SEARCH COMMAND line 474

       appear at the bottom of the screen as with the : command.

### Expected behaviour
type / will not lead to : command, the description is not correct/accurate.

### Steps to reprod

[2016-06-08 06:43] KillTheMule commented on #4893
The description is accurate, you missed that part:

[2016-06-08 07:13] wushuzh commented on #4893
OK, I feel it a bit misleading: Maybe I am wrong, English is not my first language.

Thanks for the quick response.

[2016-06-08 07:13] #4893 closed

[2016-06-08 07:51] khalidchawtany opened #4895 "Neovim terminal "bug""
- `nvim --version`: `NVIM v0.1.5-385-g999590b`
- Operating system/version: OS X /  10.11.5
- Terminal name/version: iTerm2 / Build 3.0.20160607-nightly
- `$TERM`: xterm-256color
- Actual behaviour:
`execute "normal! gt"` have no effect when run from a terminal, if a terminal is active.
- Expected behaviour:
`execute "normal! gt"`  should switch tabs

### Steps to reproduce using `nvim -u minimal_v

[2016-06-08 08:31] xiongmao86 opened #4896 "Failed to build on mac os x(El Capitan)"
I try to build the nvim on os x and failed with config.log showing stdio.h not found. When I build jemalloc myself, it turns out OK.

I checked the different config.log, the problem is the CMake set the DEPS_C_COMPILER as **"/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/cc"** and this compiler **doesn't find** stdio.h but **"gcc"** **does**.

I checked the

[2016-06-08 09:15] jszakmeister commented on #4896
I think you're going to have to show more information here.  FWIW, myself and others build on OS X El Capitan all the time, and it's installable via Homebrew with little issues.  So it seems like something in your environment is the root cause.

[2016-06-08 11:23] xiongmao86 commented on #4896
Well, when I "make" at root, the config.log says can't find stdio.h, but autoconf and configure the checking for gcc found gcc. So either Externalproject_Add is not run in your case, or something with environment is wrong, or bother. So what can we do now? How to rule out the impossible situation?

[2016-06-08 12:02] mhinz commented on #4896
- When you say `gcc` do actually mean `gcc` or `clang` in disguise? How did you install gcc?
- Please paste the full output of `cc -v` and `gcc -v`.

[2016-06-08 13:17] xiongmao86 commented on #4896
It's clang in disguise, I don't know when I installed it, might be installed by xcode in the posts I searched.

gcc -v:
`
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk/usr/include/c++/4.2.1
Apple LLVM version 7.3.0 (clang-703.0.31)
Target: x86_64-app

[2016-06-08 13:22] xiongmao86 commented on #4896
conftest.c:
`/* end confdefs.h.  */
#include <stdio.h>
int
main ()
{
    FILE *f = fopen ("conftest.out", "w");
    return ferror (f) || fclose (f) != 0;

  ;
  return 0;
}
`

cc -v -o conftest conftest.c
`Apple LLVM version 7.3.0 (clang-703.0.31)
Target: x86_64-apple-darwin15.5.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/ToolChains/XcodeDefault.xctoolchain/usr/b

[2016-06-08 13:34] khalidchawtany commented on #4895
If I change the
[code]

to

[code]

Everything works as expected.

[2016-06-08 13:43] khalidchawtany commented on #4895
The following works if the timers interval is not very small. However, if the interval is very small, I get `can't re-enter normal mode from terminal mode.` error message.
This is strange as the *minimal_vimrc.vim* provided in the first post does not produce any error messages.

[code]

[2016-06-08 13:57] mhinz commented on #4896
Try `xcode-select --install` and follow the instructions. My guess is that you don't even have a `/usr/include` directory which comes with the Xcode developer tools.

[2016-06-08 16:49] dphase commented on #1822
Has anyone come up with a workaround for this on OS X?

[2016-06-08 22:42] eugen0329 opened #4897 "Job control truncates command output"
Hello! I develop a [plugin](https://github.com/eugen0329/vim-esearch) which relies on neovim's job control feature and it seems there's a problem with simple command output gathering.

- `nvim --version`:
NVIM 0.1.5-dev
Build type: RelWithDebInfo
Compilation: /usr/bin/x86_64-linux-gnu-gcc -g -O2 -fstack-protector-strong -Wformat -Werror=format-security -Wconversion -U_FORTIFY_SOURCE -D_FORTIFY_SOU

[2016-06-08 22:49] ZyX-I commented on #4897
let str = a:data
    …
    call append(line('$'), str)

This is not a valid way to get a list of lines. First item in `a:data` *continues* last item in the previous `a:data`. You must not do `append()` on the line until it is finished (i.e. `on_exit` is called or `a:data` has the previous line). And this is the expected behaviour.

[2016-06-08 22:53] ZyX-I commented on #4897
It is also good to *show* what is actual behaviour. I know what you are supposed to use to join the results, but I cannot say whether you are actually seeing “truncation” and not “splitting”, I see “splitting”.

[2016-06-08 23:05] eugen0329 commented on #4897
Oh... I have a little incorrectly formulated. Of course they will differ in lines count because of the fact that the data portion will not terminates in the same place  where the line ends. Despite this, expect to receive last two lines like
[code]
or such, but instead we have
[code]
In this case the algorithm of lines appending is not important since it is the last line.

[2016-06-08 23:51] bedge opened #4898 "Cursor shape not reflecting normal/insert mode changes state in tmux"
- `nvim --version`:

- Vim (version: ) behaves differently? - yes

vim does not have the problem asn works as expected.

- Operating system/version:

- Terminal name/version:
iterm2 3.0.0

- `$TERM`:
screen-256color

### Actual behaviour
When running under tmux, changing from normal mode to insert mode does not change the cursor shape.
I am using NVIM_TUI_ENABLE_CURSOR_SHAPE=1

### Expected behavi

[2016-06-09 00:06] bedge commented on #4898
Adding this to my .tmux.conf does fix it:

However it'd be great if I didn't have to search through resloved PRs to find this https://github.com/neovim/neovim/pull/3165

Can a tmux section be added to the install docs?

[2016-06-09 00:14] bedge commented on #4898
Closing as I have a fix. Hopefully this is easier to find than https://github.com/neovim/neovim/pull/3165

[2016-06-09 00:14] #4898 closed

[2016-06-09 01:29] justinmk commented on #4898
@bedge Thanks for followup. Added to FAQ: https://github.com/neovim/neovim/wiki/FAQ#cursor-shape-doesnt-change-in-tmux

[2016-06-09 02:44] jamessan opened #4900 "Tests which access the X selections hang if something is asserting ownership"
- `nvim --version`: HEAD
- Vim (version: NA) behaves differently?
- Operating system/version: Debian sid
### Actual behaviour

If a program is currently asserting ownership of an X selection used by a test, the test will hang due to xsel/xclip not exiting.
### Expected behaviour

The test completes successfully, regardless of whether the selection is asserted when the test runs.
### Steps to repro

[2016-06-09 08:33] rr- opened #4901 "(Feature request) Hex editor, or an ability to write a plugin for it"
I am looking for alternatives to creating [hexvi](https://github.com/rr-/hexvi) which is somewhat huge task for one person, esp. that 90% of the tasks reiterate what has been done in Vim: searching, buffers, tabs, undo, command parsing, hotkey parsing, yadda yadda....

I know of `xxd` trick but it's worthless, as you can't search, view integers, jump to nth byte, do anything actually except for un

[2016-06-09 09:10] bfredl commented on #4900
IMO the tests should not change the user clipboards at all (no "save, change and then restore" does not work in general), unless maybe some env flag that could be set in travis and qb where we have control over it.
One can easily switch to a "fake" private clipboard in lua tests using
 `execute('let &rtp = "test/functional/fixtures,".&rtp')`
right after `clear()`.

[2016-06-09 09:57] gmatht opened #4902 "Terminal Can't Scroll Shell (i.e. `!`) Output"
- `nvim --version`: NVIM 0.1.5-dev Build type: RelWithDebInfo Compilation: /usr/bin/x86_64-linux-gnu-gcc -g -O2 -fstack-protector-strong -Wformat -Werror=format-security -Wconversion -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=1 -O2 -g -DDISABLE_LOG -Wall -Wextra -pedantic -Wno-unused-parameter -Wstrict-prototypes -std=gnu99 -Wvla -fstack-protector-strong -fdiagnostics-color=auto -DINCLUDE_GENERATED_DECLA

[2016-06-09 11:27] jamessan commented on #4900
At least one of those tests is explicitly testing handling of child processes with a specific behavior (exhibited by xclip).  Maybe a simple test program that exhibits the same behavior would be a better solution there.

[2016-06-09 12:20] xiongmao86 commented on #4896
Oh, you are right. That's my problem. Sorry for the inconvenient.

[2016-06-09 12:20] #4896 closed

[2016-06-09 15:05] justinmk commented on #4901
https://github.com/neovim/neovim/issues/4386

[2016-06-09 20:30] jakemask opened #4904 "Build: fetching dependencies fails behind proxy (despite `https_proxy` env)"
- Operating system/version: CentOS

despite the fact that `https_proxy` is set, cmake complains that ssl is not enabled in libcurl.

[code]

Doing an `env https_proxy=fwdproxy:8080 curl https://github.com/neovim/deps/raw/master/opt/LuaJIT-2.0.4.tar.gz` works fine, so curl clearly supports ssl, and the proxy is working.

[2016-06-09 20:44] fwalch commented on #4904
Seems like your CMake doesn't have HTTPS support (see #1469). Closing for now; if that doesn't solve it, just let us know :-)

[2016-06-09 20:44] #4904 closed

[2016-06-09 21:45] jakemask commented on #4904
A different error is at least progress:

[code]

Built my own cmake with ssl support, which it appears to be using now, but still having issues connecting to the proxy. I confirmed that the proxy is up and working via curl/wget etc and the http[s]_proxy env vars.

[2016-06-09 22:45] jakemask commented on #4904
Hrm. My best guess at this point is that cmake/curl is defaulting to ipv4 instead of ipv6 to download these dependencies, and this particular box is ipv6 only.

[2016-06-09 23:03] lluixhi commented on #4664
Bumping this because I still have the same bug with current master, and it's still fixable by reverting that commit.

[2016-06-09 23:08] jakemask commented on #4904
For now it appears modifying `DownloadAndExtractFile.cmake` at line 65 or so to `execute_process(COMMAND wget ...` instead of `file(DOWNLOAD...` is a workaround that appears to be working.

[2016-06-10 00:57] jamessan commented on #4904
Are you sure cmake and curl are linked against the same libcurl?  Does libcurl have ipv6 support enabled?

[2016-06-10 01:34] jakemask commented on #4904
Both my system libcurl (from yum) and the one I built earlier when I thought curl was the problem have ipv6 enabled.

[2016-06-10 09:49] sassanh opened #4905 "Automatic history merge between multiple instances"
- `nvim --version`: NVIM 0.1.4
- Vim (version: ) behaves differently?
- Operating system/version: OS X - El Capitan
- Terminal name/version: Iterm2
- `$TERM`: xterm-256color

### Actual behaviour
History is not merged "automatically" between nvim instances.

### Expected behaviour
History getting merged automatically between nvim instances.

### Steps to reproduce using `nvim -u NORC`

Run 2 nvim

[2016-06-10 12:38] whdxwym opened #4906 "jemalloc download issue"
I pull the latest master banch, and I cannot download jemalloc-4.0.2 while doing make (maybe my network problem). even though i download the package myself,  put it in the neovim/.deps/build/downloads/jemalloc directory, and do make again, it will rewrite the package and download failed again.

[2016-06-10 13:09] jamessan commented on #4905
No where is it claimed that the ShaDa file is merged in realtime.  [:help shada-merging] states

information in the existing ShaDa file is merged with information from current
Neovim instance.

If you want the merging to happen automatically during an nvim session, you'll need to setup an autocmd to do so.  Something like

[code]

[:help shada-merging]: https://neovim.io/doc/user/starting.html#sha

[2016-06-10 14:15] mhinz commented on #4905
Or even `FocusGained` and `FocusLost` instead of `CursorHold`, if your terminal emulator supports it.

(Personally I prefer the non-shared history, because I usually use two different processes on purpose.)

[2016-06-10 14:42] #4905 closed

[2016-06-10 14:47] justinmk commented on #4905
Here's what I use:

    augroup nvimrc_aucmd
      autocmd!
      " https://github.com/neovim/neovim/issues/3463#issuecomment-148757691
      autocmd CursorHold,FocusGained,FocusLost * rshada|wshada
    augroup END

https://github.com/justinmk/config/blob/bb1469f870f0a9a8613802513ff5acdf1e1e19fe/.vimrc#L270-L274

[2016-06-10 15:23] mhinz commented on #4906
I can see why cmake tries downloading it again and this can be fixed easily.

As to your network troubles.. could be anything without more information. :)

[2016-06-10 15:25] jamessan commented on #4906
The [`USE_EXISTING_SRC`](https://github.com/neovim/neovim/blob/master/third-party/CMakeLists.txt#L29) variable controls whether to use pre-downloaded dependencies or not.

[2016-06-10 16:40] sassanh commented on #4905
Thanks for the info guys, the problem is in the README.md of the project it's written under "What's been done so far" section: "Automatic history merge between multiple editor instances", I guess we should replace "automatic" with "ability to". @jamessan

I don't know if I prefer the shared history or not. I should try it.

[2016-06-10 17:00] dumblob commented on #4386
Which of the following behaviors is actually expected?

1. `wrapwidth=80` wraps at 80. character even though the window is e.g. only 50 characters wide
1. `wrapwidth=80` wraps at 80. character only if the window is wider than 80 characters (if the windows is narrower than 80, then the behavior is the same as the current `set wrap`)

[2016-06-10 18:25] wreed4 opened #4907 "YcmCompleter FixIt crashes with NvimError: Index out of bounds in Nvim 0.1.4"
- `nvim --version`:NVIM 0.1.4
Build type: RelWithDebInfo
Compilation: /home/user/wreed/.linuxbrew/bin/gcc-5 -Os -w -pipe -march=native -Wconversion -O2 -g -DDISABLE_LOG -Wall -Wextra -pedantic -Wno-unused-parameter -Wstrict-prototypes -std=gnu99 -Wvla -fstack-protector-strong -fdiagnostics-color=auto -DINCLUDE_GENERATED_DECLARATIONS -DHAVE_CONFIG_H -D_GNU_SOURCE -I/tmp/neovim-20160609-34338-fhv7mf

[2016-06-10 18:38] jamessan commented on #4907
According to tarruda's [comment] in the YCM issue, this is a bug in [python-client].  Looking at the commit history there, this should have been fixed by neovim/python-client#209.

[comment]: https://github.com/Valloric/YouCompleteMe/issues/2018#issuecomment-193816539
[python-client]: https://github.com/neovim/python-client

[2016-06-10 18:38] #4907 closed

[2016-06-10 18:46] bfredl commented on #4907
It is on python client master but released yet. I will make a release now in the weekend.

[2016-06-11 02:04] LandonSchropp commented on #4386
My vote would be for the second behavior. That's the way other editors, such as Atom, behave. Plus, it makes things easier when working with split windows.

[2016-06-11 17:03] justinmk commented on #4900
Here is a snippet: https://github.com/neovim/neovim/pull/4798#issuecomment-224085907

[2016-06-11 18:12] jamessan commented on #4900
I'm not sure the sleep is as relevant for this scenario is just having the child process not explicitly close its stdout/stderr handles.

[2016-06-11 21:28] pdoak opened #4910 "Colours have changed in 0.1.5"
- `nvim --version`:0.1.5-dev
- Vim (version: ) behaves differently?
- Operating system/version: OSX 10.11.5
- Terminal name/version:iTerm Build 3.0.20160606-nightly
- `$TERM`:

### Actual behaviour

After upgrading to 0.1.5 from 0.1.4, the colours have changed using the same colour scheme `oceanic next`. In particular:

1. the background in no longer black
2. the text is no longer white
3. the spe

[2016-06-11 21:51] justinmk commented on #4910
are you using true color?

[2016-06-11 22:55] akavel commented on #3100
Also have this issue, in NixOS.

- in Alt-F1 etc. consoles, with TERM=linux, Ctrl-Z doesn't work. (It works correctly with the same neovim in xterm in Alt-F7 graphical console, where TERM=xterm.)
- when I run `:suspend` or `:stop`, they execute successfully and throw me to shell, where `fg` restores nvim;
- in insert mode, nothing seems to happen on Ctrl-Z either; even if I do Ctrl-V, pressing Ctr

[2016-06-11 23:17] ZyX-I commented on #3100
@akavel Ctrl-Z was not ever supposed to be converted to SIGTSTP, Vim and, after it, Neovim was always supposed to handle keys in order (which is especially relevant given that `<C-z>` meaning depends on mode in which it is used, and this meaning is not necessary “suspend Neovim”), so `<C-z>` is not supposed to be handled up until previous input was handled, which is much easier to do if you are no

[2016-06-12 00:06] akavel commented on #3100
The PR I sent above seems to fix it for me, and still work in xterm.

[2016-06-12 04:56] #3100 closed

[2016-06-12 07:42] pdoak commented on #4910
Yes, this is in my init.vim

`let $NVIM_TUI_ENABLE_TRUE_COLOR=1`

[2016-06-12 07:51] fmoralesc commented on #4910
You have to use `set termguicolors` now. See https://github.com/neovim/neovim/wiki/Following-HEAD#20160511

[2016-06-12 08:13] CallumHoward commented on #4295
I have a similar workflow using [https://github.com/kshenoy/vim-signature](https://github.com/kshenoy/vim-signature).
Regardless of the implications of a solution, I believe not being able to delete local marks is a valid issue, and would be surprised if this not common to many users workflows. I too would like to see the Vim behaviour restored. Please consider reopening the issue.

[2016-06-12 09:17] pdoak commented on #4910
That worked. Thank you. I will make a note to check the changes next time.

[2016-06-12 09:34] KillTheMule commented on #4295
Note the [comment](https://github.com/neovim/neovim/issues/4295#issuecomment-195795070) above, there's a difference in vim's behavior between global and local marks.

[2016-06-12 11:57] mhinz commented on #4906
`USE_EXISTING_SRC_DIR` doesn't help here, since it only checks if there are unpacked sources in `.deps/build/src`, but not for already downloaded sources in `.deps/build/downloads`. It's one step too late, so to say.

It's easy to fix, but do you prefer adding `USE_EXISTING_DOWNLOADS_DIR` or making `USE_EXISTING_SRC_DIR` also check the downloads dir?

The best solution for would be having one vari

[2016-06-12 12:18] rr- commented on #4386
To me, the first option sounds better. If I want to wrap at specific column, it shouldn't do any further magic. With scripts, I can implement option 2 while having option 1, but I cannot do the opposite.

[2016-06-12 17:17] justinmk commented on #4295
See also https://github.com/neovim/neovim/issues/4288#issuecomment-186076052

[2016-06-12 17:18] #4910 closed

[2016-06-12 18:22] themightyoarfish opened #4912 "Compilation fails when path contains space"
- Operating system/version: OSX 10.10.5
- Terminal name/version: iTerm 2.9
- `$TERM`: xterm-256color

### Actual behaviour
[code]

When building dependencies, cmake fails with
[code]
### Expected behaviour
Compilation proceeds

[2016-06-12 18:35] dragon788 commented on #4533
Was having the same issue with lines ~ 141 and 143 on the Tutor. Additional behavior mine exhibited was when I pressed 'a' to append (I've used vim before so wasn't reading to use 'A'), it pulled in ```{expect:There is some test missing from this line.}``` and I had to actually delete that text in order to get it to pass, same with the second line. I also noticed the same behavior described above

[2016-06-12 18:44] jamessan commented on #4912
Duplicate of #4621, also filed by you. :)

[2016-06-12 18:44] #4912 closed

[2016-06-12 18:47] dragon788 opened #4913 "Tutor: [d]elete[$] (Lesson 2.2) No confirmation/checkmark"
- `nvim --version`:  0.1.5-dev
- Vim (version: ) behaves differently?
- Operating system/version: Ubuntu 16.04
- Terminal name/version: Gnome Terminal
- `$TERM`: xterm-256color
### Actual behaviour

Line 231 has a right arrow indicating there is "work to be done" to correct the line.
There is no X to indicate when the task is failing, if you delete after the period it does show the checkmark.
###

[2016-06-12 18:49] jamessan commented on #4906
Sure, we don't have anything to look in the downloads directory, but unpacking into the src directory and using USE_EXISTING_SRC_DIR allows one to build.

Do we need extra variables or just better documentation?

[2016-06-12 19:00] bfredl commented on #4907
python module version 0.1.9 released with the fix.

[2016-06-12 19:29] brcolow commented on #4913
Ping @fmoralesc

[2016-06-12 22:12] themightyoarfish commented on #4912
Whoops, how silly. I thought i had reported this for some other project.

[2016-06-13 01:53] CallumHoward commented on #4295
After experimenting I now see the discrepancy with local and global marks in Vim. I tend not to use global marks, and so never noticed before.
That being said, intuitively and according to the documentation :delmarks should delete a mark, and I would expect it to remain deleted. The average user may not know about the intricacies of ShaDa, and shouldn't have to learn it to find why :delm doesn't w

[2016-06-13 02:07] justinmk commented on #4295
Instead of tracking deleted marks, `:delmark` should broadcast an event to other running nvim instances. We've discussed this "p2p" functionality before, and it will be useful for many other things. It may be awhile before we come up with a design, though I have some ideas.

[2016-06-13 08:02] fmoralesc commented on #4913
I'll try to give some time to this later this week, once I finish the last paper for this semester... ;)

[2016-06-13 10:53] mhinz commented on #4906
I'd go for better documentation. It's actually cmake ([ExternalProject_Add](https://github.com/neovim/neovim/blob/master/third-party/cmake/BuildJeMalloc.cmake#L6-L22)) itself, that does the re-downloading. Only afterwards [DownloadAndExtractFile.cmake](https://github.com/neovim/neovim/blob/master/third-party/cmake/BuildJeMalloc.cmake#L17) is executed. So changing this behaviour is not _that_ easy.

[2016-06-13 11:25] themightyoarfish commented on #2258
On my system, a fresh install of neovim and the python package leads to this error still, unless I start it with `-u NONE`. None of the solutions here apply or work for me.
OSX 10.10.5, current master, python 2.7

[2016-06-13 11:47] themightyoarfish commented on #1415
@justinmk Your link does not contain an Uninstall section (anymore).

[2016-06-13 13:56] justinmk commented on #1415
Someone removed it ><

[2016-06-13 17:01] oni-link commented on #4897
@eugen0329, does #4646 help with the missing output?

[2016-06-13 17:26] sach1t commented on #4887
Sorry for taking so long to get back to this. I found where the code that determines the multi-clicks is and I am just in the process of finding the cause of the issue. The only thing I need now is some free time :)

[2016-06-14 01:05] jorgicio commented on #2364
This issue is still not fixed, and as mentioned in a comment above, disabling jemalloc did the trick.

[2016-06-14 01:42] pieterkockx opened #4916 "failed assert 'new_col >= 0'"
- `nvim --version`: 0.1.4
- Vim (version:7.4 ) behaves differently? yes
- Operating system/version:ARCH 4.6
- Terminal name/version: tty
- `$TERM`: linux

### Actual behaviour
failed assert 'new_col >= 0' in ui_cursor_left(), ui.c:461

### Expected behaviour
print empty line

### Steps to reproduce using `nvim -u NORC`

nvim -u NORC
:!echo ^H
_^H is a (backspace) character generated using CTRL-V C

[2016-06-14 06:48] fundon opened #4917 "nvim is slowly in tmux"
- `nvim --version`: 0.1.4
- Operating system/version: Mac OS
- Terminal name/version: fish 2.3.0
- `$TERM`:  screen-256color

### Actual behaviour

When open nvim in tmux, nvim is very slowly, and when trigger Esc, need some times.

[code]

### Expected behaviour

Out side the tmux

[code]

[2016-06-14 07:38] sirex opened #4918 "VOoM does not work with Neovim"
- `nvim --version`:

[code]

- Vim (version: ) behaves differently?

[VOoM](https://github.com/vim-voom/VOoM) plugin work perfectly with Vim.

[code]

- Operating system/version:

Ubuntu 14.04.4 LTS.

- Terminal name/version:

gnome-terminal 3.12.3-0ubuntu1~trusty1

- `$TERM`:

[code]

### Actual behaviour

When I open a README.rst file and run `:Voom rest`, it does nothing, no errors, no outline

[2016-06-14 08:05] fwalch commented on #4917
Did you see https://github.com/neovim/neovim/wiki/FAQ#esc-in-tmux-or-gnu-screen-is-delayed?

[2016-06-14 09:43] fundon commented on #4917
I disabled all plugins. Nvim started quickly.

[2016-06-14 09:52] mhinz commented on #4917
So, can this be closed?

[2016-06-14 09:59] #4917 closed

[2016-06-14 11:33] oni-link commented on #4916
Looks like a duplicate of #4142.

[2016-06-14 11:37] mhinz commented on #4906
Actually I think we (me) should not overthink this and simply assume a working internet connection during build time.

[2016-06-14 11:37] #4906 closed

[2016-06-14 12:03] mhinz commented on #4902
`:!` works a bit different in Neovim, yes, but compared to Vim we have two different means to running external commands, `:!` and `:terminal`. The latter should be used for anything interactive or where the output needs to be scrollable (since it's thrown into a terminal buffer).

[2016-06-14 12:07] mhinz commented on #4918
Please paste the output of `:CheckHealth!`.

[2016-06-14 14:46] sirex commented on #4918
This command isn't available and I use Neovim version from PPA, which is 0.1.5-dev. Never tried to compile it, so I will wait, when this command comes through PPA update.

[2016-06-14 14:55] justinmk commented on #4918
Did you try the steps at https://github.com/neovim/neovim/wiki/FAQ#python-support-isnt-working ?

[2016-06-14 14:56] justinmk commented on #4902
See https://github.com/neovim/neovim/wiki/FAQ#-and-system-do-weird-things-with-interactive-processes

[2016-06-14 14:56] #4902 closed

[2016-06-14 15:01] sirex commented on #4918
@justinmk no I haven’t and yes it helped! Thanks!

For the record, here is what I tried:

[code]

[2016-06-14 15:01] #4918 closed

[2016-06-14 20:15] wreed4 commented on #4907
Works great! Thank you!

[2016-06-14 21:21] mikl opened #4919 "Segfaults when switching in and out of a termnial buffer on macOS"
I've recently started having intermittent segfaults when switching in and out of Terminal buffers.

The problem is intermittent, so I unfortunately don't have an a recipe for reproduction, but I hope this report can still be useful.

[My vim config](https://github.com/mikl/dotfiles/blob/master/vimrc) might be part of the explanation, but I've not been able to nail down a culprit amongst my plugins

[2016-06-14 21:25] mikl commented on #4919
Here's the macOS error output for the segfault:

[code]

[2016-06-14 21:30] justinmk commented on #4919
Can you try master?

[2016-06-14 21:32] mikl commented on #4919
@justinmk yes, I'll try switching to master, see if it still is an issue.

[2016-06-14 21:37] r3lgar opened #4920 "helptags generation hanging"
- `nvim --version`: `0.1.4`
- Vim (version: `none`) behaves differently?
- Operating system/version: `Gentoo`
- Terminal name/version: `termite v11-29-g3170adf`
- `$TERM`: `xterm-termite`
### Actual behaviour

Hanging `helptags` generation.
### Expected behaviour

Generate `helptags`, complete install.
### Steps to reproduce using `nvim -u NORC`

Uninstall `Vim` and it's dependencies, reboot syste

[2016-06-15 02:30] tjdevries commented on #4454
#4489 has been closed. This is now implemented :D.

This issue can be closed I think.

[2016-06-15 03:10] tjdevries commented on #4478
@justinmk, I would like to pick this up, if no one else has started to do any work on it. My idea is shaping up to be something like this:

Create a system for people to be able to use their own `$PLUGIN/health/$PLUGIN.vim` files and easily combine the outputs.

Could also be used by authors to specify requirements of a plugin, system executable, etc. This could make it clear to users in an easily

[2016-06-15 05:03] TheDevelo opened #4921 "softtabstop's value always set to shiftwidth"
- `nvim --version`: 0.1.5-dev
- Vim (version: 7.4 ) behaves differently? Yes, bug does not occur.
- Operating system/version: Linux Mint 17
- Terminal name/version: xterm + screen 4.03.01
- `$TERM`: xterm-256color

### Actual behaviour
softtabstop's value is set to shiftwidth's value even if softtabstop is set to a non-negative number.
### Expected behaviour
softtabstop's value should only be set

[2016-06-15 05:24] gngshn opened #4922 "Double left mouse click is not available in tagbar"
- `nvim --version`:NVIM v0.1.5-451-g28cc5a0
- Vim (version: 7.4) behaves differently?
double mouse click in tagbar is OK.
- Operating system/version:
ubuntu14.04
- Terminal name/version:
GNOME Terminal 3.12.3
- `$TERM`:
xterm
### Actual behaviour
Have no effect.

### Expected behaviour
double click on tag can jump to tag.

### Steps to reproduce using `nvim -u NORC`

[code]
double click on tag sti

[2016-06-15 06:18] justinmk commented on #4922
see https://github.com/neovim/neovim/issues/4887

[2016-06-15 06:18] #4922 closed

[2016-06-15 06:27] #4454 closed

[2016-06-15 06:50] justinmk commented on #4478
@tjdevries Nice outline. Let's ship a first iteration before we get fancy with markdown/json. Just concatenating a list of messages is good enough; we would want to see if the idea gets traction with plugin authors before adding features.

Do you mean `$PLUGIN/autoload/$PLUGIN/health.vim`? Then `health#check()` can iterate through all `$PLUGIN#health#check()` functions, letting Vim's autoload syst

[2016-06-15 10:07] mhinz commented on #4921
- Steps to reproduce with `nvim -u NORC`?
- `:set smarttab?`? It's enabled by default in nvim, see `:h nvim-defaults`.

[2016-06-15 11:40] jbradaric commented on #4820
Changing the height of the terminal window also resolves the issue.

This bug seems to be caused by the last line in the view file, `doautoall SessionLoadPost`. `doautoall` goes through all buffers and performs the autocmd. If the buffer is not visible in a window, a temporary window will be created and the buffer will be shown there while autocommand is being performed.

The temporary window is c

[2016-06-15 12:50] tjdevries commented on #4478
@justinmk, agreed on the simple first idea. I was just sort of shooting out some ideas we could have.

Yes, that is what I meant.

This seems like a better idea. This way we only have one object to look at, instead of two.

Okay, maybe we don't include different levels for the first level, but perhaps a specific command at least, it can act like echo for the first release. It just seems this would

[2016-06-15 14:29] TheDevelo commented on #4921
Thanks, that was my problem. I feel like an idiot now.

[2016-06-15 14:29] #4921 closed

[2016-06-15 15:38] mhinz commented on #4916
Yup, duplicate. Thanks for reporting anyway.

[2016-06-15 15:38] #4916 closed

[2016-06-15 15:50] justinmk commented on #4916
https://github.com/neovim/neovim/pull/4376 fixes this issue, I should break out the relevant commit to unblock that.

[2016-06-15 16:32] steadystatic commented on #2258
@themightyoarfish I had the same version of python via brew...but after checking ~/.nvimlog I saw Python 3 mentioned...so running:

`pip3 install --upgrade --force-reinstall neovim`

resolved it for me.

[2016-06-15 16:51] themightyoarfish commented on #2258
Turns out my problem was that PYTHONPATH was set so python 3 tried to load the python 2 neovim module.

[2016-06-15 20:19] lluixhi commented on #4664
bump

[2016-06-15 22:40] zchee opened #4926 "neovim-ppa binary 404 Not Found"
I was tried install neovim on CI(Bitbucket pipeline) service.
and, I used the apt-get for install of neovim because troublesome to build on the CI.

but failed install, that url are not found.
http://ppa.launchpad.net/neovim-ppa/unstable/ubuntu/dists/jessie/main/binary-amd64/Packages

Is this procedure is deprecated?
https://github.com/neovim/neovim/wiki/Installing-Neovim#ubuntu
[code]

[2016-06-15 22:51] zchee commented on #4884
@mikeys I wonder because I do not reproduce in the same environment(only `$TERM=xterm-256color`).
but, Do `FocusGained` or `FocusLost` works effectively against it?

like `autocmd! FocusLost * redraw`

[2016-06-15 23:14] justinmk opened #4927 "Windows: ":!start" spec"
From the [removed](https://github.com/neovim/neovim/pull/4923/) `win32-!start` tag:

[code]

This issue is just a note for future reference. I didn't check whether #810 already address this totally.

[2016-06-15 23:17] justinmk opened #4928 "Windows: command line args spec"
From the [removed](https://github.com/neovim/neovim/pull/4923/) `gui-w32-cmdargs` tag:

[code]

This issue is just a note for future reference. I didn't check whether #810 already address this totally.

[2016-06-15 23:20] jamessan commented on #4928
As another reference, [here]'s a useful link explaining Windows command-line quoting.

[here]: http://blogs.msdn.com/b/twistylittlepassagesallalike/archive/2011/04/23/everyone-quotes-arguments-the-wrong-way.aspx

[2016-06-15 23:24] jamessan commented on #4926
It sounds like you're running Debian (specifically the Jessie release) instead of Ubuntu.  The [PPA] provides packages for Ubuntu.

[PPA]: https://launchpad.net/~neovim-ppa/+archive/ubuntu/unstable

[2016-06-15 23:31] zchee commented on #4926
ahh, that's correct!
I used `golang:1.7beta1` docker image, it's based Debian.
https://github.com/docker-library/golang/blob/2372c8cafe9cc958bade33ad0b8b54de8869c21f/1.7/Dockerfile

Thanks! and sorry 😱
close.

[2016-06-15 23:31] #4926 closed

[2016-06-15 23:48] justinmk commented on #4664
@lluixhi Thanks for continuing to share clues about this. It would be most helpful if you could narrow down the lines in https://github.com/neovim/neovim/commit/121e76db6f2dd2a088ba0fabd17fd80425347d50 that really trigger this issue.

It sounds like you're having segfaults no matter what linker you use, so I don't see why using a different linker would change the results for those not have segfaul

[2016-06-16 00:47] mhinz commented on #4820
Yup, the terminal size will get set to the size of the surrounding window during `:doautoall`, but not reset afterwards. The commit above should fix it.

[2016-06-16 02:44] satriyo796 commented on #4699
Same case happened to me, my current installation is:

[2016-06-16 05:28] justinmk commented on #4900
Can this be closed?

[2016-06-16 06:08] justinmk commented on #4920
Can you verify the FORTIFY_SOURCE value being passed in the build? Better if you can post the *verbose* build log to a gist.

[2016-06-16 10:26] jamessan commented on #4900
I don't think so.  The viml_system_spec test is still using xclip, which may encounter this issue.

Even if that wasn't a problem, I think having a small test program that exhibits the problem is better than relying on the environment having xclip installed, since it ensures we're testing the problem consistently and doesn't mess with the user's environment.

[2016-06-16 12:07] languitar commented on #3435
What is the solution to this? I can't find anything in the help how to overcome this apart from the reason why it doesn't work.

[2016-06-16 12:13] fmoralesc commented on #4877
I think this should work like this:

1. Check for the existence of the `init.vim` file. If it doesn't exist:
2. Search for candidate init files: `~/.vimrc`, `~/.vim/vimrc`, etc. (resolve links)
3. If no candidates are found, create an empty `~/.config/nvim/init.vim` file without prompting the user.
4. If candidates are found,

    a. if there is only one candidate, ask the user if he wants to use

[2016-06-16 12:29] justinmk commented on #3435
You don't need to set this option, it is utf8 by default.

[2016-06-16 12:42] justinmk commented on #4877
autoload VimL function  if MYVIMRC is empty?

[2016-06-16 12:45] jamessan commented on #4877
:-1: for creating stuff in the user's home directory when it isn't needed.

:+1: for helping migrate existing settings (i.e., the second bullet).

[2016-06-16 12:53] jamessan commented on #3435
Even in Vim, there's no reason to set `'encoding'` again after the initial sourcing of your vimrc.  It's best to guard it if you really want to be able to re-`:source` your vimrc during a running session, just like you need to do for various other things that may be in your vimrc.

[code]

Everything encoding related should be performed after `'encoding'` is set and then `'encoding'` should never

[2016-06-16 13:01] languitar commented on #3435
Ok, but scriptencoding should probably also go into the if section. I get the same warning for this setting.

[2016-06-16 13:01] fmoralesc commented on #4877
@jamessan We can use the chance to implement some of the "softer" defaults in #2676. Creating an empty file would be necessary also if we didn't want to prompt the user every time they run nvim...

[2016-06-16 13:06] jamessan commented on #3435
Are you sure you're sourcing the right file?  `:scriptencoding` shouldn't be causing the E905 warning.

[2016-06-16 13:12] jamessan commented on #4877
No we wouldn't.  Other metadata (e.g., the shada directory) is created that can detect whether the user has run nvim before.

But if it came down to a choice between risking prompting the users multiple times or creating unnecessary content, I would come down on the side of doing nothing.  We already have better defaults.  I don't see a reason to create files the user may not want just because so

[2016-06-16 13:15] fmoralesc commented on #4877
Fair enough ;)

[2016-06-16 13:36] languitar commented on #3435
Strange, you are right. I thought I also received a warning there.

[2016-06-16 13:46] KillTheMule commented on #4877
I agree with jamessan.

[2016-06-16 13:51] mhinz commented on #4877
Hmm, feels a bit like too much handholding.

Maybe we should rather go for an explicit command like `:Intro` (following `:Tutor`) that interactively explains differences, default values etc. between Vim and Neovim. Somewhere during this Intro linking or creating could be offered.

And `:Intro` could then be mentioned on the intro screen.

[2016-06-16 13:55] wsdjeg commented on #4877
@mhinz nice idea.

[2016-06-16 13:56] fmoralesc commented on #4877
We could actually make `:Tutor` offer to do this and make it actionable, after all we do mention the init file at the end of the default tutorial.

[2016-06-16 14:28] justinmk commented on #4877
`:CheckHealth` could be extended to do any steps that requiring prompting or migration.

I emphatically agree with that sentiment, my thinking was that silently creating an empty init.vim is no worse than silently creating a viminfo file. Remember this is only for invocations where `nvim` is started without any arguments. A benefit is that it allows us to use deterministic language with new users:

[2016-06-16 15:12] jamessan commented on #4877
An empty init.vim has no added benefit to the user experience (unlike an empty vimrc did with Vim), while a viminfo/shada file is beneficial.

I do see the benefit to this, but for me it's still not enough to create unnecessary content in the user's $HOME.  Those commands would have worked fine pre-XDG since there wasn't an intermediate set of directories that may need to be created.  In a sense,

[2016-06-16 15:23] justinmk commented on #4877
Isn't that another reason in favor of creating the file by default? To save the user the hassle of bootstrapping that path.

[2016-06-16 15:29] jamessan commented on #4877
IMO, no, because it perpetuates the misbehavior of programs creating unnecessary files.  It's simple enough to document the default location of the init.vim and people can create it if they want (or have it created by `:Tutor` as @fmoralesc proposed).

[2016-06-16 20:37] thebettersort commented on #4920
I see the same issue with or without vim installed. (using nvim 0.1.4 or the live ebuild).
It hangs at "neovim-9999_build/bin/nvim -u NONE -i NONE -e --headless -c helptags ++t . -c quit"

[2016-06-16 20:43] azbshiri opened #4930 "`ruby.vim` slows down when opening a ruby buffer/file"
- `nvim --version`: v0.1.5-215-gc9b1ad3
- Vim (version: ) behaves differently? No
- Operating system/version: Fedora 23
- Terminal name/version: GNOME Terminal 3.18.3
- `$TERM`: xterm-256color
### Actual behaviour

Noevim is quite slow when syntax is set to ruby
### Expected behaviour

opening ruby buffers or files without lag
### Steps to reproduce using `nvim -u NORC`

[code]
### Suspected Code

[2016-06-16 20:46] KillTheMule commented on #4930
`060.524  000.003: --- NVIM STARTED ---`

That's what I get when I run that command.

[2016-06-16 20:48] jamessan commented on #4930
Try removing `/home/$USER/.local/share/nvim/site/ftplugin/ruby.vim` and using the ruby ftplugin that comes with Neovim.

If that fixes the problem, then file a bug with whoever maintains the ruby.vim you have in your site directory.

[2016-06-16 20:51] fujinuma commented on #4930
how about this?
[code]

[2016-06-16 23:07] justinmk commented on #4920
If it's hanging, can you attach `gdb` to it and post a backtrace (preferrably `thread apply all bt full` in a gist). Steps are here: https://github.com/neovim/neovim/wiki/Development-tips#backtrace-linux

[2016-06-16 23:09] chrzrdx commented on #3211
Hi,

Sorry to bump this, but has anyone been able to fix this yet from within neovim (as in remap a keybinding or something)?

[2016-06-17 01:29] chrzrdx opened #4931 "neomake E421 guifg guibg error with NVIM_TUI_ENABLE_TRUE_COLOR=1"
- `nvim --version`:
[code]
- Operating system/version: Arch Linux, 64-bit
- Terminal name/version: st-0.6
- `$TERM`: `xterm-termite` and `st-256color` and `rxvt-unicode-256color`

### Actual behaviour

Enabling `Neomake` plugin causes error on every first write to file. (This is with the colorscheme `gruvbox` loaded)
[code]
If the `NVIM_TUI_ENABLE_TRUE_COLOR` flag is not set, Neomake doesn't compl

[2016-06-17 06:34] kshmelkov commented on #3211
Well, I just remapped F1 to NOP. It doesn't make Del working, but at least remove the annoying help window.

[2016-06-17 06:55] pickfire commented on #3211
st fails now

[2016-06-17 10:07] mhinz commented on #4931
This is a neomake issue. Please create an issue for them.

---

Assuming the colorscheme sets this:

[code]

Now, with `$NVIM_TUI_ENABLE_TRUE_COLOR=1` (or `:set termguicolors` in more recent versions), neomake tries to do this:

[code]

That doesn't work, `SeaGreen` is no valid value for `ctermfg`. That's where the E421 is coming from.

[2016-06-17 10:07] #4931 closed

[2016-06-17 12:40] thebettersort commented on #4920
Do you want me to attach gdb to emerge or do you want me to build from git?

[2016-06-17 13:06] chrzrdx commented on #4931
Thank you. I'm now following up on this issue there. :)

[2016-06-17 15:09] jamessan commented on #4920
Using git would be preferable so we know whether you're still encountering this in the latest code.

[2016-06-17 15:43] justinmk commented on #4920
@thebettersort Look for the hung `nvim` process--that's what we're interested in. If `nvim` is hanging, either merge or git is fine. We need the backtrace from the hung `nvim` process in either case.

[2016-06-17 18:48] thebettersort commented on #4920
@justinmk I don't know if this is what you want, but here is the result of running a backtrace on the hung nvim process (attached after it hung).

`GNU gdb (Gentoo 7.11.1 vanilla) 7.11.1
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRAN

[2016-06-17 18:53] thebettersort commented on #4920
@justinmk Hopefully this is what you want. I attached gdb to the hung nvim process (after it hung). Here is the backtrace.
https://bpaste.net/show/5c0a80c93a30

[2016-06-17 19:19] justinmk commented on #4920
@thebettersort Thanks, but instead of `bt` can you run `thread apply all bt full`?

You can pipe the output of running `gdb` interactively, by using the `tee` command as described in https://github.com/neovim/neovim/wiki/Development-tips#backtrace-linux

[2016-06-17 19:30] thebettersort commented on #4920
@justinmk Like this?
[backtrace.txt](https://github.com/neovim/neovim/files/321144/backtrace.txt)

[2016-06-17 19:37] justinmk commented on #4920
@thebettersort Yes, exactly--except it looks like emerge is building with Release, there are no debug symbols. If you can reproduce the issue by building from the git repo source, it will default to Debug.

[2016-06-17 19:38] thebettersort commented on #4920
@justinmk Alright, I'll try that and see if it still hangs.

[2016-06-17 19:46] thebettersort commented on #4920
@justinmk When building directly from git, it doesn't hang. It goes through without any error. This must mean there is a problem with the ebuild. Would you be able to help with that?

[2016-06-17 19:56] jamessan commented on #4920
Hmm, I wonder what that `libsandbox` in the stack is.  Haven't seen that before.

[2016-06-17 19:56] justinmk commented on #4920
If you can force emerge to build with debug symbols, there's a chance we can fix it. Otherwise I've no idea.

[2016-06-17 19:58] justinmk commented on #4920
@thebettersort If you run `nvim` _directly_ (do `which nvim` in some other terminal while emerge is hung), does it work? I'm looking for something basic, like maybe it exits with SIGABRT when you try to start `nvim` normally.

[2016-06-17 20:00] dmerejkowsky commented on #1415
Maybe we could provide a real 'uninstall' target from CMake.

It's documented in the [faq](https://cmake.org/Wiki/CMake_FAQ#Can_I_do_.22make_uninstall.22_with_CMake.3F)

I can write a PR if you like

[2016-06-17 20:17] justinmk commented on #1415
@dmerejkowsky Sure, but rather than using `install_manifest.txt` as the authority I suggest only doing the equivalent of these steps:

    rm $CMAKE_INSTALL_PREFIX/bin/nvim
    rm -r $CMAKE_INSTALL_PREFIX/share/nvim/

[2016-06-17 20:28] thebettersort commented on #4920
@justinmk Maybe I'll try to force debug symbols later on. If I run nvim in another terminal while emerge is hung, nvim runs. (but it's still hung in the other terminal)

[2016-06-17 20:37] justinmk commented on #4920
Ok, that rules out https://github.com/neovim/neovim/issues/1368 (symptom was SIGABRT, which of course is not a hang, but worth checking)

[2016-06-17 22:19] whereswaldon commented on #4547
I was thinking of taking a stab at this problem. It seems to me at there are three approaches to solving it:

1. Copy the old undo file and give it some extension like `.bak`. If the same problem happens again (there is a .bak already, but we need to copy the current version of the undo file), delete the old .bak and move the current undo file to have the .bak extension.
2. Copy the old undo file

[2016-06-17 23:22] Shougo commented on #4930
@azbshiri I think it is feature.
ftplugin/ruby.vim searches the path using ruby command.

https://github.com/neovim/neovim/blob/master/runtime/ftplugin/ruby.vim#L118

It is slow.  You should set `g:ruby_default_path` to avoid it.

[2016-06-17 23:28] thebettersort commented on #4920
@justinmk Here is a backtrace with more debugging symbols
[bt.txt](https://github.com/neovim/neovim/files/321419/bt.txt)

[2016-06-18 00:48] jamessan commented on #4920
Recursive calls to (je)malloc are bad.  There's a malloc lock that's acquired and the recursive call is causing it to deadlock.  It looks like libsandbox (whatever that is) is the culprit, since it appears to be providing an implementation of `open()` that causes the second malloc (potentially through a call to `dlopen()`).

[2016-06-18 01:05] aikeru commented on #4507
As I reported on the uservoice...

:)

[2016-06-18 02:03] azbshiri commented on #4930
yeah, setting ruby_path can do the same trick. but the problem is query_path function which appends $PATH as a prefix to ruby default load path string and run it by system() function.

[2016-06-18 06:16] alekulyn opened #4937 "Large Foreign-language JSON file triggering E475 on Windows"
- `nvim --version`:  NVIM 0.1.5-dev
- Vim (version: ) behaves differently?  Not sure.
- Operating system/version:  Windows 10 64-bit

I have a large (28 mb) foreign-language json file that I'm trying to load via NERDTree.  However, whenever it finishes loading and I try to switch buffers, I get a `E475:  Invalid Argument: Channel doesn't exist` error.  I've grabbed the latest MSys64 build from @eq

[2016-06-18 06:55] ZyX-I commented on #4920
@jamessan `libsandbox` is a sandbox implementation that prevents builds from unintentionally breaking user system. Uses LD_PRELOAD and is AFAIR easy to break intentionally.

[2016-06-18 10:52] dmerejkowsky commented on #1415
@justinmk : Why?

Doing that would leave the `nvim.mo` files in `share/locale` and  the man pages in `share/man`.

Using the `install_manifest.txt` is more DRY: we won't have to fix the `uninstall` target if we start installing stuff in other directories.

I don't understand why you do not like using `install_manifest.txt` as the authority, but maybe there's something I'm missing here.

[2016-06-18 11:16] jszakmeister commented on #1415
I'm pretty sure that technique will also leave things on the file system.  Namely, some of the directory structure with empty directories left behind. :-(

[2016-06-18 12:52] dmerejkowsky commented on #1415
Ah you're right. Maybe we can still write something clever. Let me think about it

[2016-06-18 14:38] justinmk commented on #4937
Use `:scriptnames` to find the script corresponding to the number. E.g. for 103_on_event, find the script numbered 103. Then find the `s:on_event` function in that script.

[2016-06-18 15:30] ZyX-I commented on #4937
@justinmk Using `:set more | verbose function <SNR>103_on_event` is more efficient.

[2016-06-18 17:20] justinmk commented on #3189
Fixed by https://github.com/neovim/neovim/pull/4851

[2016-06-18 17:20] #3189 closed

[2016-06-18 17:25] justinmk commented on #4547
@whereswaldon Instead of using a naming scheme like `.bak`, use the existing `vim_tempname` function to create a temporary file. See also the logic in `vim_rename()` which uses a temp file (see `use_tmp_file` variable).

Yes, the change needs test coverage.

[2016-06-18 17:31] justinmk commented on #3320
There's wildly varying reports here (different OSes, different symptoms), with no information (we need a stacktrace if there was a crash). Since 0.1.2 it could have been fixed, or not. Please open a new issue with full details (stacktrace) if needed.

[2016-06-18 17:31] #3320 closed

[2016-06-18 17:59] entombedvirus commented on #3726
My netrw has also been showing ~1-2 sec delay when using neovim. As pointed out earlier in this thread, the cause is that netrw saves and restores the `@*` and `@+` registers. I verified this by turning on func and file profiling and
[examining the logs](https://github.com/neovim/neovim/files/321890/nvim.log.txt).

Since I am using neovim over SSH, with X forwarding enabled, each time netrw saves

[2016-06-18 20:30] ZyX-I commented on #1475
@dbarnett

I think it is good idea to save my [replies](https://gitter.im/neovim/neovim?at=5765a9cdf0528c4c5bba46a7) in gitter here:

[2016-06-18 20:38] ZyX-I commented on #1475
Though I am wrong about *Vi* compatibility, vi does not have +eval. It is compatibility with previous versions that did not have v: to store such variables in.

[2016-06-18 23:15] dagi3d commented on #3320
I tested it the latest precompiled version in Ubuntu(0.1.5-dev) and still happened.The thing is apparently I found the reason it was causing it and was the parameter shell, which was set to `shell=/bin/bash\ -i`
I replace it with the zsh which is the shell I use but the problem still persisted. By removing it completely the problem went away

[2016-06-18 23:16] ZyX-I commented on #4547
@justinmk `vim_tempname` does not look like a good idea for the job like this: /tmp *is cleared upon system initialization*, so is absolutely useless for recovering anything on system crash. I actually do not know why most suggestions from previous message start with “copy the old undo file”: “do mv” from the first message looks better. Probably it makes sense to reuse ShaDa code for this, it alre

[2016-06-18 23:17] alekulyn commented on #4937
Turns out deoplete's handlers.vim was throwing an error at ```call rpcnotify(g:deoplete#_channel_id, 'deoplete_on_event', context)```.  I don't know how to fix it, but at least I know where it is.

[2016-06-18 23:31] ZyX-I commented on #4547
`vim_rename` solves a different problem. It may be used as an example of code which generates unexisting temporary filename, but it is still worse then ShaDa code for this job: in ShaDa I use EAFP approach, so if valid temporary filename is found it is immediately claimed (in fact, EAFP means that I try to claim the file name and retry if it appears to be existing), `vim_rename` theoretically allo

[2016-06-19 00:33] justinmk commented on #3320
Interactive shell (-i) will cause problems even in Vim.

[2016-06-19 01:00] Shougo commented on #4937
@alekulyn What is the `:CheckHealth` result?
neovim-python is the latest version?

[2016-06-19 01:03] alekulyn commented on #4937
@Shougo, it says that its not an editor command.

[2016-06-19 01:05] Shougo commented on #4937
Hm.  Your neovim Windows build is not the latest version.
And, I don't know if deoplete works in Windows environment.

[2016-06-19 01:41] alekulyn commented on #4937
@Shougo, deoplete was working just fine with other, smaller files.

[2016-06-19 03:21] wsdjeg commented on #1475
thanks for the link，vim-maktaba is what I need.

[2016-06-19 03:39] Shougo commented on #4937
Hm.
You should create minimal init.vim.

[2016-06-19 19:53] whereswaldon commented on #4547
I'm sorry for the abiguity

was intended to be the equivalent of `mv`ing it, not having two. That was poorly worded.
@ZyX-I Which part of the ShaDa code should I look at? It sounds like the functionality that I want already does exist.

[2016-06-19 20:04] ZyX-I commented on #4547
@whereswaldon The idea of safe overwriting is

1. Write new file to a temporary location.
2. Upon successfull write move it onto a permanent location.

2. is atomic as long as files are on the same filesystem, and even otherwise is rather safe: depending on where process was interrupted you may get

- Partial or absent new version in temporary location.
- New (temporary location) and old (permamen

[2016-06-19 20:06] ZyX-I commented on #4547
Though ShaDa code has more then one reason to behave like it does: it not only needs to write a new version, it also needs to read the old one. Temporary file is not used if you have chosen to ignore the old file!

[2016-06-19 20:09] ZyX-I commented on #4547
Though you may choose to ignore the old file only by explicitly using `wshada!` (with bang), so system crash leaving truncated file is rather unlikely. But this may happen in case of crash during `wshada!`.

[2016-06-19 20:10] ZyX-I commented on #4547
Vim has the same problem with `wviminfo!` (with bang) AFAIR.

[2016-06-19 20:14] ZyX-I commented on #4547
@justinmk What do you think about moving the relevant code to `file_open` and `file_close`, protected by `FILE_USE_TEMP`? (I am referring to #4865.)

[2016-06-19 20:32] whereswaldon commented on #4547
@ZyX-I So the idea with this particular issue would be to write the new version of the undo file to a temporary location, and then `mv` the old version of the undo file to some safe backup location before finally moving the new version of the undo file to where it ought to be?

With regards to

and

In this case, the problem is that the old file is deleted *after* the system reboot and you reopen

[2016-06-19 20:58] ZyX-I commented on #4547
@whereswaldon Clearing `/tmp` is a part of the boot process, *before* user has any chance to run Neovim. More, `/tmp` may live in a tmpfs (== in RAM) so it is “cleared” immediately on crash. So undo file in this temporary location will not help you if system crashed after file was written, but before finishing moving that new file to a permanent location; and file at permanent location will be spo

[2016-06-19 21:00] ZyX-I commented on #4547
@whereswaldon Idea is “writing new version to a temporary location, then moving it onto permanent location (possibly overwriting the old version)”. Old version is not moved anywhere.

[2016-06-19 21:11] justinmk commented on #4547
@whereswaldon To be clear (and hopefully avoid confusing you), what @ZyX-I said in https://github.com/neovim/neovim/issues/4547#issuecomment-226970208 (and @blueyed said in the top post) is the recommended approach. Sorry for any confusion.

[2016-06-19 21:18] justinmk commented on #4547
Do you mean, so this problem is solved for all callers of file_open/file_close?

But why would we make it optional with FILE_USE_TEMP?

[2016-06-19 21:26] justinmk opened #4939 "fix os_file_exists or vim_rename"
- it looks like os_file_exists should be named os_path_exists: if I am not mistaking, os_stat(name, &statbuf) is going to succeed if name is a directory and not a file. Not sure what if it is a broken symbolic link. And, of course, both cases are not tested.
- If I am wrong here, then vim_rename has a bug: it will fail should code encounter directory or broken symbolic link, without trying further

[2016-06-19 23:45] justinmk commented on #4163
@equalsraf Can you point me to the code in neovim-qt that handles the close button?

[2016-06-19 23:59] whereswaldon commented on #4547
I did, in fact, misunderstand the problem here. Thanks @justinmk and @ZyX-I for clarifying. I thought the problem was happening after the system recovered from the crash, not that the system crashed while the undo file was being written. I think I can do this.

[2016-06-20 01:36] roxma opened #4940 "Where do I place the manually downloaded dependency package?"
Hi, I'm trying to build neovim from source, I know neovim will automatically download some dependency  packages for me. But I'm Chinese, you know, where network connection to foreign site  is  troublesome.

Currently I encounter this error. I manage to manually download the package. Where should I put it to in order to help the make procedure go on?

[code]

[2016-06-20 01:46] roxma commented on #4940
I downloaded the package to my local file system, and change the url into file path in the cmakefile. problem solved. never mind.

[2016-06-20 01:46] #4940 closed

[2016-06-20 04:06] justinmk commented on #4163
@equalsraf This patch should work around the issue (could be added to #810):

[code]

I could not reproduce the SIGABRT in a test, though. I tried variations on the following:

[code]

[2016-06-20 04:08] justinmk commented on #4163
Oh, so that's why the test doesn't repro: need to start without `--embed`.

[2016-06-20 04:58] rbong commented on #3716
I had an issue where neovim would not load at all, and later the exact same issue as here.
Using ```nvim --noplugin``` I determined that it was not neovim's fault. It was at this point I disabled my plugins in a binary search to determine which ones were causing problems. Disabling ultisnips fixed my not loading at all issue, at which point I experienced the same behaviour as the issue. Disabling

[2016-06-20 05:21] justinmk commented on #3716
@rbong Are you saying rlwrap works with nvim, for you? If not, I'm confused about how `let rlwrap=1` solves the issue, because that would still enable the rlwrap plugin. The top post in this issue suggests that rlwrap doesn't work with `nvim`, and it looks like rlwrap's `munge_line_in_editor` is manipulating the tty.

I'm puzzled why anyone would want to use rlwrap with vim. https://github.com/tpo

[2016-06-20 05:32] justinmk commented on #4561
See https://github.com/neovim/neovim/issues/3432

[2016-06-20 05:32] #4561 closed

[2016-06-20 09:01] equalsraf commented on #4163
There are some cases when if open simultaneously the TUI and the GUI seem to be fighting it off by entering a loop, I though this was a consequence of resize, but it also seems to happen when entering insert mode.

FWIW neovim-qt issues a `vim_command("qa")` when the close button is pressed - https://github.com/equalsraf/neovim-qt/blob/master/src/gui/shell.cpp#L765

The case without --embed did cr

[2016-06-20 11:54] rbong commented on #3716
@justinmk: rlwrap can use an external editor to edit commands. this is where nvim comes in. defining the rlwrap variable is only to disable certain plugins that prevent nvim from launching from rlwrap.

[2016-06-20 13:08] justinmk commented on #4163
Deferring ui_refresh might be the right approach.

[2016-06-20 13:39] thebettersort commented on #4920
@jamessan @ZyX-I is there a quick way to test compilation without libsandbox to confirm this?
(A bug report for this has been created on the Gentoo bug tracker, https://bugs.gentoo.org/show_bug.cgi?id=586248)

[2016-06-20 13:41] jamessan commented on #4920
I don't know how libsandbox is being pulled into your build.  That's not happening when you build from git, so it's something specific to how the ebuild is built.

I haven't used Gentoo in over a decade, so I wouldn't be able to say how to control that.

[2016-06-20 14:29] thebettersort commented on #4920
@jamessan Upon further inspection, portage builds it just fine if instructed to do so without jemalloc functionality. (USE="-jemalloc")

[2016-06-20 15:03] KillTheMule commented on #4920
For me, portage builds with jemalloc just fine.

[2016-06-20 15:05] thebettersort commented on #4920
@KillTheMule, Apparently it also builds with jemalloc if you have "usersandbox" disabled.

[2016-06-20 15:06] KillTheMule commented on #4920
Ah ok, that's indeed the case for me.

[2016-06-20 16:52] justinmk commented on #3245
Seems like this is external, and mostly fixed. Can we close it?

[2016-06-20 17:25] ninrod opened #4942 "[question] why neovim isn't distributed under the GPLv3 license?"
Just want to know the decisions that led the team to pick up Apache instead of GPLv3.

[2016-06-20 17:28] justinmk commented on #4942
Why not?

[2016-06-20 17:29] mhinz commented on #4942
It's Apache 2.0 / Vim license, not MIT.

[2016-06-20 17:37] jamessan commented on #4942
See #878 and #370 for previous discussions.

[2016-06-20 17:51] ninrod commented on #4942
I think choosing GPL over other licenses could only be appreciated in light of the philosophical line layed down by stallman in this post: [cang vs free software](https://gcc.gnu.org/ml/gcc/2014-01/msg00247.html). Mainly:

[code]

[2016-06-20 18:00] jamessan commented on #4942
There is a world of difference between the leverage licensing a compiler under the GPL provides vs. licensing an editor under the GPL. While I understand and empathize with the sentiment in that post, I don't think it's a very applicable argument in this case.

[2016-06-20 18:04] ZyX-I commented on #4942
This issue was already discussed as pointed by @jamessan and such discussions tend to generate a lot of flame. So please move to those issues (and first check arguments there), I am closing *and locking* this one.

[2016-06-20 18:04] #4942 closed

[2016-06-20 19:56] mattsmithdatera commented on #4299
This issue is still occurring with zsh as of today's latest dev build NVIM v0.1.5-957-g7df9dd3

[2016-06-20 20:35] jamessan commented on #4299
Yes, because the issue is still open.  There's no need to continue confirming a confirmed bug.

If people want to help, digging into the code is the approach to take.

[2016-06-20 20:48] mattsmithdatera commented on #4299
Sorry man.  Just wanted to provide helpful information for folks that might stumble across it.  If it helps, the workaround I've been using is the one shown by @still-dreaming-1 a few posts up in this thread.

[2016-06-20 22:13] #4777 closed

[2016-06-21 02:51] terciodemelo commented on #4162
Has anyone been able to fix or workaround this problem? It's been specially hard on me when working with a **lot** of tests.

[2016-06-21 05:21] zoqaeski opened #4943 "Visual block replace operation over non-ASCII characters crashes Neovim"
- `nvim --version`:

[code]

- Vim (version: ) behaves differently? Yes
- Operating system/version: Arch Linux x86-64
- Terminal name/version: Terminix 1.0.0 (also occurs with neovim-qt-git r332.adc7a2d)
- `$TERM`: screen-256color

### Actual behaviour
Typing a malformed Compose key sequence causes neovim to crash.

### Expected behaviour
Neovim drops invalid key sequence and silently ignores it.

[2016-06-21 09:03] mikl commented on #4919
I haven't been able to reproduce this after switching to master, I think it's safe to assume this problem was fixed, somehow.

[2016-06-21 09:03] #4919 closed

[2016-06-21 10:56] Shougo commented on #4162
@terciodemelo I have fixed it.

[2016-06-21 12:26] lewis6991 commented on #4884
I'm seeing the same bug and the redraw autocmd doesn't seem to have any effect.

[2016-06-21 12:39] jonathanstiansen commented on #3122
@justinmk so this is still an issue with a minimal init.vim, no linking of past vim configs at all. So why shouldn't it be an issue? Reinstalled with release and trying everything.

[2016-06-21 16:27] #4820 closed

[2016-06-21 16:28] #3864 closed

[2016-06-21 16:47] chmue commented on #3211
I mapped `F1` to `del` which is a very dirty fix but works if you never use `F1` to open the help window:

[code]

The issue itself is not fixed in my installation of neovim on Arch:

[code]

[2016-06-21 23:05] ZyX-I commented on #4547
@justinmk Why should this be forced? Target file does not exist always (so moving is not needed), there may be cases when you need to preserve file attributes, you cannot write to pipes (e.g. /dev/stdout) in this fashion, …

[2016-06-21 23:16] justinmk commented on #4547
@ZyX-I I misunderstood FILE_USE_TEMP as a compile-time feature flag.

[2016-06-21 23:26] ZyX-I commented on #4547
@justinmk I would name it kFileUseTemp now, but at the time of posting I for the reason I do not remember now (most likely, named it after O_…) used different naming scheme.

[2016-06-22 07:55] justinmk commented on #4943
I would have thought this were fixed by https://github.com/neovim/neovim/pull/4574.

@zoqaeski Would you mind posting a backtrace? See https://github.com/neovim/neovim/wiki/Development-tips#backtrace-linux for instructions. `thread apply all bt full` result would be most helpful.

[2016-06-22 12:58] ninrod opened #4946 "regression: SpecialKey highlight overrules matchadd()/:match"
- `nvim --version`:NVIM v0.1.5-966-ga2ecbc2
- Vim (version: ) behaves differently? yes
- Operating system/version: MacOSx yosemite
- Terminal name/version: iTerm2 3.0.2
- `$TERM`: xterm-256color
### Actual behaviour

guifg is not respected
### Expected behaviour

guifg is respected
### Steps to reproduce using `nvim -u NORC`

I don't have the knowledge to reproduce using nvim -u NORC, but I know f

[2016-06-22 16:20] justinmk commented on #4946
@ninrod Could you revert https://github.com/neovim/neovim/commit/1e93e24f5e6e36fa89ebbc234b8c91a21ef0b788 and see if the problem still occurs?

[2016-06-22 17:18] ninrod commented on #4946
@justinmk will do as soon as I arrive home. Here at work I only have access to vim because I don't know how to build neovim behind a corporate proxy.

[2016-06-22 20:20] romgrk commented on #4946
Can't reproduce here. How do you test that `guifg` is respected? By definition a space character has no foreground. On my setup the cursor is reversed though, and having it hover a trailling whitespace does show up an orange bg.

[2016-06-22 20:30] ninrod commented on #4946
I don't know exactly if you're talking about this: `set list listchars=tab:\ \ ,trail:·`. But I have this setup.

here is my [full vimrc](https://github.com/ninrod/dotfiles/blob/master/dot/vimrc)

here's the code block that will highlight for you an extrawhitespace:

[code]

if you have truecolor support properly setup, in both versions, you'll be able to see that in neovim 0.1.4 guifg does work a

[2016-06-22 20:41] romgrk commented on #4946
Oh, I think there were some commits touching the highlight precedence of trailing spaces. I'll check if I can find them. Btw, is `guifg` not respected in general, or just for this specific case? What does the `hi ExtraWhitespace` command outputs? What does it output for other non-related highlight groups?

[2016-06-22 20:47] justinmk commented on #4946
@ninrod Does it work correctly with true color _disabled_?

[2016-06-22 21:03] ninrod commented on #4946
@justinmk if I understand correctly, with truecolor disabled neither guifg or guibg are respected because you are placed in 256 colorspace anyway. so you have to use `ctermfg` instead of guifg. Well I think it will work, but it defeats the purpose, yes?

and gruvbox does support 256 colors.

I think gruvbox works well in 0.1.5, in truecolor mode, generally speaking. I think the problem is specific

[2016-06-22 21:09] justinmk commented on #4946
Yes, could be useful to confirm this only affects guifg, not ctermfg.

[2016-06-22 21:17] ninrod commented on #4946
@justinmk I see you point. I'll also confirm if `ctermfg` is affected or not.

[2016-06-22 22:38] Shougo commented on #3122
@tungel @johanhelsing
The same problem exists in neovim and Vim.
It is well known problem for me.
neovim and Vim evaluates the foldmethod every changes.
So, foldmethod "expr" or "syntax" is very slow especially you use auto completion plugin.
I think it should be fixed.

[2016-06-22 22:57] justinmk commented on #3122
@jonathanstiansen It's possible for any plugin to make things slow, by defining a sloppy regular expression. This bug is in the runtime plugins (which we import from Vim). We can't afford to track every single problem with the runtime plugins, and it does us no good to keep the issues open in the neovim issue tracker, because we aren't going to fork the syntax plugins.

Syntax plugins (e.g. for ru

[2016-06-22 23:36] nyarly opened #4948 "Errorformat improvement"
This is fundamentally a proposed enhancement.

The Vim `compiler/:make` system is a real boon to productivity that I've only recently started to really explore.

One of its shortcomings are the limitations of the 'errorformat' system. The docs hint at them with the suggestion of adding a filter to the 'makeprg' setting to product "formattable" output. The problem there is that the filter conceals

[2016-06-23 02:18] mmlb commented on #4820
hooray :tada: thanks @mhinz

[2016-06-23 03:43] eraserhd commented on #3024
I have this issue as well, and nothing in the help for 'background' seems specific to neovim.  Vim changes the colors when I "set background=dark" to lighter colors.

Vim, background=light:
<img width="249" alt="screen shot 2016-06-22 at 11 39 35 pm" src="https://cloud.githubusercontent.com/assets/147284/16291239/bfe744d0-38d2-11e6-9a0a-731c74eb0eb7.png">

Vim, background=dark:
<img width="228" al

[2016-06-23 03:50] justinmk commented on #3024
@eraserhd That doesn't seem right, could depend on your `$TERM` or if you have true color enabled (in Vim, or Neovim--need details about both cases)

[2016-06-23 05:17] oconnore opened #4951 "Documentation cites XDG_CONFIG_HOME, not set on Ubuntu?"
- `nvim --version`: 0.1.4
- Operating system/version: Linux
- Terminal name/version: gnome-terminal
- `$TERM`: xterm-256color

### Actual behaviour

The documentation for "changes from vim" explains the directories to use for XDG. But $XDG_CONFIG_HOME is not a variable on my Ubuntu 16.04 shell.

$XDG_CONFIG_DIRS=/etc/xdg/xdg-ubuntu:/usr/share/upstart/xdg:/etc/xdg

Do I pick one of those? Where is

[2016-06-23 05:47] justinmk commented on #4951
https://github.com/neovim/neovim/wiki/FAQ#where-should-i-put-my-config-vimrc

The documentation might be off-putting because it is using not well-known shell features. `mkdir -p ${XDG_CONFIG_HOME:=$HOME/.config}` is creating `~ /.config` if XDG_CONFIG_HOME is blank. But then the `ln ...` lines are not using `${XDG_CONFIG_HOME:=$HOME/.config}` so this is actually invalid.

[2016-06-23 13:44] eraserhd commented on #3024
@justinmk TERM=screen (running tmux in Terminal.app).

Running tmux with "-2" to force 256 color mode: same.
Running tmux with "-2" and manually setting TERM to screen-256: fixes the problem.

[2016-06-23 13:48] eraserhd commented on #3024
I've added this to my `.tmux.conf`:

[code]

[2016-06-23 14:33] raichoo opened #4953 "terminal: incorrect width if 'number' column is enabled"
- `nvim --version`: a2ecbc2cc093d6639b8d3e0262909191dfa9aba4
- Operating system/version: archlinux
- Terminal name/version: gnome-terminal
- `$TERM`: xterm-256color

Commit a2ecbc2cc093d6639b8d3e0262909191dfa9aba4 breaks colored terminal.
Works fine on 7df9dd3
### Actual behaviour

Terminal currently looks like this.

![brokenterm](https://cloud.githubusercontent.com/assets/151506/16306928/b0ad6fe

[2016-06-23 14:35] khalidchawtany opened #4954 ""echo v:servername" should not be empty on socket creation failure."
- `nvim --version`: NVIM v0.1.5-487-ga2ecbc2
- Operating system/version: OS X 10.11.5
- Terminal name/version: iTerm2 - Build 3.0.20160620-nightly
- `$TERM`: xterm-256color
### Actual behaviour

When neovim fails to create a server socket `:echo v:servername` prints nothing.
### Expected behaviour

Neovim should warn the user about it is failure to create the socket (Maybe the reason too. eg: Perm

[2016-06-23 14:36] ninrod commented on #4946
@justinmk I've tested the 2 cases you asked for:

0. I confirmed that commit 1e93e24 **has** the bug.
0. I confirmed that ctermfg **is not respected either**. ctermfg is affected as much as guifg is affected. In both commits: `HEAD` and 1e93e24.

So I changed the title of the issue report to reflect these new findings.

[2016-06-23 14:49] ninrod commented on #4946
@romgrk

* this:
[code]

* here
[code]

I've just turned on truecolor support from `vim` (HEAD commit) and it handles the ExtraWhitespace code block flawlessly. So it does behave differently from `nvim`.

[2016-06-23 14:57] ninrod commented on #4946
here is a revealing screenshot of the bug. check out lines 209 and 210.

left is nvim in commit 1e93e24
right is nvim --version 0.1.4

`nvim` in `HEAD` commit has the same behaviour.

<img width="1280" alt="bug" src="https://cloud.githubusercontent.com/assets/8352747/16307891/50021b60-3939-11e6-922d-3d94941fcf00.png">

[2016-06-24 03:29] imbear opened #4955 "Result of fnamemodify("d:\\test.txt", ":h") is incorrect"
- `nvim --version`: 0.1.5-dev
- Vim (version: 7.4 patches 1-1952 )
- Operating system/version: Win7 Home
- Terminal name/version: nvim-qt v0.2.0

### Actual behaviour

Result is "d", which is a invalid path.

### Expected behaviour

In vim, result is "d:\", which is right.

[2016-06-24 03:45] zoqaeski commented on #4943
Here you go: https://gist.github.com/ce3b62ed6a41723e1968b64d79b6792c

Three backtraces from gdb, `bt`, `thread apply all bt` and `thread apply all bt full`. I also have a coredump from that session that I could provide if it would help you. Anything else I could do/provide?

(As someone who is currently working on a multilingual LaTeX document, this bug is driving me nuts right now because I've h

[2016-06-24 04:00] justinmk commented on #4943
@zoqaeski Reverting c2a18216114bae75b6d6a2c7f1a68db04578abce might fix it. cc @cacplate

[2016-06-24 04:48] zoqaeski commented on #4943
How would I go about that to test it? I'm currently just following HEAD using the Archlinux `neovim-git` AUR package.

[2016-06-24 06:55] cacplate commented on #4943
Definitely my fault. I will look into it but not before sunday unfortunately. You may want to revert if it's too long.

[2016-06-24 14:24] justinmk commented on #4163
@equalsraf Here's a patch that defers ui_refresh:

[code]

[2016-06-24 14:29] ZyX-I opened #4956 "Do not run MSAN build until it is fixed"
I do not think that MSAN build is going to fix itself without some work, so it should only be enabled in PRs in which it is worked on. Currently MSAN build is failing at the very beginning, always at one point, so peeking at this build is useless. On the other side, travis has a limit on a number of jobs per project that are run simultaneously so making it run useless MSAN build always is just a w

[2016-06-24 14:30] justinmk commented on #4953
Possibly this was working "by accident" before https://github.com/neovim/neovim/pull/4929. Seems like the resize is not taking the `'number'` column into account. If you `:set nonumber` does it work correctly?

[2016-06-24 14:35] raichoo commented on #4953
Good idea. Yeah that actually works.

[2016-06-24 14:55] justinmk commented on #4855
Closed by https://github.com/neovim/neovim/pull/4865

[2016-06-24 14:55] #4855 closed

[2016-06-24 15:19] wsdjeg commented on #3461
@ivywong can you add `let  g:gruvbox_italic=1` to your vimrc? I also using gruvbox, but it works well for me with neovim.

[2016-06-24 15:22] wsdjeg commented on #3461
see https://github.com/morhetz/gruvbox/blob/d7f7f1951d0716957f3e32549a247e92d25b1449/colors/gruvbox.vim#L31-L37

[2016-06-24 20:27] bbqtd opened #4957 "Missed runtimepath $XDG_DATA_HOME/nvim"
- `nvim --version`: v0.1.5-483-g47a15d0
- Operating system/version: os x 10.1.5

Regarding `:h 'runtimepath'`
[code]

But it seems `$XDG_DATA_HOME/nvim` path is missed.

[code]

where `:set runtimepath?` is
[code]

[2016-06-24 21:00] alexbyk opened #4958 "1,100bd invalid range - unexpected error"
- `nvim --version`: NVIM 0.1.5-dev
- Vim (version: ) behaves differently: VIM - Vi IMproved 7.4
- Operating system/version: UBUNTU 14.04
- Terminal name/version: gnome-terminall

### Actual behaviour
Invalid range error
### Expected behaviour
Delete buffers by range
### Steps to reproduce using `nvim -u NORC`

[code]

[2016-06-25 01:03] danobi opened #4959 "`Transitioning from Vim` wiki link broken"
The `Transitioning from Vim` wiki link [here](https://github.com/neovim/neovim/wiki) currently points to `http://neovim.io/doc/user/nvim_from_vim.html`. The link 404s.

[2016-06-25 02:34] jamessan commented on #4958
You don't have a buffers 1-100, so they can't be deleted.  Vim has the same behavior.

[2016-06-25 02:34] #4958 closed

[2016-06-25 04:28] ivanbrennan opened #4960 "Statusline & command-line occupying same line, bizarre results"
- `nvim --version`: NVIM 0.1.4
  Build type: RelWithDebInfo
  Compilation: /usr/local/Library/ENV/4.3/clang -Wconversion -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=1 -DDISABLE_LOG -Wall -Wextra -pedantic -Wno-unused-parameter -Wstrict-prototypes -std=gnu99 -Wvla -fstack-protector-strong -fdiagnostics-color=auto -DINCLUDE_GENERATED_DECLARATIONS -DHAVE_CONFIG_H -I/tmp/neovim-20160515-76047-blsy2n/neovim-0.

[2016-06-25 05:51] romgrk commented on #4946
What about without this https://github.com/neovim/neovim/pull/4744?

[2016-06-25 06:08] alexbyk commented on #4958
@jamessan no, if I have buffers 6, 10, 33 vim closes them.

[2016-06-25 12:12] ninrod commented on #4946
@romgrk

I just confirmed your suspicion. This merged pull is indeed the culprit. Here are the conclusions:

66adc2d  (and up to HEAD) has the bug. (this is pull #4744, merged in master by @justinmk )
56cb1eb does **not** have the bug.

proof:

<img width="1280" alt="bughunt" src="https://cloud.githubusercontent.com/assets/8352747/16356552/92901480-3ab2-11e6-99fd-47aaed90032a.png">

[2016-06-25 12:34] wsdjeg commented on #4959
should be fixed.

[2016-06-25 13:09] ninrod commented on #4946
So I've checked out master (commit 47a15d0) and issued:
    `$ git revert -m 1 66adc2d`

This fixes the bug as shown here:

<img width="1280" alt="bugfix" src="https://cloud.githubusercontent.com/assets/8352747/16356870/c96863fe-3abc-11e6-8f54-8988dbd52a73.png">

[2016-06-25 13:59] jamessan commented on #4958
Then you're using an older version of vim. That's been changed to validate the range.

[2016-06-25 14:57] luispedro opened #4961 "No syntax highlighting if XDG_DATA_DIRS is too long"
- `nvim --version`:
NVIM 0.1.4
Build type: Release
Compilation: /nix/store/6rfvkcxwglqxq08kh7w8a08p533m39gj-gcc-wrapper-5.3.0/bin/gcc -Wconversion -O2 -DNDEBUG -DDISABLE_LOG -Wall -Wextra -pedantic -Wno-unused-parameter -Wstrict-prototypes -std=gnu99 -Wvla -fstack-protector-strong -fdiagnostics-color=auto -DINCLUDE_GENERATED_DECLARATIONS -DHAVE_CONFIG_H -D_GNU_SOURCE -I/tmp/nix-build-neovim-0.1.4.

[2016-06-25 16:45] ninrod commented on #4946
@justinmk, revisiting your suggestion that I did not understand at the time:

Yes, now I have checked out master again (commit 47a15d) and reverted the changes brought by merge commit 1e93e24 with `git revert -m 1 1e93e24`. the problem still occurs.

So the real fix to the issue is really to revert pull #4744 with:

`git revert -m 1 66adc2d`

[2016-06-25 17:51] justinmk commented on #4946
@zhou13 would you be able to look into this?

[2016-06-25 18:02] justinmk commented on #4961
what maximum do you suggest?

[2016-06-25 19:13] luispedro commented on #4961
I'm not sure why you need a maximum. On the nixpkgs issue someone pointed out that vim's runtimepath internal variable handles a very long search path just fine.

[2016-06-25 19:24] ZyX-I commented on #4957
@bbqtd It is not missing: `~/.share/nvim/site`. It is documentation that has `/site` suffix missing.

[2016-06-25 19:26] justinmk commented on #4961
That could be an accident of the fact that Vim doesn't use snprintf in many cases when working `IObuff`.

[2016-06-25 19:26] ZyX-I commented on #4961
@luispedro Why do you think that it is length of XDG_DATA_DIRS that is responsible for the problem and not something else?

@justinmk I did not hardcode maximum size of any kind, and do not think that adding one is a good idea.

[2016-06-25 19:29] ZyX-I commented on #4961
@justinmk If `snprintf` is not used, does not it mean overflow and not “just fine” handling? Both long `&runtimepath` and long `$XDG_*` should be just fine as long as *individual* directory names with suffixes (like `/syntax/syntax.vim`) fit into MAXPATHL.

[2016-06-25 19:33] justinmk commented on #4961
@luispedro What is the longest single path in `XDG_DATA_DIRS`? Does removing it fix the problem?

[2016-06-25 19:33] luispedro commented on #4961
Because if I manually trim XDG_DATA_DIRS down, nvim works as expected. If it's one character above 2955, it stops working.

Because of the way that NixOS works, you will end up with XDG_DATA_DIRS contains many many paths, but each individual one is a valid unix path.

[2016-06-25 19:33] #4957 closed

[2016-06-25 19:44] #4596 closed

[2016-06-25 19:47] cacplate commented on #4943
@zoqaeski can you confirm that the pull I made fix the bug?
[code]
This is a snippet given to me by @ZyX-I to fetch pull requests. Just put the alias in your .gitconfig and `git fpr 4963`. You will have a new branch named `pr-4963` and you can test it there.

[2016-06-25 19:48] #4959 closed

[2016-06-25 20:02] ZyX-I commented on #4961
I see where is the problem: while *I* did not code maximum, option is then passed through `option_expand` and it limits the whole thing to MAXPATHL.

Actually there are two bugs:

1. Options obtained by my code do not need `option_expand` at all: actually this makes paths like `/foo/$BAR/baz` be treated incorrectly.
2. `option_expand` refuses to expand if expanded option is already too long. But i

[2016-06-25 20:19] ninrod commented on #4946
just pouring in more information: if I change the block to only:

`highlight SpecialKey ctermfg=166 guifg=#d65d0e`

it works.

So it must be some issue with SpecialKey precedence versus user defined highlights.

[2016-06-25 21:39] zhou13 commented on #4946
I will have a look at this problem.  I saw you refer to `SpecialKey` but it is still not clear to me why it matters.  Do you enable `listchars` in you vimrc?  Could you give a minimal nvimrc and a test file to reprocedure the problem?

[2016-06-25 22:07] ninrod commented on #4946
@zhou13, if you look at vim help for SpecialKey, you'll see that it affects listchars.

I have this set up in my vimrc.

[code]
here's vim help:
[code]

I can try to provide a minimal setup. Just don't know how to do that yet.

[2016-06-25 22:49] #4956 closed

[2016-06-25 23:42] zhou13 commented on #4946
I see your problem.  You want to show trailing space with `·` but you don't like the its color (specified by `SpecialKey` by default) so you tried to define you own custom highlight to "workaround" this problem.  Unfortunately, my pull #4744 increase the priority of `listchar` so your workaround does not work anymore.  It is arguable that custom highlight should overwrite the highlight of `listcha

[2016-06-26 00:47] ninrod commented on #4946
I cannot see an instance when a user would want to increase listchars priority over his custom highlight rule. Can you provide an example?

If I understand correctly, custom highlight overriding listchar is the rule while listchar overriding custom user highlight is the the exception.

So I think that your pull really should provide an option to activate the behaviour of increasing the priority of

[2016-06-26 01:20] sach1t commented on #4887
Okay, so managed to fix the issue. I will be putting in a pull request soon :)

[2016-06-26 01:27] danobi commented on #4939
Hi,
I've spent some time looking into this issue and here are my findings:

- `os_file_exists` is correct in it's implementation and naming
- `os_stat(..)` succeeds when the path it's passed is an existing **file or directory**. That is to say, using `os_file_exists` will work on either a file or directory. This is because the underlying function, `uv_fs_stat`, is essentially a thin wrapper around

[2016-06-26 01:47] ZyX-I commented on #4939
@danobi `os_file_exist` naming is not correct if it succeeds on a directory.

[2016-06-26 01:52] danobi commented on #4939
@ZyX-I I will fix that, then.

[2016-06-26 02:07] justinmk commented on #4946
New options should be avoided. Let's decide on a reasonable default.

[2016-06-26 02:10] ninrod commented on #4946
I suspect that if this problem affected this specific setting of mine, it may as well affect other settings of other people. Maybe those settings are in place for years, and suddenly, when people upgrade for neovim 0.1.5, colors are all off.

This setting, for instance, for coloring extrawhitespaces, is extremely useful to me. It's only a highlight, but it enables quick and comfortable way to iden

[2016-06-26 03:02] ninrod commented on #4946
Now let me take a step back. maybe I'm wrong? Maybe `SpecialKey` should indeed have a higher priority over custom user rules because if a rule covers a special char covered by listchars then, that rule should really target specialkey?

I don't think I even know what should happen in this case. Maybe #3670 is really a bug and pull #4744 is the answer?

anyway, this solves my problem in all versions

[2016-06-26 03:25] zhou13 commented on #4946
@ninrod If you want to set the color of trailing whitespace, it is intended to set the highlight of `SpecialKey` rather than double highlighting it using a custom rule, which causes priority problem. However, the problem here is that `SpecialKey` does not only apply to the highlight of trailing whitespace but also to the other highlight such as the special char such as `<C-U>` in the output of `:m

[2016-06-26 03:30] zhou13 commented on #4946
@ninrod Also just like what I said, if you don't want to use `SpecialKey` anymore, just using
[code]
and your custom coloring rule will override `SpecialKey` I think.

[2016-06-26 03:36] zhou13 commented on #4946
@justinmk What do you think about split the highlight of `SpecialKey` into something like `Trailing`, `Tab`, `SpecialKey`, and `Unprintable` and maybe fallback to `SpecialKey` if others are not set?  At least it would be useful for me and it will cause less confusion such as this one.

[2016-06-26 03:38] ninrod commented on #4946
wait, I understood the `:map` part, but how this line `highlight SpecialKey ctermfg=166 guifg=#d65d0e` will make the color of my vimrc different? I didn't get this.

[2016-06-26 03:40] zhou13 commented on #4946
@ninrod My mistake.  It won't affect it.

[2016-06-26 10:57] ninrod commented on #4946
np @zhou13!

So in conclusion, I think we will only have a problem with your pull if user wants to give different colors to each unprintable char. Like, I want that red `tab` and blue trailing whitespaces? That perhaps seems minor. maybe this is not a bug at all. Is my understanding correct?

As for your suggestion, @zhou13, I think SpecialKey should be split in 2 categories
* `Map` for special ch

[2016-06-26 12:07] hardenedapple opened #4967 "Add register for the replace pattern ( ~ in sub-replace-special)"
I'd like a way to access the replace pattern from the last :substitute command.

At the moment there is no clean way (or at least I can't find one) to access the replace pattern in vimL.
This means that if you want to run a :substitute command in vimL, you can't preserve the behaviour of shortcuts like `&`, `g&`, `:&`, `:~`, and `:s` .
It is possible -- but via an ugly hack of using `s/^/~/`  to f

[2016-06-26 16:59] justinmk commented on #4946
Is there anything left to do here?

I'm not opposed to it, they could be `:hi link`'d to `SpecialKey` by default. Though it might not be necessary to be so granular: instead have only 2 groups: `SpecialKey` and e.g. `SpecialKeyUnprintable`.

[2016-06-26 18:28] justinmk commented on #4967
Seems reasonable for `:keeppatterns` (no bang) to preserve the replace pattern.

Yes, or more generally the global state of the editor. Incidentally, this would be useful for offloading VimL work to co-processes.

[2016-06-26 18:36] #4569 closed

[2016-06-26 18:53] justinmk opened #4970 "jobstart(): allow custom environment to be passed to the job"
libuv's `uv_spawn` allows a custom environment to be passed to the process. The `{opt}` parameter of `jobstart()` should take a `opt.env` dictionary which is mapped to the environment parameter of uv_spawn.

See also https://github.com/neovim/lua-client/pull/29

[2016-06-26 19:00] ninrod commented on #4946
maybe we should include a note in the docs about the incresead priority of listchar highlighting brough by @zhou13's pull. Other than this, I think not.

[2016-06-26 19:20] ZyX-I commented on #4970
I would say that in addition to passing custom environment, it should be possible to pass *addition* to the current environment. E.g. in https://github.com/neovim/neovim/pull/4964/commits/6626786338a9a6bc8780c0c1f35403bf1e40e559 I would rather not write

[code]

, but simply take the whole existing environment and pass it down with my additions, but there is no such option. I guess most usable sol

[2016-06-26 20:10] ZyX-I opened #4971 "Refactor API functions"
I recently came up with the idea which may speed up API functions: in place of obtaining and returning some intermediate type like Object make them all work with some kind of streams. Specifically all API function signatures should look like

[code]

where

[code]

APIOutStream structure is supposed to be used to

1. Write msgpack values directly to the channel (which is OK as long as it is uses R

[2016-06-26 20:22] bfredl commented on #4971
It would make sense to use this for functions that might pass in unlimited large datastructures, but I still think we should allow API functions with "simple" signatures (a few Integers, bools and  strings, but maybe not arbitrary Object/Reference/etc) to be declared as they are right now as otherwise we will need to write a lot of boilerplate in places we now have very clear and readable code.

[2016-06-26 20:30] justinmk commented on #4971
If it's needed for _some_ applications (#4411) certainly it makes sense to have this capability as an _alternative_ to the current model.

When you say "make them all work with streams", do you mean to deprecate the existing approach? In most cases the RPC/transport cost is not the bottleneck. The most important concern _always_ is to make things simple for API client authors and API users.

[2016-06-26 20:36] bfredl commented on #4971
It might be too crazy but I wonder if we can't combine the approaches, consider `set_lines`:

`void buffer_set_lines(Buffer buffer,Integer start,Integer end,Boolean strict_indexing, ApiInStreamTyped(ArrayOf(String)) replacement, Error *err)`

where  streamed parameter/s/ must be _last_ (so the generated wrapper can unpack the automatic arguments from the msgpack stream first, and then pass the str

[2016-06-26 20:37] ZyX-I commented on #4971
@bfredl There will not be much boilerplate:

[code]

Basically (if current types are kept) each argument in simple functions is being replaced with one `READ(…)` line plus `Error err` line in each function. I added `out.error_out` after each `api_set_error`, but obviously that could be `api_error_out(out, Exception, _("Failed to change directory"))` (BTW, why this thing is using `_`?! As long as t

[2016-06-26 20:41] bfredl commented on #4971
It might not be too much boilerplate but still I wonder why we can't just change the autogenerated wrappers to unpack from a stream instead of the `Array args`, expect for the specific api functions we really expect to handle a lot of data which will use the stream directly, instead of needing to  change them all.

[2016-06-26 20:47] justinmk commented on #4971
Yes, that should be removed. API errors don't need localization.

[2016-06-26 21:00] ZyX-I commented on #4971
@justinmk API client authors are either not affected at all, or it they will need to handle cases like “Neovim returned `[{"foo": "bar", "func": NIL, NIL: NIL, NIL: NIL}, NIL, NIL]Error("unable to pass funcref")`”: depends on whether we dump the output to the channel immediately or delay until function finishes so `out.error_out()` errors may through output away (actually as a client author I woul

[2016-06-26 21:22] bfredl commented on #4971
set_lines should _in_ _principle_ be able to use undo mechanism (create new undo header regardless of `undolevel`, undo-and-forget on failure, merge with the current one on success) to be able to validation "in process" while retaining atomic semantics.

Actually I'm considering _one_ variant of functions which could use either or (with restrictions) mix the two argument passing forms (which one c

[2016-06-26 21:44] tarruda commented on #4971
It should be noted that [libmpack](https://github.com/tarruda/libmpack) API was designed with such use case in mind: packing and unpacking arbitrarily large structures with a fixed amount of memory.

The main goal of the API was to allow direct conversion of msgpack streams to/from native data structures such as those found in languages like lua or python, but it could be adapted for usage and val

[2016-06-26 21:46] ZyX-I commented on #4971
@bfredl To be able to do validation “in process” it is enough to agree on “garbage in -> garbage out” semantics. Interaction with undo (BTW, does not #4915 need something like this as well? Some plugins may also need such temporary undo header.) will be a nice addition, but it is not absolutely required.

After some thought mixed input does not look like a bad idea. Mixed output (separate Error an

[2016-06-26 22:01] bfredl commented on #4971
#4915 happened to be simple enough as we start from a well-known state and only need to rollback the last header (well "simple" as in studying the code for quite some time and then adding the right 3 lines of code in the right place), though I'm not sure yet it is  correct with a concurrent set_lines from an async plugin or cmdline binding (but we should be able to assure it).

Definitely agree.

[2016-06-26 22:22] zhou13 commented on #4946
@justinmk @ninrod Well, at least I want them to be in such fine granular. I like to use a low contrast color to show the tabs just like the color of my EOL symbols to distinguish them from space without being distracting.  Since the trailing spaces usually are not preferred, I'd like to highlight them with a red background color so they are noticeable.  For the highlight in `:map` and unprintable,

[2016-06-26 22:35] zhou13 commented on #4946
Furthermore, if someone wants to customize the highlight of trailing space using code
[code]
they can just add
[code]
without affecting other color.

[2016-06-26 22:53] justinmk commented on #4946
Reviewing the thread here, and noting the documentation of `:help matchadd()` (and `:help :match`):

I'm reminded that the expected behavior of `matchadd()` (and `:match`) is that it overrules normal highlighting. This is important for plugins like easymotion.

The search highlight example doesn't seem important. It's more important that `matchadd()` and `:match` continue to behave predictably.

I

[2016-06-26 23:10] zhou13 commented on #4946
You are right.

[2016-06-27 09:17] alexandnpu commented on #2333
I still have the problem with `NVIM v0.1.5-488-ga2ecbc2`

[2016-06-27 14:19] burningTyger opened #4975 "YAML syntax highlighting"
- `nvim --version`: NVIM v0.1.4-179-ga7a0bf5
- Vim (version: ) behaves differently?
- Operating system/version: Arch Linux
- Terminal name/version: Gnome Terminal
- `$TERM`: xterm-256color

This yaml snippet:
[code]
### Actual behaviour
`#{some code}, xxxxx` is highlighted as comment

### Expected behaviour
`#{some code}, xxxxx` should be highlighted as string

### Steps to reproduce using `nvim -

[2016-06-27 14:38] justinmk commented on #4975
This bug is in the runtime plugins (which we import from Vim). We can't afford to track every single problem with the runtime plugins in the Neovim issue tracker, because we aren't going to fork the runtime plugins in most cases (especially syntax plugins).

Syntax plugins (e.g. for ruby/java/YAML) are maintained by the maintainer listed at the top of the plugin file.

[2016-06-27 14:38] #4975 closed

[2016-06-27 17:09] raichoo opened #4976 "terminal: display issue with ambiguous-width chars (emoji, ...)"
- `nvim --version`: NVIM v0.1.5-530-gae9cb1f
- Operating system/version: archlinux
- Terminal name/version: gnome-terminal 3.20.2
- `$TERM`: xterm-256color
### Actual behaviour

![brokenterm](https://cloud.githubusercontent.com/assets/151506/16388589/2013ee9c-3c9a-11e6-9f87-dcac26083c28.png)

It looks like this has been introduced with ae9cb1fe07d34289ebe4a929bfca8a07aab85b9f. I'm using the `__ter

[2016-06-27 17:49] hkupty opened #4977 "Closing terminal window from script causes insert mode to remain on"
- `nvim --version`: NVIM v0.1.5-475-ga2ecbc2
- Vim (version: ) behaves differently? N/A
- Operating system/version: MacOX El Capitan (10.11.5)
- Terminal name/version:  iTerm2 3.0.2
- `$TERM`: xterm-256color

### Actual behaviour
When closing a term window from a script, if entering a term triggers input mode it will remain on input mode after closing term

### Expected behaviour
Should be at norm

[2016-06-27 18:42] burningTyger commented on #4975
ok, thank you, @justinmk . Let's call @ZyX-I's attention then.

[2016-06-27 18:48] ZyX-I commented on #4975
@burningTyger I already saw this, but not going to fix it. I have no idea how to reliably and efficiently write a region in this case.

[2016-06-27 18:55] burningTyger commented on #4975
@ZyX-I ok, no problem. Doesn't really bother me but thought it would be better to at least report it.

Thank you both for your great work on vim!

[2016-06-27 19:15] dmerejkowsky opened #4979 "TabNewEntered is not triggered when using <CTRL-W> T"
- `nvim --version`: NVIM v0.1.5-536-g9fb8adf
- Vim (version: ) behaves differently? N/A
- Operating system/version: Arch Linux
- Terminal name/version: XFCE terminal
- `$TERM`: xterm

### Actual behaviour

TabNewEntered is not triggered when using `<CTRL-W> T`

### Expected behaviour

TabNewEntered should be triggered

### Steps to reproduce

[code]

[code]

Note: I've written a failing test on [m

[2016-06-27 23:39] akavel commented on #3428
I've tested on my console (tty, TERM=linux), that with ANSI codes I'm able to get ~16 colors (`\033[30m` to `...[37m`, plus `...[30;1m` to `...[37;1m`), and similar number of combinations for background colors (`\033[40m` to `...[47m`, plus `...[40;5m` to `[47;5m`). But nvim seems only to be able to access the "lower" half (8) of fg colors via ctermfg+cterm+term (so I suppose that the same applies

[2016-06-27 23:45] justinmk commented on #3428
@akavel checkout syntax.c, start with `do_highlight`.

[2016-06-28 10:31] mbudde opened #4981 ":drop regression"
- `nvim --version`: Version: 0.1.4ubuntu1+git201606271309+2617+20~ubuntu12.04.1
- Vim (version: ) behaves differently? Yes
- Operating system/version: Ubuntu 12.04, Ubuntu 14.04

I believe the feature worked in neovim 0.1.4ubuntu1+git201606181956+2603+20~ubuntu12.04.1.

### Actual behaviour
`:drop` opens a buffer in the background and not in the current window, if buffer is not visible in another

[2016-06-28 10:36] fmoralesc commented on #4979
I think this will fix it:
[code]

[2016-06-28 11:08] justinmk commented on #4977
Vim behaves the same way if you close a split from insert-mode with e.g. `<c-o>:q<cr>`, so this is by design.

[2016-06-28 11:09] #4977 closed

[2016-06-28 12:11] obidan commented on #3929
I'm having the exact same issue but using Vim. I don't think this is a neovim problem.

[2016-06-28 12:13] obidan commented on #3929
Also,  any syntax enabling seemed to trigger the bug for me as well . Deleting plugins one by one, I realised that if any words appear in the text as highlighted in another color  then the issue happens.
Just got the new Ubuntu patch and, I"m having the issue using C++ and YouCompleteMe but it happens once every 4-5  refreshes , so rather inconsistently.

[2016-06-28 12:24] akavel commented on #3428
I skimmed over the `do_highlight`, but it seems to mostly set stuff in some table (HL_TABLE). I didn't state this clearly enough, sorry, but what I'm actually having trouble with, is finding the final part, where the actual *escape codes* are generated and *printed to the terminal*. But now that you said, I noticed the func does seem to also do some additional stuff in a few cryptically named call

[2016-06-28 12:41] hkupty commented on #4977
:+1:

[2016-06-28 13:01] dumblob opened #4982 "Language Server Protocol for IDEs and text editors"
Just now news about Red Hat and others joining Microsoft's effort to "standardize" a protocol for communication between an IDE and an editor server reached me.

It would be wise to take this into consideration when doing some changes to RPC API, developing modules, etc.

https://github.com/Microsoft/language-server-protocol

[2016-06-28 13:06] justinmk opened #4983 "remove ScreenLines2"
After https://github.com/neovim/neovim/pull/2905 is merged, `ScreenLines2` can be removed: it only exists for `euc-jp` encoding. cc @bfredl

[2016-06-28 13:11] justinmk commented on #3428
@akavel `screen_char` (and `ui_putc` and `ui_puts`) does the printing.

Before that, `syn_id2attr` gets the attribute value, `syn_current_attr` returns that eventually to `win_line()` which is where the magic happens: somewhere in that mess, the global `ScreenAttrs` is updated. `ScreenAttrs` is a parallel structure that applies to `ScreenLines`, which contains the state of the screen, which is use

[2016-06-28 13:26] justinmk commented on #4982
This is great to see. Steve Yegge long ago described something like this in the [grok project](https://en.wikipedia.org/wiki/Google_Kythe). Then he got swallowed up by sweet G.

I think YCM also had similar ambitions, I wonder what @valloric thinks about this.

At any rate I'm not sure it _directly_ affects anything we've done up to this point, nor did we have plans to dictate something like this

[2016-06-28 13:37] bfredl commented on #4982
I would imagine the neovim side of this protocol could be implemented as a python (or lua) plugin, similar to how vim-ycm is a json client to ycmd, but with use of nvims better async capatibilities. (In fact I have imagined prototyping an async-aware nvim-ycmd myself, but never really got the time to do it)

[2016-06-28 21:16] dmerejkowsky commented on #4979
@fmoralesc  Applied your patch, test still fails. Will have a look later, this may be a good starting point :)

[2016-06-28 21:18] fmoralesc commented on #4979
Ah, I tried it manually and it worked, so there's that ;) At any rate, I think the choices are either to modify it there, or modify the `goto_tabpage_tp` function so it handles new tabs.

[2016-06-28 21:23] akavel commented on #3428
@justinmk thanks, that helped a lot! I've plugged some *fopen("/tmp/dbg")* and *fputs/fwrite/fprintf* into `unibi_out` and `out` funcs in `tui.c` to capture the escape sequences. The captured escape sequences, returned by *unibi_get_str* and *unibi_get_ext_str*, appear to be correct, and match [what is returned by *tput*](http://linuxcommand.org/lc3_adv_tput.php). But the final escape codes are ba

[2016-06-28 21:41] dmerejkowsky commented on #4979
Aha! It was a bug in the test, using `<CTRL-W>` instead of `<C-W>`

I've made a MR with your patch :)

[2016-06-28 22:30] jalvesaq commented on #3428
@akavel My patch was an ad hoc change to improve my particular case, and I guess it will not fix anything in other Unix-like systems. Moreover, I almost never use the linux console.  So, please, go ahead and submit the PR, changing anything that you think is necessary. Thanks!

[2016-06-29 01:48] #4979 closed

[2016-06-29 07:18] ninrod commented on #4946
See if I understand correctly: the problem here is that I'm specifying a `match` rule that is not overruling a highlight rule (SpecialKey's highlight rule) but it should. Based on this, it's really a bug.

is that right?

[2016-06-29 12:49] HarmtH commented on #4979
This bug was actually a sort of duplicate of #4334, could you have a look at that one too again @fmoralesc @dmerejkowsky ?

[2016-06-29 16:34] justinmk commented on #4946
@ninrod Right, `:match` and `matchadd()` always overrule other highlighting.

[2016-06-29 18:07] HarmtH commented on #4334
TabNewEntered still isn't triggered on a ```:tab split```, although TabNew is. This bug report shouldn't be closed yet.

[2016-06-29 19:56] guiniol commented on #4308
I don't want to open yet a bug report, but I still have this issue.
neovim: 0.1.4
rxvt-unicode (with TERM rxvt-unicode-256color) with zsh.

The bug seems to come from these lines in my `Xdefault`
[code]

I had to put them to get another application to work (fzf)

Everything works fine in tmux (screen-256color).

`infocmp` gives 7&8 instead of 1&4. It does give 1&4 for tmux.
Also, if I change my `X

[2016-06-29 20:25] justinmk commented on #4308
We don't have very good support for rxvt right now.

I have a question: What is the reason for using rxvt these days? Only reason I ever heard was "it's, like, fast", but I doubt very much that there are not xterm-compatible alternatives that are as "fast" and have similar features.

I genuinely would like to find out if there is a reason for us to spend time trying to support rxvt and its variant

[2016-06-29 21:19] guiniol commented on #4308
Honestly, mostly for a few scripts that I have keybound. They allow me to cut/paste, open url, change font size etc.. from the keyboard. Also, I use i3 (window manager only, no desktop env), and the 'all keyboard" integrates nicely with my workflow, and urxvt doesn't require my installing gnome or kde or whatever. I haven't tried to change for a little while, so these maybe solved. I have no idea

[2016-06-29 21:23] justinmk commented on #4308
I've heard good things about http://st.suckless.org . The readme mentions clipboard support.

Isn't `xdg-open` the standard way to open URLs on linux?

[2016-06-29 21:28] guiniol commented on #4308
what I mean is that I press a shortcut and I can select a url in the history and then it opens it via xdg-open. No need for a mouse.

I'll take a look but I seem to recall `st` doesn't have a configuration file and requires compiling instead, which would be annoying when changing system, updates, etc...

[2016-06-29 21:43] justinmk commented on #4308
For future reference, @guiniol's problem was resolved here: https://github.com/junegunn/fzf/issues/279#issuecomment-229480677

[2016-06-29 21:44] guiniol commented on #4308
@justinmk thanks. Forgot to mention it...

[2016-06-30 11:26] zoqaeski commented on #4943
Done and can confirm that your pull did indeed fix the bug (at least, from
testing using the example one-liner in the original report).

Also neat git alias :)

On 26 June 2016 at 05:47, Charles Joachim <notifications@github.com> wrote:

[2016-06-30 13:48] cacplate commented on #4943
Great. I believe there is still some work to be done on the PR but it will probably land in master soon enough.

[2016-06-30 13:52] dphase opened #4987 "Build failure on helptags"
- commit 204f557a11e27b20a0343788500b4bdda36d4c3f
- Operating system/version: OS X

[code]

[2016-06-30 14:20] mhinz commented on #4987
Try `make distclean; make`.

[2016-06-30 14:25] dphase commented on #4987
@mhinz that did it -- thank you.

[2016-06-30 14:25] #4987 closed

[2016-06-30 15:21] khamer opened #4988 "True Color Not Working In 0.1.5"
[code]

- **OS:** Ubuntu 15.10 (x86_64)
- **Terminal:** Termite v11-29-g3170adf ; but I was also able to duplicate this in roxterm
- **$TERM**: $TERM is typically xterm-termite or screen (if running through tmux)

### Actual behaviour

guifg/guibg don't seem to be used even with termguicolors set.

### Expected behaviour

guifg/guibg should be used.

### Steps to reproduce using `nvim -u NORC`

Th

[2016-06-30 15:47] khamer commented on #4988
This was figured out over gitter - @justinmk pointed out that termguicolors can't be set at run time.

The following works:

[code]

As does having it in a vimrc or equivalent.

[2016-06-30 15:47] #4988 closed

[2016-07-01 05:19] themightyoarfish opened #4990 "Color escape sequences mess up terminal when running external programs"
- `v0.1.5-447-ge247e3a`:
- Vim (version: 7.4 1-1558) behaves differently? Yes
- Operating system/version: OSX 10.10.5
- Terminal name/version: iTerm 3.0.4
- `xterm-256color`:

### Actual behaviour
Running an external command which uses color escape sequences (such as `:!ipython %`) gives this:

[code]

### Expected behaviour
In classic vim it works (and is actually colored)
[code]
It works with th

[2016-07-01 08:16] baskerville opened #4992 "autochdir initially ignored"
- `nvim --version`: v0.1.5-539-g204f557
- Vim (version: 7.3) behaves differently? **Yes**
- Operating system/version: Darwin 15.5.0 x86_64
- Terminal name/version: iTerm2 3.0.20160601
- `$TERM`: xterm-256color

### Steps to reproduce

[code]

### Expected behavior

When pressing *wildchar*, the suggested completions should be *i*, *j* and *k*.

### Actual behavior

The suggested completions are *a

[2016-07-01 08:17] ZyX-I commented on #4990
This question was already raised muliple times: e.g. #3474, there is even a [FAQ entry](https://github.com/neovim/neovim/wiki/FAQ#-and-system-do-weird-things-with-interactive-processes).

[2016-07-01 08:17] #4990 closed

[2016-07-01 10:35] #4981 closed

[2016-07-01 13:16] khughitt opened #4997 "terminal text clipped after resizing window"
- `nvim --version`: NVIM v0.1.5-508-g47a15d0
- Vim (version: ) behaves differently? N/A
- Operating system/version: Arch Linux (64-bit Linux 4.6.3-1)
- Terminal name/version: rxvt-unicode v9.22
- `$TERM`: rxvt-256color

### Actual behaviour

Text in Neovim terminal becomes clipped on the right side after reducing window size to a width smaller than what is displayed.

### Expected behaviour

Termi

[2016-07-01 15:14] justinmk commented on #4997
This is because of https://github.com/neovim/neovim/pull/4929#issuecomment-227501548.

As I mentioned there, instead of forcing the resize at every BufEnter/WinEnter, I think instead the terminal resize should only happen on `:redraw!` / `<C-L>` .

Those who want to force it unconditionally can set up a handler:

    au TermOpen * au <buffer> BufEnter,WinEnter redraw!

But in most cases I think th

[2016-07-01 15:23] edi9999 opened #4998 "Installing plugins with vim-plug over ssh gives error E440"
- `nvim --version`:

[code]
- Vim (version: ) woks fine
- Operating system/version: Ubuntu 16.04
- Terminal name/version: ssh
- `$TERM`: screen-256color

See this issue : https://github.com/junegunn/vim-plug/issues/499
### Actual behaviour

Here's a minimal .vimrc :

[code]

Then do

[code]

This crashes with an error :

[code]
### Expected behaviour

It should be installing the plugins. It crashe

[2016-07-01 15:31] justinmk commented on #4573
Is any action required here?

[2016-07-01 15:31] #4573 closed

[2016-07-01 15:34] justinmk commented on #4560
I don't understand any of the information here.

[2016-07-01 15:34] #4560 closed

[2016-07-01 15:42] khughitt commented on #4997
That makes sense. I agree with your suggestions about the default redraw behavior.

Thanks for the explanation!

[2016-07-01 15:55] mhinz commented on #4997
Sigh.. :)

Okay, I'll revert the merge and enhance `:redraw`/`<c-l>` instead.

[2016-07-01 16:14] justinmk commented on #4997
@mhinz to be clear, `:redraw!` (with bang) should be required. Non-bang `:redraw` happens far too often...

[2016-07-01 16:17] justinmk commented on #4997
@mhinz Also I think totally reverting #4929 is not necessary. Perhaps it could be modified to resize only if the target size is greater than the previous size. That way https://github.com/neovim/neovim/issues/4820 and https://github.com/neovim/neovim/issues/3864 won't regress.

[2016-07-01 18:15] raichoo commented on #4976
I reverted 6e79a4d7f640369834d782fb71c62e8bf14b2dc3 and it turns out that this seems to be the culprit.

[2016-07-01 18:53] justinmk commented on #4976
That's surprising. @ZyX-I does this make any sense to you?

[2016-07-01 19:06] jamessan commented on #4976
[code]

U+26A1 ( ⚡) was changed from N(arrow) to W(ide).  Neovim thinks the glyph should take up more space than the other relevant components do.  Rebuilding the rest against the updated Unicode data would likely fix it, but I'm not sure what the other relevant parts are.

[2016-07-01 19:37] jamessan commented on #4998
Can you reproduce the behavior by running `sh -c 'nvim +PlugInstall +qall'`?

[2016-07-01 20:33] dead10ck commented on #2454
Just want to chime in here that this issue is unfortunately making NeoVim unusable for me. I can't use it if I have to limit how fast I type.

[2016-07-01 20:52] justinmk commented on #2454
@dead10ck As mentioned in the comment immediately above your, any issue with _human_ input was fixed in https://github.com/neovim/neovim/pull/3982. However you didn't mention what symptoms you're seeing, or any other information, so I can only guess.

[2016-07-01 21:10] ZyX-I commented on #4976
“Other relevant parts” should be at least libvterm. Also terminal emulator in which you run Neovim, but that thinking different should yield different kind of bug.

If you have screen/tmux/etc (something which needs to know widths, tmux needs this due to vertical splits and also because it needs to know when to wrap) then they also.

[2016-07-01 21:10] dead10ck commented on #2454
@justinmk I beg to differ; the change you linked to has been out since at least 0.1.4, which is what I'm running, and if I hit escape and then any other key too quickly, it doesn't register.

[2016-07-01 21:35] justinmk commented on #2454
@dead10ck Are you using tmux? Did you set `escape-time`? What are `'ttimeout'` and `'ttimeoutlen'` in Neovim?

In Neovim, try `:set nottimeout`. Please note the **two t's**.

If you are using tmux, `set-option -sg escape-time 2` should help. (Neovim has no control over tmux.)

[2016-07-01 21:50] justinmk commented on #2454
Also try `:set ttimeout ttimeoutlen=2`.

[2016-07-01 21:52] dead10ck commented on #2454
Nope, just from a shell. Ah, but setting `nottimeout` does appear to fix it. Thanks! I did see it mentioned above, but others commented that that did not fix it for them, and I am not using screen or tmux. Forgive me, for I am not that intimately familiar with what escape sequences are in the context of a shell or why they are necessary, but it seems strange to have to set this variable to get nvi

[2016-07-01 21:54] justinmk commented on #2454
Yeah, that was before https://github.com/neovim/neovim/pull/3982.

This has given me some ideas about improvements to these options, I'm going to work on it later today. The documentation also is very incomplete.

[2016-07-01 21:56] justinmk commented on #2454
`nottimeout` is the default. Perhaps your migrated vimrc is setting it. We should warn about that in `:CheckHealth`.

[2016-07-01 22:02] akavel commented on #2912
(Related: #3428)

[2016-07-01 22:06] dead10ck commented on #2454
@justinmk Oh, I see. Perhaps one of my plugins is setting it or something. Thanks for your help!

[2016-07-02 00:05] #4992 closed

[2016-07-02 07:24] edi9999 commented on #4998
I get the same error if I first interactively connect to thte machine with ssh, and then run `sh -c 'nvim +PlugInstall +qall'` in the same bash session.

Strangely, If I use the same minimal .vimrc locally, and run `sh -c 'nvim +PlugInstall +qall'`, I don't get the problem

[2016-07-02 07:45] timfeirg commented on #4511
CMakeFiles/busted.dir/build.make:51: recipe for target 'usr/bin/busted' failed

it's probably a network issue, the build fails because it can't download https://raw.githubusercontent.com/Olivine-Labs/busted/v2.0.rc11-0/busted-2.0.rc11-0.rockspec.

[2016-07-02 17:04] dmerejkowsky commented on #4334
Can confirm the bug is still here for `:tab split`

I have an other failing test to prove it here:
dmerejkowsky/neovim@4313e1b08ea724f8524ebfa92879726797135e06

[2016-07-02 17:55] #4511 closed

[2016-07-03 03:16] justinmk opened #5000 "build automation / devops tasks"
There are various build "automation" or "devops" tasks that we could use help with.

If you want to help, then:

- Find a task in the bot-ci repo: https://github.com/neovim/bot-ci/issues
- Send a PR to the bot-ci repo: https://github.com/neovim/bot-ci/
- Do not ask if you can help. Just send a PR.

### Background

The Nvim build system lives in the Neovim repo ([.ci/](https://github.com/neovim/neo

[2016-07-03 05:55] #2912 closed

[2016-07-03 05:55] #3428 closed

[2016-07-03 08:02] justinmk commented on #4777
This is now mentioned in `:help nvim-features-changed`.

[2016-07-03 11:41] oni-link commented on #1410
Measuring the time for formating all of `eval.c` directly in the [clang-format.py](https://github.com/llvm-mirror/clang/blob/master/tools/clang-format/clang-format.py), I found that the following loop accounts for nearly the total time of `14s`:
[code]
Every use of `vim.current.buffer` takes approx. `10^-4s` ( for vim it is `10^-5s...10^-7s`) and accounts for `0.1s` ( ~`1000` times called).
Looks

[2016-07-03 12:20] tarruda commented on #1410
TL;DR It might be possible to fix in the python host.

It seems the difference is caused by the overhead of IPC(serialization/copy/deserialization), and if so, the clang script has hit a limitation of Neovim emulation of vim's python API: A plugin can't send IPC requests in a loop as if it was calling a function in the same process.

I once had the same problem with another plugin(I think it was Y

[2016-07-03 16:52] bfredl commented on #1410
There is also the cost of roundtrips (context switches in this case). That `SequenceMatcher` would have two context-switches not only per line, but per _line_ _access_, which probably dwarfs the cost of just copying the data.

Also for `vim.current` it seems reasonable to use update notifications (in this case not only "invalidation", but the actual value) instead of two context switches per `vim.

[2016-07-04 09:27] caneta opened #5006 "netrw :Explore command closes current opened buffer"
- `nvim --version`: 0.1.5-dev
- Vim (version: 7.4.1907) behaves differently? yes
- Vim netrw version: 156
- Neovim netrw version: 155
- Operating system/version: Ubuntu Linux 12.04
- Terminal name/version: gnome-terminal 3.12.3
- `$TERM`: xterm

### Actual behaviour
If I open a file with Vim and then I want to open anther one with `:Explore`, the current opened buffer is kept and I get two buffers

[2016-07-04 13:51] ZyX-I commented on #5006
This looks like you simply do not have `set hidden` in your vimrc used by Neovim. In this case such behaviour is expected.

[2016-07-04 13:55] caneta commented on #5006
But I have `set hidden` on both: in Vim and Neovim test cases reported above, typing `:set hidden?` I get `hidden`.

[2016-07-05 00:59] mhinz commented on #5006
@caneta  We have to catch up on a few runtime patches. Check `:echo g:loaded_netrwPlugin`. In Vim it's v156, in Neovim v155.

[2016-07-05 06:03] timeyyy commented on #4816
is the better design here a vim unaware solution? An implementation like any other text editor might have. Completely unaware of jumplist and existing vim marks?

[2016-07-05 06:45] caneta commented on #5006
Yes, I had reported netrw versions in my first post, so will wait for that.
Anyway, is that behaviuor reproducible with steps described? Someone who tried it?

[2016-07-05 07:58] KillTheMule commented on #5006
You could update netrw manually to see if that fixes it.

[2016-07-05 08:14] caneta commented on #5006
@KillTheMule so you encounter the same issue?
How to do what are you suggesting?

[2016-07-05 08:32] KillTheMule commented on #5006
No, I do not use netrw, and do not have a chance to test right now. You can download the latest version at http://www.drchip.org/astronaut/vim/index.html#NETRW (or from http://github.com/vim/vim, not sure what version they're at).

[2016-07-05 08:33] caneta commented on #5006
Ok thanks...and how can I do to install it, substituting the bundled one?

[2016-07-05 08:38] KillTheMule commented on #5006
That would be the easiest way, just overwrite that one file. Be sure to make a backup of the old one though, it might give you trouble.

[2016-07-05 09:00] caneta commented on #5006
Ok, I confirm that using netrw version 156 solves this issue for Neovim.

My test steps follows:
1. I've downloaded the latest Vim version at time of writing: [7.4.1989](https://github.com/vim/vim/releases), which contains netrw v156
2. I've made a backup of Neovim netrw-v155 files inside `/usr/share/nvim/runtime/autoload`:
[code]
3. I've copied the same files (netrw-v156) from `vim-7.4.1989/runti

[2016-07-05 12:18] shenchsh commented on #3929
@lvht It seems that you can solve this problem by disable native full screen windows in iterm2.
Iterm2: Preferences->general-> Native full screen windows.

[2016-07-05 13:28] rjmill commented on #4930
I've had similar issues with writing ruby in vim, and my understanding is that slowdowns like this are often related to the regex engine vim uses for syntax highlighting.

Try putting `set re=1` in your vimrc (or init.vim). That will force it to use an older regular expression engine that handles ruby syntax  better. (You'll need to reload your file with `:e` to see any change.)

[2016-07-05 15:29] scps950707 commented on #4838
I meet this problem too, after google for answer [here](https://groups.google.com/forum/#!topic/ycm-users/Gt7FDiS-06M)
[code]
I fix this problem

[2016-07-05 15:31] oni-link commented on #3772
@memeplex, looks like e9061117a5b8f195c3f26a5cb94e18ddd7752d86 fixed this problem.

[2016-07-05 15:42] #3772 closed

[2016-07-05 19:01] gilmrjc opened #5009 "Add vterminal and sterminal commands"
As mentioned in #3192 the command to open a terminal window should be implemented using :sterminal and :vterminal commands.

[2016-07-05 19:04] frangio opened #5010 ":tnoremap and similar (i.e. mapmode-t) are not documented"
The documentation lacks any information regarding the mapmode corresponding to the terminal emulator. It should be mentioned in the "Key mapping" section.

[2016-07-05 19:04] raichoo commented on #4976
`pacman` reports the following for `libvterm`

I'm not running in `screen` or `tmux` just a plain old `gnome-terminal`.

[2016-07-05 19:11] mhinz commented on #5009
`:vterminal` as a shortcut for something as short as `:vsplit | terminal` or `:vs +te`?

I'd vote against this, but wait for others to chime in. :)

[2016-07-05 19:57] bfredl commented on #4816
Depends what you mean with "vim unaware". I would expect this to use `mark_adjust`, but I don't see how this feature could be related to the jumplist?

[2016-07-05 20:45] justinmk commented on #5006
This bug is in the runtime plugins (which we import from Vim). We can't afford to track every single problem with the runtime plugins in the Neovim issue tracker, because we aren't going to fork the runtime plugins in most cases (especially netrw, syntax plugins, etc.).

[2016-07-05 20:45] #5006 closed

[2016-07-05 23:19] justinmk commented on #4976
Can someone send a patch, or should we revert 6e79a4d ?

[2016-07-06 01:57] rjmill opened #5011 "Shift+tab in the embedded terminal doesn't work as expected"
- `nvim --version`: v0.1.5-560-ga535868
- Vim (version: ) behaves differently? N/A
- Operating system/version: Arch Linux
- Terminal name/version: rxvt-unicode-256color v9.22
- `$TERM`: rxvt-unicode-256color
### Actual behaviour

Using shift+tab in nvim's embedded terminal plops out a weird character. (It looks different depending on what shell you're using and whether or not you're using tmux.)
#

[2016-07-06 02:14] rjmill commented on #5011
shift+tab is being converted to a single key `K_S_TAB`, and the shift modifier is being removed before being converted to VTERM key codes.

Handling `K_S_TAB` in `terminal.c`'s `convert_key()` by manually setting `VTERM_MOD_SHIFT` and returning `VTERM_KEY_TAB` fixes this issue. If there are no objections, I can go ahead and submit a pull request after I make sure this doesn't break anything else.

[2016-07-06 02:29] justinmk commented on #5011
No objections. Thanks for digging into it!

[2016-07-06 02:39] justinmk commented on #5011
Though the next question will be what to do with `K_S_END`, `K_S_F1`, `K_S_F2`....

[2016-07-06 02:43] justinmk commented on #5011
I think we should instead investigate whether `mod_mask & MOD_MASK_SHIFT` should be set earlier in the input process (`keymap.c`, most likely). And then the question is whether the `K_S_*` variants are needed at all. For example, here we are checking both cases:

https://github.com/neovim/neovim/blob/a5358688bc91b2d72bf4eddea7938003d1fcde93/src/nvim/edit.c#L989-L1001

but I have a feeling the `K_S

[2016-07-06 02:55] rjmill commented on #5011
Yeah, the shift stuff looks pretty wonky. I was looking into the function keys too, and I think I got F5-F12 working, but F1-F4 are tricky because of how VT220 expects the key codes. It might be something that requires a change in VT220 itself.

I'm not 100% sure, but I think `mod_mask & MOD_MASK_SHIFT` are set earlier, but are converted to their `K_S_*` equivalent before terminal-ifying them. I'l

[2016-07-06 03:03] justinmk commented on #5011
In that case it would be good enough to un-convert it, if possible, right when it gets to the terminal logic.

We can save the mass-removal of `K_S_*` (if it's even appropriate) for later.

[2016-07-06 04:55] rjmill commented on #4343
I think I have a mostly working solution for this. Converting vim's `K_F*` keys to VTerm keycodes using VTERM_KEY_FUNCTION(n) has F5-F12 working pretty well. F1-F4 produce letters P-S along with some newlines.

Interestingly enough, htop seems to recognize and accept all the function keys (even F1-F4) and work as expected.

I'll open a [WIP] pull request for this and start working on a fully worki

[2016-07-06 05:20] rjmill commented on #4343
More info:
I've discovered where the P-S characters are coming from using this script:
 `for x in {1..12}; do; echo -n "F$x "; tput kf$x | cat -A; echo; done`

**output in rxvt-unicode**
[code]

**output in nvim's terminal**
[code]

Also worth noting that not only does this fix work fine in htop, but it also works fine in bash. The extra characters being output might just be a problem with zsh not

[2016-07-06 06:10] rjmill commented on #4343
Scratch all that. Tested this in gnome-terminal, and it exhibits the same wonky behavior as nvim's terminal.

Also, for anyone dealing with similar issues with function keys in the future, this is a good read: http://aperiodic.net/phil/archives/Geekery/term-function-keys.html
(The takeaway in this case is to expect nvim's terminal to function more like gnome-terminal or xterm than urxvt.)

[2016-07-06 06:26] timeyyy commented on #4816
Jumplist was just an irrelevant example. I meant things such as "mymark.

For the internal implementation I have found 2 nice examples. They seem similar enough.

https://github.com/GNOME/gtk/blob/master/gtk/gtktextmark.c
http://core.tcl.tk/tk/artifact/ced75a1f1d9c93ff

I will be using them as a basis for the design

[2016-07-06 09:07] timfeirg commented on #4998
`vim-plug` uses `git clone https://git::@github.com/%s.git` to clone the plugins, could @edi9999  try a `git clone` via https on the remote machine (on which `PlugInstall` would fail) to verify that this wasn't a network issue on that particular machine?

[2016-07-06 09:34] edi9999 commented on #4998
I have no issue when I just do a git clone via https on the remote machine.

[2016-07-06 09:46] edi9999 commented on #4998
The problem seems to happen because of the `+qall`.

nvim +PlugInstall runs some async jobs, and +qall tries to kill them, which is the cause of the bug

[2016-07-06 09:51] edi9999 commented on #4998
Probably related to Probably related to https://github.com/junegunn/vim-plug/issues/104

[2016-07-06 12:21] edi9999 commented on #4998
It has to do with python-nvim not being installed, if I install it with `pip install neovim`, it works fine

[2016-07-06 22:52] justinmk commented on #4816
@timeyyy how will it follow edits?

[2016-07-07 00:02] ssreekanth commented on #3929
@ivht workaround works fine, when switching iterm to full screen mode. However, the issue is still there when exiting from full screen.

[2016-07-07 00:13] obidan commented on #3929
Can anyone pinpoint as to what is causing this exactly? This isn't an iterm problem as I"m experiencing it on Ubuntu and isn't a neovim problem as I'm experiencing it on classic vim.  @wsdjeg 's  solution works if vim-airline is disabled, but doesn't work with vim-airline on.

[2016-07-07 08:11] timeyyy commented on #4816
@justinmk as far as i can tell if i call the SET_XFMARK macro things should work. I will start with just a hashmap as @bfredl suggested and we can go from there.

[2016-07-07 13:28] sittim opened #5016 "Incorrect type highliting for C++ cast operators when using vim-cpp-enhanced-highlight"
- `nvim --version`: `Build type: RelWithDebInfo
Compilation: /usr/bin/x86_64-linux-gnu-gcc -g -O2 -fstack-protector-strong -Wformat -Werror=format-security -Wconversion -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=1 -O2 -g -DDISABLE_LOG -Wall -Wextra -pedantic -Wno-unused-parameter -Wstrict-prototypes -std=gnu99 -Wvla -fstack-protector-strong -fdiagnostics-color=auto -DINCLUDE_GENERATED_DECLARATIONS -DHAVE

[2016-07-07 13:42] mhinz commented on #5016
This is most likely a runtime "issue". We usually don't alter those, but port them from Vim from time to time.

[2016-07-07 13:52] sittim commented on #5016
Updating runtime from official VIM repo, does not resolve the issue

Copied the the c.vim and cpp.vim from the VIM official repo to nvim/runtime/syntax directory, restarted terminal.

[2016-07-07 14:11] justinmk opened #5017 ":term buffer does not set '[ and '] marks correctly"
- `nvim --version`: `NVIM v0.1.5-536-g9fb8adf`

### Expected behaviour

When `:term` buffer contents change, the `'[` and `']` marks should be set to something reasonable.

See http://stackoverflow.com/a/38247473/152142.

[2016-07-07 14:12] justinmk opened #5018 "terminal-mode events: InsertCharPre, TextChangedI, CursorMovedI"
### Expected behaviour

- When `:term` buffer contents change while user is in "terminal mode" (insert mode), insert-mode events such as ~~`TextChangedI`, `CursorMovedI`,~~ `InsertCharPre` should fire.
  - See also http://stackoverflow.com/a/38247473/152142.

Update: it makes sense to implement `InsertCharPre` because Nvim knows exactly what the user sends. But `TextChangedI`  and `CursorMovedI` a

[2016-07-07 14:17] justinmk commented on #5016
@sittim Can you try a more recent version of vim (say 7.4.1800+)?

[2016-07-07 14:27] jamessan commented on #5016
vim-cpp-enhanced-highlight is what's providing the augmented syntax highlighting, so the upstream syntax highlighting isn't particularly relevant.

@sittim Are you sure you're using the same version of vim-cpp-enhanced-highlight in both Vim and NeoVim?  Do you have any of the addons configuration variables let in your Vim config that aren't also set in the NeoVim config?

With your cursor in the w

[2016-07-07 14:42] mhinz commented on #5016
@jamessan But it could reuse groups or clusters from the shipped runtime. It's only "enhancing" after all. :)

[2016-07-07 14:49] sittim commented on #5016
## 1. Per @justinmk
 Built VIM from source:
[code]
Same result:
![selection_024](https://cloud.githubusercontent.com/assets/8825037/16656881/5d21fad6-442e-11e6-9c55-266dbb6f77db.png)

## 2. Per @jamessan
Copied ~/.vimrc to ~/.config/nvim/init.vim
**Issue went away**, but what can be causing it?  So now I am into process of elimination.

[2016-07-07 14:59] sittim commented on #5016
OK

I can be such an idiot, this causes the issue:
`let g:cpp_experimental_template_highlight = 1`

It helps with templates, breaks the cast.

[2016-07-07 14:59] #5016 closed

[2016-07-07 22:36] rjmill commented on #5011
For now, I can just drop the `K_S_*` versions of the keys into switch statement before their unshifted counterparts and let it fall through after applying the shift modifier. That switch statement is going to be huge and messy after I add the function keys, their shifted versions, and the other shifted special keys that aren't working right now.

A mass-removal of `K_S_*` probably isn't feasible t

[2016-07-07 23:44] justinmk commented on #5011
That's fine.  A single isolated messy switch is low-risk. This isn't a function that's going to see lots of changes, special cases, or inline logic.

[2016-07-08 00:41] riannucci commented on #4578
FWIW, this still happens fairly reliably w/ v0.1.5-564-g6cee9d1

[2016-07-08 18:12] eraserhd opened #5019 "`.` does not work in terminal"
Fillin' out this bug-like form, but it's more like a feature request.

- `nvim --version`:
[code]
- Vim (version: ) behaves differently? N/A
- Operating system/version: Mac OS 10.11.?
- Terminal name/version: Terminal.app
- `$TERM`: screen-256color

### Actual behaviour

`E21: Cannot make changes, modifiable is off.` (sometimes)
<no output> (other times)

### Expected behaviour

Repeat last "inser

[2016-07-08 21:11] justinmk commented on #4266
@wsdjeg Could you see if this is still a problem on latest master? I wonder if https://github.com/neovim/neovim/pull/4646 fixed it.

[2016-07-08 21:31] justinmk commented on #4266
This appears to be the same (documentation) issue as https://github.com/neovim/neovim/pull/4950#discussion_r68512337

[2016-07-08 22:26] justinmk opened #5022 "timers: ":delfunction" on timer callback causes a segfault"
### Steps to reproduce using `nvim -u NORC`

[code]

[2016-07-08 22:31] justinmk opened #5023 "jobattach() function for adding handlers to an existing job"
AFAIK this doesn't exist: ability to attach `on_stdout`/`on_stderr`/etc handler to an existing job. Something like this:

    call jobattach({jobid}, {opts})

where `{opts}` is a dictionary whose structure is the same as that of `jobstart()`.

In fact I think we should deprecate `jobstart()`, rename it `job()`, and if the first argument of `job()` is a job id, operate on the existing job.

[2016-07-08 22:36] bfredl commented on #5023
Is there an intended use case for this? What happens if the job already has an handler of this kind, does it get replaced, or will both fire?

Why? jobstart is a good descriptive name, why obfuscate it?

[2016-07-08 22:39] justinmk commented on #5023
Use case is listening to `:term` output: http://stackoverflow.com/q/38216231/152142

It calls all attached handlers.

I won't insist on it. Maybe I am veering into too-clever territory.

[2016-07-08 22:42] ZyX-I commented on #5022
This is because things like timers or jobs use `ufunc_T` for their callbacks. They must use what is stored in a regular VAR_FUNC object (i.e. just `char *` function names): current variant not only leads to SEGV’s in such cases, it forbids creating “default callbacks”: C “built-in” functions that can be used for callbacks (though this is currently not used, it may be useful to e.g. implement Vim j

[2016-07-08 22:52] bfredl commented on #5023
isn't `:term` is just thin wrapper around `termopen()`, which already would allow this? Could be a naming/documentation issue.

[2016-07-08 23:00] justinmk commented on #5023
Oh god, I forgot about `termopen()`.

But then some questions:

-  why do we expose `b:terminal_job_id` _at all_ if we insist on `termopen()` for programmatic control?
- is there much reason _not_ to allow attaching additional handlers to a job?

[2016-07-08 23:06] bfredl commented on #5023
Why not? otherwise _any_ repl managing plugin would be forced to reimplement this themselves. (_regardless_ if it only manages terminals it opens itself with `termopen` or it provides functionallity to "unowned" terminals opened by the user)

Not really, except for making the code more complex, but it shouldn't be too bad (keep a list of self-ufunc_t pairs instead of one on each). I was just curio

[2016-07-08 23:10] bfredl commented on #5023
There is also the slight issue of racyness, if someone does
[code]
do we promise it to be race-free? Or slightly more relevantly
[code]
where it is not entirely obvious to what extent `do_something()` invokes event processing.

[2016-07-08 23:19] justinmk commented on #5023
I'd say the same use case of "providing functionality to unowned terminals" drives the request for `jobattach()`: if a plugin needs to listen to a `:term` opened by the user or some other plugin.

Do you mean because a `on_stdout` must be evaluated, and can have side-effects? I think it should be treated (in documentation and implementation) the same as autocmd handlers: if multiple `autocmd` hand

[2016-07-08 23:24] bfredl commented on #5023
No I meant: could some prefix of the output already be processed before the handler gets registered and thus not seen by the handler? Reasonably not in the first case, but consider if `do_something` does "unrelated" event processing.

[2016-07-08 23:27] bfredl commented on #5022
Maybe we should add a `callback_T` internal type that right now just is an owned `char *` but in the future could be extended to partials/lambdas/callable references without needing to refactor all users of it?

[2016-07-08 23:29] justinmk commented on #5023
Not sure I see the problem. Any handler that's added after the first one must expect that it could miss data since the initial call. We can document that to make it extra clear.

[2016-07-09 00:16] ZyX-I commented on #5022
@bfredl I also think that it is good idea, but not as an alias to `char`: this variant makes compiler not check many things AFAIK (not sure about aliasing `char *`, but if switched to something like my extended-funcrefs `FunctionReference` type would be a struct recorded as `FunctionReference*`, I do not remember any aliases to any `struct *`; also do not forget that style guide requires `CamelCas

[2016-07-09 09:34] bfredl commented on #5023
Right, it is a problem of documentation and expectation management. But if we include say a streamreader helper for plugins that only are interested in the complete stdout on exit, the question is if we want to allow the interface
[code]
where "on_complete_output" is called on exit/stdout-eof with the complete output (with partial lines properly joined)
or if we are prefer an interface that don't

[2016-07-09 09:39] bfredl commented on #5022
I would imagine it being a wrapping struct that preferably only need be accessed by consumers using `callback_call` and `callback_free`. Actually to accommodate @justinmk:s proposal #5023 to attach multiple handlers with different self-dictionaries, we could already make it a struct of a function name and a (nullable) self-pointer.

[2016-07-09 11:07] #4943 closed

[2016-07-09 14:10] mhinz commented on #4997
But then it would be possible that you don't even see the prompt if you switch back to a smaller window with the same window.

Basically we only have these options:

- **old way**: Resize the terminal to the smallest embedding window which renders excess space in bigger windows unusable.
- **new way**: Make the terminal dimentions fit into the current window. Problem: If you came from a smaller wi

[2016-07-09 17:28] joshtriplett opened #5024 ":terminal doesn't handle Ctrl-Arrows correctly"
- `nvim --version`:

[code]
- Vim (version: ) behaves differently?

N/A; vim doesn't have :terminal
- Operating system/version:

Latest Debian sid, with neovim 0.1.4-1 from experimental.
- Terminal name/version:

gnome-terminal 3.20.2
- `$TERM`:

xterm-256color
### Actual behaviour

Pressing Ctrl-Left or Ctrl-Right produces a string of invalid characters (on my terminal, they look like the Unicode

[2016-07-09 17:53] joshtriplett opened #5026 "Please support setting terminal title in :terminal"
- `nvim --version`:

[code]

- Vim (version: ) behaves differently?

N/A; vim doesn't have :terminal.

- Operating system/version:

Latest Debian sid, with neovim package 0.1.4-1 from experimental.

- Terminal name/version:

gnome-terminal 3.20.2

- `$TERM`:

xterm-256color

### Actual behaviour

Terminal control sequences to set the terminal title get ignored.

### Expected behaviour

Terminal co

[2016-07-09 17:54] justinmk commented on #5024
keep an eye on https://github.com/neovim/neovim/pull/5014
---
btw, regarding your debian bug: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=830580 see https://github.com/neovim/neovim/issues/1646 for discussion of why we don't support vimdiff etc.

[2016-07-09 17:59] joshtriplett opened #5027 "Background color detection for terminals"
(Also reported as a [vim issue](https://github.com/vim/vim/issues/869), though I have more hope of a fix here.)

Vim's automatic background color detection works in GUI mode, but not in a terminal.

On any xterm-compatible terminal, vim could detect the background color via terminal escapes (documented in <http://invisible-island.net/xterm/ctlseqs/ctlseqs.html>) and use that to automatically detec

[2016-07-09 18:03] justinmk commented on #5027
Seems like you are familiar with many terminal details. PR would be welcome :) Typically these requests for terminal tweaks get pushed to the back of the queue, but working code won't be ignored.

[2016-07-09 18:06] joshtriplett commented on #5024
@justinmk #5014 does look related, thanks.

Regarding vimdiff (off topic for this bug, but I'll post this to the Debian bug report), it'd be easy enough for the Debian package to have a shell script "nvimdiff" that just does `exec nvim -d "$@"`, and then install that as an alternative for /usr/bin/vimdiff.  Likewise "nview" and `nvim -R`.  I agree that they don't need special `argv[0]` checks in n

[2016-07-09 18:12] justinmk commented on #5024
`packpath` was added this morning, thanks to @jamessan :)

[2016-07-09 18:23] joshtriplett commented on #5026
Looking through neovim's source, it looks like neovim already captures the terminal title as the buffer-local variable `b:term_title`.  The feature request would then be to change the default `statusline` for a `:terminal` buffer to `%{b:term_title}`.

Note that neovim currently doesn't set `b:term_title` to any default value, so this will produce an error until the terminal sets the title; I'd su

[2016-07-09 18:31] sach1t commented on #4663
The pull request above, however, is not a hack.

[2016-07-09 18:32] justinmk commented on #5026
Not sure how I feel about special-casing the statusline. Perhaps the only thing needed is to give `b:term_title` a default value, then clearly document w/ sample code the way a user can achieve your use-case.

[2016-07-09 18:35] sach1t commented on #3182
This was fixed with pull request #4873 which is already merged into master. I just tried it out right now to make sure and it does print "hello" now.

[2016-07-09 18:43] joshtriplett commented on #5026
Given the number of terminal applications that set the terminal title, which most terminal emulators (including GNU screen and tmux) automatically handle by setting the window/tab title, I think it'd be more user-friendly for the terminal mode's status line to handle this as well.

If you don't want to handle this by setting 'statusline', you could have the default statusline (the one used with 's

[2016-07-09 18:51] justinmk commented on #5026
No objection there (PR would be accepted), but it's not going to fix the problem for most people who make a least 1 tweak to the default statusline.

However this raises another thing that's bugged me for awhile: it should be easier to tweak the default statusline.

[2016-07-09 18:53] #3182 closed

[2016-07-09 18:54] joshtriplett commented on #5026
True.  A custom 'statusline' can't *quite* emulate what the internal statusline (implemented in win_redr_status https://github.com/neovim/neovim/blob/master/src/nvim/screen.c#L4806) does.  It'd be nice to pull all those special-cases *out* of C code and handle them via a default value for 'statusline' instead.  Then, anyone who wants to customize the statusline can start with the *exact* value nvi

[2016-07-09 19:13] justinmk commented on #5023
Instead of `on_complete_stdout`, could we send the entire data as an argument to `on_exit`?

[2016-07-09 19:19] bfredl commented on #5023
This usecase seems common enough to warrant a simple convenient solution, so sounds reasonable to me.

[2016-07-09 21:31] jamessan commented on #5026
What about a new escape sequence for `'statusline'` that would handle this?  For non-`:terminal` buffers, it would expand to an empty string, otherwise the title of the process.

[2016-07-09 21:33] jamessan commented on #5024
Yeah, I specifically wanted to get that into Neovim ASAP, so I could update Debian's vim-addon-manager to use it, as I think we've discussed before.

[2016-07-09 21:39] justinmk opened #5028 "change "nvim" to "ni" everywhere"
Yes, this is a voting issue (we have not had one of these since early 2014). Everyone is encouraged to use "thumbs up" or "thumbs down" button to vote.

It's fine whichever way you vote. Please read [this comment and the comments below it](https://github.com/neovim/neovim/pull/4934#issuecomment-231551351) for discussion about why rename should be considered.

- If you vote against rename, meaning

[2016-07-09 22:05] ZyX-I commented on #5028
Ref @neovim/core

[2016-07-09 23:34] wsdjeg commented on #5028
I hava two alise in my bashrc.
[code]
it is because nvim is too long for me.
BTW, `ni` LGTM

[2016-07-10 00:03] PonderingGrower commented on #5028
Completely pointless. Anyone can make an alias if they want to.

[2016-07-10 00:56] tarruda commented on #5028
I don't think names are important enough to justify this change. Long after the move to xdg directories we still got questions about why `nvimrc` stopped working, and even though change was a bit inconvenient, it had a good purpose in the end.

Changing the name to `ni` is going to be inconvenient(move config locations, have to uninstall existing executable and share dir), is going to confuse user

[2016-07-10 07:16] timeyyy commented on #5028
:-1:

[2016-07-10 09:06] rumpelsepp commented on #5028
:-1:

[2016-07-10 11:08] timfeirg commented on #3929
can you try disable the `disable session-initiated window resizing` in iterm2?

<img width="910" alt="preferences" src="https://cloud.githubusercontent.com/assets/4319104/16713180/a83fc5f2-46d1-11e6-95df-bb390133da0b.png">

[2016-07-10 11:15] bfredl commented on #4772
Hmm, it doesn't seem writing to `/dev/stderr` words when stderr is an unnamed pipe, `/dev/stderr` is a link to `/proc/self/fd/2` which then is a link to something like `socket:[1077040]` which not is a valid path. I discovered this when debugging the test for #4723 , and tried to write to stderr in a nested embedded nvim instance to a handler in the tested instance.
I suppose nvim could special ca

[2016-07-10 11:53] chiedo commented on #5028
:-1:

[2016-07-10 11:57] hoffi commented on #5028
👎

[2016-07-10 12:01] the-kenny commented on #5028
People. You're supposed to press the 'thumbs up' or 'thumbs down' button under the original issue comment. Not write your vote as a comment.

[2016-07-10 12:14] PonderingGrower commented on #5028
Don't tell me what to do.

[2016-07-10 12:15] cfree3 commented on #5028
I find `nvim` really easy to type; `ni` would be an adjustment -- so I don't see "ease of typing" as a benefit of the change. (Aliases can remedy any such problems, though.)

Ultimately, though, I voted 👍🏼 (on the original comment). Make sure you follow the OP link and read up on the reasoning behind this suggestion before casting a vote either way.

I appreciate the _Monty Python_ reference (and

[2016-07-10 12:21] tpabst commented on #5028
Bad idea !

[2016-07-10 12:37] rgoulter commented on #5028
I can't see any technical merit to the use of `ni` over `nvim` (or `neovim`).

And `neovim`/`nvim` do not seem abysmal in terms of marketing. (Is there concern that people won't try neovim, because ...?).

As for the 'cultural' aspect, whether neovim is far distinct from Bram Moolenar's vim to require that "neovim" is a misleading name: even the toplevel readme.md begins with "[this project] is a

[2016-07-10 13:17] PonderingGrower commented on #5028
Completely agree with rgoulter@.  Neovim is already a well known name, I really don't think changing a name will bring some kind of marketing advantage or whatever you might call it.

Arguing whether neovim is a type of vim which is a type of vi is pointless, this project is already well known.

Open software never had good naming, but I don't see as Neovim as particularly abysmal example of that

[2016-07-10 13:19] sagotsky commented on #5028
-1

I just don't like the name "ni"

[2016-07-10 13:28] m-abs commented on #5028
It's an editor not a knight, don't say ni. :-1:

[2016-07-10 13:48] codeinabox commented on #5028
👎

[2016-07-10 14:23] juddy commented on #5028
👎 nay.

[2016-07-10 14:50] ashwin commented on #5028
:-1:

[2016-07-10 14:52] ZyX-I commented on #5028
@rgoulter Vim now does have job control. In fact, Bram started to reimplement our features: specifically he already added

- channels and jobs: long since we added ours, but it is not an easy task
- capture() (though under different name): almost immediately after we merged it
- timestamped viminfo entries, with back and forward compatibility: quite a bit after I created ShaDa

Nothing was impleme

[2016-07-10 14:53] geowa4 commented on #5028
While I'm not the biggest fan if the name "ni", I can recognize the need to remove references to "vim". Neovim's aspirations are not aligned with Vim. To Neovim, Vim is a historical foundation upon which it will build new, great things. To keep the name, it will always be grounded in the reputation of Vim, for better or worse. As little as we would like to admit it, a name goes a long way toward l

[2016-07-10 14:55] ZyX-I commented on #5028
@geowa4 Vim itself always lived with a name that connects him to Vi.

[2016-07-10 16:05] justinmk commented on #5028
Seems clear. Thanks everyone.

[2016-07-10 16:05] #5028 closed

[2016-07-10 16:45] ZyX-I commented on #5028
Interesting. As core member I can comment and alter labels here, but yet emoji manipulations are locked.

[2016-07-10 17:16] ZyX-I commented on #5022
I think it is better to reimplement `extended-funcref` Vim branch, this allows VAR_FUNCTION to be a struct like `{ FunctionMethods *meths; void *cookie; }` (though I now think it should be like Python’s PyObject’s: basically a PyObject one of the collection of structs, each having the same header which contains “public API” (i.e. reference to type object)).

[2016-07-10 17:37] justinmk commented on #4772
@bfredl what's `os_nodetype` returning in that case?

[2016-07-10 18:57] bfredl commented on #4772
Node type is `NODE_WRITABLE`, perhaps as this gets interpreted as `/proc/self/fd/socket:[1077040]` (which is not writable, but the permission bits of `/proc/` maybe makes it look so).
The problem is that `/proc/self/fd/` (and thus `/dev/stdXXX`) is a leaky abstraction: it works for pty:s (as they exist as named devices in `/dev/pts/`) and (at least non-moved, non-unlinked) regular files, but not f

[2016-07-10 23:32] timeyyy commented on #4816
@mhinz feel free to throw in name suggestions for the new arbitrary marks
we can do a poll after we collect some names

[2016-07-10 23:45] mhinz commented on #4816
Oh, I was only 63% serious when I said it on Twitter, but it was mainly a reaction to: https://github.com/neovim/neovim/pull/5031#discussion_r70189881

(That said, I actually do prefer `extmark` over `arbmark`.)

[2016-07-11 05:41] romgrk opened #5034 "Syntax coloring in foldtext and Folds on specific columns"
Duplicate of https://github.com/neovim/neovim/issues/2197, but I also wanted to check if a PR on this would be get merged.
Though I haven't looked at the fold code, is this reasonnably implementable?

The title also mention folds on specific columns; this is in expectation of an hypothetic (G)UI, that could display more funky stuff. I've been toying with UI implementation and the biggest drawback

[2016-07-11 06:18] justinmk commented on #5034
Sure, anything with decent test coverage will get merged unless it totally doesn't fit with typical vim or neovim "UX".

(p.s.: You can just ask in that issue, next time.)

No idea.

[2016-07-11 06:18] #5034 closed

[2016-07-11 06:45] joshtriplett opened #5035 "Please support detaching and reattaching, like screen/tmux"
With nvim's terminal mode, if it had the ability to detach and reattach, it could serve as a replacement for screen or tmux.

This would require a few additional bits:
- A `:detach` function, to stop running the text UI and daemonize into a --headless instance that will survive the current user session ending.
- A command-line argument to list running nvim instances.
- Command-line arguments to at

[2016-07-11 06:57] justinmk commented on #5035
See https://github.com/neovim/neovim/issues/2706#issuecomment-103715550

[2016-07-11 12:47] KillTheMule opened #5040 "Vim-patch: Convert plugins to packages"
This issue is here to point out an easy entry-level task. After jamessan's [monumental effort](https://github.com/neovim/neovim/pull/4648) in porting the packages functionality of vim to neovim, there are some patches from vim that convert existing plugins to the new format. If you want to get your feet wet contributing to neovim, that would be an easy starting task.

Here's the list (I might have

[2016-07-11 15:53] daenney opened #5043 "Setting puppet in markdown_fenced_languages causes a loading error"
- `nvim --version`:
[code]
- Operating system/version: macOS Sierra beta2
- Terminal name/version: iTerm2 3.0.4
- `$TERM`: xterm-256color

### Actual behaviour

Vim throws an error whenever I try to open a Markdown file, but everything seems to work once I dismiss it:
[code]
### Expected behaviour

Vim would open a Markdown file without showing that error.

### Steps to reproduce using `nvim -u NO

[2016-07-11 15:55] daenney commented on #5043
Oh god I just figured out why this happens. I'm using Plug's feature to lazy-load plugins so the Puppet plugin wasn't actually loaded until I opened a Puppet file, after which the error went away.

[2016-07-11 15:55] #5043 closed

[2016-07-11 16:04] jacoborus opened #5044 "TOhtml uses xterm colors instead 24bit"
- `nvim --version`:  0.1.5-dev

[code]

- classic Vim behaves differently?: no idea
- Operating system/version: Ubuntu 16.04
- Terminal name/version: Gnome terminal 3.18.3
- `$TERM`: xterm-256color

### Actual behaviour

Exported HTMLs have xterm colors

### Expected behaviour

Exported HTMLs should use hex values from colorscheme

### Steps to reproduce using `nvim -u NORC`

I don't know how to e

[2016-07-11 17:27] ZyX-I commented on #5044
This script is not maintained here, you should contact TOhtml plugin maintainer.

[2016-07-11 17:27] #5044 closed

[2016-07-11 20:31] ZyX-I opened #5046 "String_eq from map.c is incorrect"
[code]

will return true if

1. a is `\0a` and b is `\0b`.
2. a is `a` and b is `ab`.

if this is intended this should be documented, but otherwise it 1. must use `memcmp`, not `strncmp` and 2. return false if `a.size != b.size`, not use MIN.

[2016-07-11 20:35] dmerejkowsky commented on #5046
Note that the function does not seem to be used anywhere :)

[2016-07-12 08:51] mhinz commented on #5040
I really wonder how many people are actually using these packages. Not that many, I assume. If at all, probably the `dvorak` or maybe the `swapmouse` package.

https://github.com/vim/vim/releases/tag/v7.4.1674 doesn't apply to us (at the moment), since we don't have `remote_expr()` and friends.

[2016-07-12 08:59] KillTheMule commented on #5040
Jamessan mentioned that it's very usefull for the people packaging for the distributions. And since the feature was ported, it at least makes sense to stay with upstream I'd say.

My main motivation is to expose easy entry-level tasks though, and these pretty much fit the bill. It's not like they hurt :)

I've removed 1674 from the list, thanks!

[2016-07-12 09:22] nikitavoloboev opened #5052 "How can I have cmd + c work in neovim in iTerm on macOS?"
- `nvim --version`: 0.1.4
- Operating system/version: macOS ver.  10.11.5
- Terminal name/version: iTerm v. 3.0.4

### Actual behaviour

When I select text and press cmd + c, it does not copy text to the system clipboard. Can I make this work? I know I can use 'y' to copy text and that works, however I have certain functions like 'search selected text in google' that require me to use cmd + c to c

[2016-07-12 09:43] mhinz commented on #5052
Opposed to Vim, Neovim uses `mouse=a` by default. That means Vim uses the mouse for its own visual selections, so that iTerm won't even see them.

Either put `set mouse=` in your init.vim, or hold `alt` while making the selection. See `:h 'mouse'` for more information.

[2016-07-12 09:43] #5052 closed

[2016-07-12 09:49] jamessan commented on #5040
Are you questioning whether they should be removed instead of made more accessible?  The suggested patches just make it easier to use the scripts.

[2016-07-12 09:51] nikitavoloboev commented on #5052
I have tried putting 'set mouse=' in my init.vim but this does not work. It still does not save my selection to the clipboard.

[2016-07-12 09:58] mhinz commented on #5040
The former, but I didn't want to suggest to remove them, because compatibility and all that.

[2016-07-12 10:00] mhinz commented on #5052
What's the output of `:verb set mouse?`?

[2016-07-12 10:05] nikitavoloboev commented on #5052
Here is what I get :

![2016-07-12 at 12 04](https://cloud.githubusercontent.com/assets/6391776/16763382/de10a3ba-4828-11e6-942e-e5ff05d5ced9.png)

After pressing enter, it just goes away.

[2016-07-12 10:07] mhinz commented on #5052
Hmm.. When you say "select text", you mean using the mouse, right?

[2016-07-12 10:08] nikitavoloboev commented on #5052
Just normal text selection with V. But selecting text with the mouse doesn't work as well. It selects the text, but pressing cmd + c on it, does not copy it to my clipboard.

[2016-07-12 10:19] mhinz commented on #5052
Well, it doesn't work like that. :) It's not possible in Vim either.

If you select something in Vim (that is with `v` and friends or with the mouse while `mouse=a`), iTerm never sees that selection, so `cmd+c` won't work either.

If you really need to use `cmd+c`, you have to use the mouse for selecting and set `mouse=`. I suggest fixing your script to use the output of `pbpaste` instead.

[2016-07-12 10:21] mhinz commented on #5009
No one chimed in and it's easy to create your own commands for this, if `:vs | te` is still too long. Closing.

[2016-07-12 10:21] #5009 closed

[2016-07-12 10:24] nikitavoloboev commented on #5052
I see. Well I just need it to have my dash selection and google selection working. That is I select text, press a hotkey and it will search documentation or google. I also want to add snippets to typinator from selection and all that require the use of cmd + c.

I am not sure what I should modify to have it working. I really want this to work and I want to have it work without me having to select

[2016-07-12 11:55] mnacamura opened #5053 "Add word in spell checking causes segfault when `LANG=ja_JP.UTF-8`"
- `nvim --version`: v0.1.5-587-g335be42
- Operating system/version: OS X El Capitan
- Terminal name/version: iTerm2 Build 3.0.4
- `$TERM`: `xterm-256color`

### Steps to reproduce using `nvim -u NORC`

[code]
Then, `:set spell` and `zg` causes segfault:
[code]
This does not occur if I unset `LANG`.

[2016-07-12 11:58] mhinz commented on #5053
Can you reproduce this in bash, too?

[2016-07-12 12:08] mnacamura commented on #5053
Yes. I confirmed this in bash and zsh, too.

[2016-07-12 12:32] mhinz commented on #5053
Hmm, I can't reproduce this. I simply get this error: `E764: オプション 'spellfile' は設定されていません`.

[2016-07-12 12:34] mhinz commented on #5053
Wait, I can reproduce it, but not with `-u NORC`. I'll investigate.

[2016-07-12 12:44] mnacamura commented on #5053
I added `:set spell` before `zg` in the steps to reproduce it.
Sorry for inconvenience.

[2016-07-12 13:28] mhinz commented on #5053
Okay, here's the backtrace, although I don't really see why this is happening in `strlen()`:

[code]

[2016-07-12 13:56] justinmk commented on #5052
Use clipboard=unnamed

[2016-07-12 14:03] nikitavoloboev commented on #5052
I have the line 'set clipboard=unnamed' in my init.vim already. This only allows me to have the text I copy with 'y' to be brought to system clipboard but I still cannot use cmd + c.  Is that the command you meant?

[2016-07-12 14:05] justinmk commented on #5052
Ok, yes. You could setup iterm to send a unique sequence when cmd C is pressed. Then you could map that sequence in n/vim.

[2016-07-12 14:15] nikitavoloboev commented on #5052
hey justinmk,

I am very new to nevim and vim and I am really not sure how I can do such a thing. How would I setup my iTerm in this way?

Thank you a lot for your help.

[2016-07-12 15:26] chemzqm commented on #5052
@nikitavoloboev
<img width="847" alt="screen shot 2016-07-12 at 11 19 15 pm" src="https://cloud.githubusercontent.com/assets/251450/16772513/28044658-4887-11e6-8c4e-740d52bf4583.png">
and you can remap <ctrl>+c to save content to clipboard like:

  vnoremap <M-c> "+y

[2016-07-12 17:09] nyarly opened #5054 "Replace the builtin pager"
- `nvim --version`: NVIM 0.1.4
### Actual behaviour

When doing e.g. `:map`, nvim uses the old clunky vim pager. Which cannot, for instance, _search text._
### Expected behaviour

Totally open - I'd be happy with `:terminal less` or putting the text-to-be-paged into a readonly temporary buffer so that I can stay in Vim interfaces.
### Steps to reproduce using `nvim -u NORC`
1. `runtime mappings.vi

[2016-07-12 17:22] nikitavoloboev commented on #5052
@chemzqm

This seems to nearly work. However there are two issues :

1. Now for some reason, when I try to open anything with nevim, it says that 'No mapping is found' like so :

![2016-07-12 at 19 20](https://cloud.githubusercontent.com/assets/6391776/16776454/b6472682-4865-11e6-9537-a0b921717a01.png)

2. Now cmd + c seems to cut the text rather than copy.

What should I do to correct these issue

[2016-07-12 17:23] justinmk commented on #5054
You can do `:put =capture('map')` and search the buffer.

Note: `capture()` will be renamed to `execute()` since Vim added that function recently.

[2016-07-12 17:25] justinmk commented on #5052
@nikitavoloboev Need you to share your precise configuration. Preferably by reproducing it using `nvim -u NORC` (not your entire init.vim).

[2016-07-12 17:28] nikitavoloboev commented on #5052
@justinmk
the command ```nvim -u NORC``` just opens a new nvim window, is that what it should do?

I am not sure how I can share my precise configuration with you.

[2016-07-12 18:18] nyarly commented on #5054
Maybe in master? 0.1.4 doesn't have that yet - I get "Unknown function: capture"

[2016-07-12 19:12] justinmk commented on #5052
My comment was a bit confusing. anyways, I guess just post your init.vim somewhere

[2016-07-12 19:14] chemzqm commented on #5052
@nikitavoloboev I've corrected the mapping, try typing `:vnoremap <M-c> "+y` and use `option` + `c` to check if selected content copied to your system clipboard.

[2016-07-12 19:21] justinmk commented on #5040
I thought we did remove most of those plugins, already. Which plugins specifically are we talking about?

P.s.: we don't want logipat.

[2016-07-12 19:25] KillTheMule commented on #5040
Ah yeah, 1672 (dvorak) has been removed. Should we mark [1674](https://github.com/vim/vim/releases/tag/v7.4.1674) and [1672](https://github.com/vim/vim/releases/tag/v7.4.1672) as NA?

[2016-07-12 20:11] jamessan commented on #5009
The only command that would need to be added is `:sterminal`.  Then `:vert` could be used to modify the direction or `:tab` to push the split to a new tab.

[2016-07-12 20:50] jamessan commented on #5053
There's a bad translation for the string.

    smsg(_("Word '%.*s' added to %s"), len, word, NameBuff);

The `%.*s` tells vim_vsnprintf to format the first `len` characters of `word` into the output.  However, `_()` is called first and the string that it returns is

    %s に単語が追加されました

The only format code in the translation is `%s`, so instead of using `len` as the number of characters for format

[2016-07-12 21:03] petRUShka opened #5055 "Neovim is extremly slow with folding and python (GetPythonIndent)"
- `nvim --version`:
  NVIM 0.1.4

[code]
- Vim (version: ) behaves differently
  VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Jun  9 2016 09:35:51)
  Included patches: 1-1910
  Compiled by Arch Linux
- Operating system/version: Arch Linux
- Terminal name/version: xterm
- `$TERM`:

There is a quite big python file. And `set foldmethod=indent`. So all folds are closed. In normal mode I press `O` (ne

[2016-07-12 21:12] nikitavoloboev commented on #5052
@justinmk

[Here](https://github.com/nikitavoloboev/dotfiles/blob/master/vim/nvim/nvimrc) is my init.vim.

@chemzqm

I am not really sure how does the mapping work as +y is commented out for me due to " being a comment :

![2016-07-12 at 23 09](https://cloud.githubusercontent.com/assets/6391776/16783795/f007dd88-4885-11e6-9c2e-20b3bb97e399.png)

I tried putting it and trying out option + c and it

[2016-07-12 21:13] blueyed commented on #4550
btw: this is provided through the vim-qf plugin in a smart way: in `after/ftplugin/qf.vim` `b:isLoc` gets set:
https://github.com/romainl/vim-qf/blob/54c18ae1d2b300868321e15c9867eee7cb0a0bad/after/ftplugin/qf.vim#L30

[2016-07-12 21:24] jamessan commented on #5055
The indent script itself hasn't changed between Vim and Neovim, so it appears likely to be some optimizations in the C side that we haven't merged over yet.

The time seems to be spent in `searchpair()`.

Neovim:

    1              1.398612   let parlnum = searchpair('(\|{\|\[', '', ')\|}\|\]', 'nbW', "line('.') < " . (plnum - s:maxoff) . " ? dummy :" . " synIDattr(synID(line('.'), col('.'), 1),

[2016-07-12 21:32] blueyed opened #5056 "Provide a way to set title of existing quickfix/location list"
For fugitive I've looked into setting the quickfix/loclist title for `:Log`, which uses `:grep/:lgrep` internally.

A hack would be to call `setqflist(getqflist(), 'r', new_title)` / `setloclist(0, getloclist(0), 'r', new_title`, but that is ineffective and triggers selection of the list's first item, and the help for `setqflist` mentions the following (which sounds like it might even get changed

[2016-07-12 22:00] ZyX-I commented on #5056
I think that there should not be any new methods, but API functions `void vim_set_qflist_title(String)` and `void win_set_loclist_title(Window, String)`. With API functions exported to Vim new methods will be automatically added, also somebody (AFAIR, @justinmk in #5031) mentioned that default choice for new features should be API-only and I agree here. If Vim will create such function, then we wi

[2016-07-12 22:16] mhinz commented on #5053
@mnacamura It's fixed on master: https://github.com/neovim/neovim/commit/448dd2adfa48b1b1a7dd4c5d0bb377dc09dbbd0d

Thanks for bringing it up!

[2016-07-12 22:16] #5053 closed

[2016-07-12 22:33] blueyed commented on #5056
I have tried "a", but it looked like the title would only be used for new lists?

I agree that the API approach makes sense.

[2016-07-13 00:18] mnacamura commented on #5053
Many thanks @mhinz @jamessan for your quick fix!

[2016-07-13 01:51] justinmk commented on #5055
@petRUShka Any chance you could try master?

[2016-07-13 01:58] justinmk commented on #2637
Why don't we just make `:term` buffers modifiable? We just need to set the expectation that these modifications are cosmetic only, they don't get sent to the child process.

Then, clearing scrollback is trivial...